<style>

@page { margin: 0.75cm; }
</style>

<table width="1100px" border="0" align="center" style="font-family: sans-serif;">
    <tbody>
    
    <tr>
        <td width="1100px"><table width="1100px" border="0" style="font-size: 28px; font-family: serif; margin:0 auto;">
                <tbody>
                    <tr>
                        <td height="100px" align="center" valign="middle" style="font-size: 28px;"><strong style="border-bottom:2px solid #000; line-height:35px; text-transform:uppercase;"> Affidavit of No Insurance</strong></td>
                    </tr>
                </tbody>
            </table></td>
    </tr>
    <tr>
        <td width="1100px"><table width="1100px" border="0" align="center" style="font-size: 24px; font-family: serif;">
                <tbody>
                    <tr>
                        <td align="left" width="1100px">STATE OF NEW YORK</td>
                    </tr>
                </tbody>
            </table></td>
    </tr>
    <tr>
        <td width="1100px"><table width="1100px" border="0" align="center" style="font-size: 24px; font-family: serif; margin:0 auto;">
                <tbody>
                    <tr>
                        <td align="center" valign="middle">ss:</td>
                    </tr>
                </tbody>
            </table></td>
    </tr>
    <tr>
        <td width="1100px" style="padding:0 0 30px 0;" ><table width="1100px" align="center" border="0"  style="font-size: 24px; font-family: serif;">
                <tbody>
                    <tr>
                        <td align="left" width="1100px">COUNTY OF</td>
                    </tr>
                </tbody>
            </table></td>
    </tr>
    <tr>
        <td width="1100px"><table width="1100px" border="0"  style="font-size: 22px; font-family: serif; padding:0 0 15px 0; margin:0 auto; padding:0 0 40px 0;">
                <tbody>
                    <tr>
                        <td height="40" width="24" align="left" valign="bottom" style="font-style:italic; text-transform:uppercase;">I</td>
                        <td height="40" width="474" align="left" valign="bottom" style="border-bottom:1px solid #000;"></td>
                        <td height="40" width="588" align="left" valign="bottom">, being duly sworn, according to law, deposes and says:</td>
                    </tr>
                </tbody>
            </table></td>
    </tr>
    <tr>
        <td width="1100px" style=""><table width="1100px" border="0" style="font-size: 22px; font-family: serif; margin:0 auto;">
                <tbody>
                    <tr>
                        <td  width="2px" height="50" align="left" valign="bottom">1. </td>
                        <td  width="98px" height="50" align="right" valign="bottom">That on</td>
                        <td  width="200px" height="50" align="center" valign="bottom" style="border-bottom:1px solid #000;"></td>
                        <td  width="550px" height="50" align="left" valign="bottom"> the date accident my accident occurred, I resided at</td>
                        <td  width="250px" height="50" align="center" valign="bottom" style="border-bottom:1px solid #000;"></td>
                    </tr>
                </tbody>
            </table></td>
    </tr>
    <tr><td  width="1100px" height="50" align="center" valign="bottom" >
   <table>
   	<tbody>
   		<tr>
   			<td width="1100px" height="50" align="center"  style="border-bottom:1px solid #000; margin:0 auto;">&nbsp;</td>
   		</tr>
   	</tbody>
   </table>
    </td></tr>
    <tr>
        <td width="1100px" align="center"><table width="100%" align="left" border="0" style="font-size: 22px; font-family: serif; padding:0 0 15px 0;">
                <tbody>
                    <tr>
                        <td  width="54" height="50" align="left" valign="bottom" >2. </td>
                        <td height="50" width="1036" align="left" valign="bottom" >As of that date, these persons, and no other resided in my household at that Address</td>
                    </tr>
                </tbody>
            </table></td>
    </tr>
    <tr>
        <td width="1100px"><table width="100%" border="0" style="font-size: 20px; font-family: serif; margin:0 auto;">
                <tbody>
                    <tr>
                        <td  width="55" height="50" align="left" valign="bottom" ></td>
                        <td  width="787" height="50" align="left" valign="bottom"><strong>I alone resided at the above mentioned address and date of accident</strong>.(initials)</td>
                        <td  width="171" height="50" align="center" valign="bottom" style="border-bottom:1px solid #000;"></td>
                        <td  width="65" height="50" align="center" valign="bottom"></td>
                        <td width="0"></td>
                    </tr>
                </tbody>
            </table></td>
    </tr>
    <tr>
        <td width="1100px"><table width="1100px" border="0" style="font-size: 24px; font-family: serif; margin:0 auto;">
                <tbody>
                    <tr>
                        <td height="40" width="63" align="left" valign="bottom" >Name:</td>
                        <td height="40" width="460" align="left" valign="bottom" style="border-bottom:1px solid #000;"></td>
                        <td height="40" width="92" align="right" valign="bottom" >Name:</td>
                        <td height="40" width="467" align="left" valign="bottom" style="border-bottom:1px solid #000;"></td>
                    </tr>    
                </tbody>
                
            </table></td>
    </tr>
    
        <tr>
        <td width="1100px"><table width="1100px" border="0" style="font-size: 24px; font-family: serif; margin:0 auto;">
                <tbody>
               <tr>
                        <td height="40" width="56" align="left" valign="bottom" >DOB:</td>
                        <td height="40" width="344" align="left" valign="bottom" style="border-bottom:1px solid #000;"></td>
                           <td height="40" width="119" align="left" valign="bottom"></td>
                        <td height="40" width="88" align="right" valign="bottom" >DOB:</td>
                        <td height="40" width="344" align="left" valign="bottom" style="border-bottom:1px solid #000;"></td>
                           <td height="40" width="123" align="left" valign="bottom" ></td>
                    </tr>   
                </tbody>
                
            </table></td>
    </tr>
    
            <tr>
        <td width="1100px" style="padding:0 0 15px 0;"><table width="1100px" border="0" style="font-size: 24px; font-family: serif; margin:0 auto;">
                <tbody>
         <tr> <td height="40" width="114" align="left" valign="bottom" >Relatioship:</td>
                    <td height="40" width="390" align="left" valign="bottom" style="border-bottom:1px solid #000;"></td>
                    <td height="40" width="179" align="right" valign="bottom" >Relationship:</td>
                    <td height="40" width="399" align="left" valign="bottom" style="border-bottom:1px solid #000;"></td></tr>   
                </tbody>
                
            </table></td>
    </tr>
    
    
      <tr>
        <td width="1100px"><table width="1100px" border="0" style="font-size: 24px; font-family: serif; margin:0 auto;">
                <tbody>
                    <tr>
                        <td height="40" width="63" align="left" valign="bottom" >Name:</td>
                        <td height="40" width="463" align="left" valign="bottom" style="border-bottom:1px solid #000;"></td>
                        <td height="40" width="94" align="right" valign="bottom" >Name:</td>
                        <td height="40" width="462" align="left" valign="bottom" style="border-bottom:1px solid #000;"></td>
                    </tr>    
                </tbody>
                
            </table></td>
    </tr>
    
        <tr>
        <td width="1100px"><table width="1100px" border="0" style="font-size: 24px; font-family: serif; margin:0 auto;">
                <tbody>
               <tr>
                        <td height="40" width="56" align="left" valign="bottom" >DOB:</td>
                        <td height="40" width="344" align="left" valign="bottom" style="border-bottom:1px solid #000;"></td>
                           <td height="40" width="124" align="left" valign="bottom"></td>
                        <td height="40" width="87" align="right" valign="bottom" >DOB:</td>
                        <td height="40" width="340" align="left" valign="bottom" style="border-bottom:1px solid #000;"></td>
                           <td height="40" width="123" align="left" valign="bottom" ></td>
                    </tr>   
                </tbody>
                
            </table></td>
    </tr>
    
            <tr>
        <td width="1100px" style="padding:0 0 15px 0;"><table width="1100px" border="0" style="font-size: 24px; font-family: serif; margin:0 auto;">
                <tbody>
         <tr> <td height="40" width="114" align="left" valign="bottom" >Relatioship:</td>
                    <td height="40" width="390" align="left" valign="bottom" style="border-bottom:1px solid #000;"></td>
                    <td height="40" width="180" align="right" valign="bottom" >Relationship:</td>
                    <td height="40" width="398" align="left" valign="bottom" style="border-bottom:1px solid #000;"></td></tr>   
                </tbody>
                
            </table></td>
    </tr>
    
      <tr>
        <td width="1100px"><table width="1100px" border="0" style="font-size: 24px; font-family: serif; margin:0 auto;">
                <tbody>
                    <tr>
                        <td height="40" width="63" align="left" valign="bottom" >Name:</td>
                        <td height="40" width="463" align="left" valign="bottom" style="border-bottom:1px solid #000;"></td>
                        <td height="40" width="96" align="right" valign="bottom" >Name:</td>
                        <td height="40" width="460" align="left" valign="bottom" style="border-bottom:1px solid #000;"></td>
                    </tr>    
                </tbody>
                
            </table></td>
    </tr>
    
        <tr>
        <td width="1100px"><table width="1100px" border="0" style="font-size: 24px; font-family: serif; margin:0 auto;">
                <tbody>
               <tr>
                        <td height="40" width="56" align="left" valign="bottom" >DOB:</td>
                        <td height="40" width="344" align="left" valign="bottom" style="border-bottom:1px solid #000;"></td>
                           <td height="40" width="119" align="left" valign="bottom"></td>
                        <td height="40" width="90" align="right" valign="bottom" >DOB:</td>
                        <td height="40" width="342" align="left" valign="bottom" style="border-bottom:1px solid #000;"></td>
                           <td height="40" width="123" align="left" valign="bottom" ></td>
                    </tr>   
                </tbody>
                
            </table></td>
    </tr>
    
            <tr>
        <td width="1100px" style="padding:0 0 20px 0;"><table width="1100px" border="0" style="font-size: 24px; font-family: serif; margin:0 auto; ">
                <tbody>
         <tr> <td height="40" width="123" align="left" valign="bottom" >Relatioship:</td>
                    <td height="40" width="400" align="left" valign="bottom" style="border-bottom:1px solid #000;"></td>
                    <td height="40" width="154" align="right" valign="bottom" >Relationship:</td>
                    <td height="40" width="405" align="left" valign="bottom" style="border-bottom:1px solid #000;"></td></tr>   
                </tbody>
                
            </table></td>
    </tr>
    

    <tr>
        <td width="1100px" align="center"><table width="1100px" align="left" border="0" style="font-size: 22px; font-family: serif; padding:0 0 10px 0;">
                <tbody>
                    <tr>
                        <td  width="60px" height="50" align="left" valign="bottom" >3. 

 
 </td>
                        <td height="50" width="1040px" align="left" valign="bottom" > As of that date none of the above owned a vehicle or were nama as insured.</td>
                    </tr>
                </tbody>
            </table></td>
    </tr>
        <tr>
        <td width="1100px" align="center"><table width="1100px" align="left" border="0" style="font-size: 22px; font-family: serif; padding:0 0 10px 0;">
                <tbody>
                    <tr>
                        <td  width="60px" height="50" align="left" valign="bottom">4. </td>
                        <td height="50" width="260px" align="left" valign="bottom">That my date of birth is</td>
                          <td height="50" width="190px" align="left" valign="bottom" style="border-bottom:1px solid #000;"></td> 
                           <td height="50" width="350px" align="left" valign="bottom">and my social security number is</td>
                            <td height="50" width="250px" align="left" valign="bottom" style="border-bottom:1px solid #000;"></td>
                    </tr>
                </tbody>
            </table></td>
    </tr>
        <tr>
        <td width="1100px" align="center"><table width="1100px" align="left" border="0" style="font-size: 22px; font-family: serif; padding:0 0 10px 0;">
                <tbody>
                    <tr>
                        <td  width="60px" height="50" align="left" valign="bottom" >5. </td>
                        <td height="50" width="1040px" align="left" valign="bottom" >That I am not otherwise entitled or eligible to receive No-Fault benefits.</td>
                    </tr>
                </tbody>
            </table></td>
    </tr>
        <tr>
        <td width="1100px" align="center"><table width="1100px" align="left" border="0" style="font-size: 22px; font-family: serif; padding:0 0 10px 0;">
                <tbody>
                    <tr>
                        <td  width="60px"  align="left" valign="bottom" >6. </td>
                        <td  width="1040px" align="left" valign="bottom"  >I have received and am recieving medical treatment for my person injuries and will have 
</td>
                    </tr>
                </tbody>
            </table></td>
    </tr>
          <tr>
        <td width="1100px" align="center"><table width="1100px" align="left" border="0" style="font-size: 22px; font-family: serif;">
                <tbody>
                    <tr>
                            <td  width="60px"  align="left" valign="bottom" > </td>
                        <td  width="1040px" align="left" valign="bottom">medical expenses the future as a thereof.</td>
                    </tr>
                </tbody>
            </table></td>
    </tr>
           <tr>
        <td width="1100px" align="center" height="100"><table width="1100px" align="left" border="0" style="font-size: 22px; font-family: serif; padding:0 0 10px 0;">
                <tbody>
                    <tr>
                            <td  width="700px"  align="left" valign="bottom"> </td>
                        <td  width="400px" align="left" valign="bottom"  style="border-bottom:1px solid #000;"></td>
                    </tr>
                </tbody>
            </table></td>
    </tr>
            <tr>
            <td width="1100px" height="100"><table width="100%" border="0">
                <tbody>
                    <tr>
                        <td width="200px" height="50" align="center" valign="bottom" style="font-size: 22px; font-family: serif;">Sworn before me on &nbsp;</td>
                        <td style="border-bottom:1px solid #000;" align="center" valign="bottom" width="200px" height="50">&nbsp;</td>
                         <td  align="center" valign="bottom" width="700px" height="50">&nbsp;</td>
                    </tr>
                </tbody>
            </table></td>
        </tr>
        
            <tr>
            <td width="1100px"><table width="1100px" border="0" style="font-size: 24px;font-family: serif;">
                    <tbody>
                        <tr>
                            <td height="30" width="450px" align="left" valign="bottom" style="border-bottom:1px solid #000;"></td>
                            <td height="30" width="650px" align="left" valign="bottom"></td>
                           
                        </tr>
                    </tbody>
                </table></td>
        </tr>
        
        
           <tr>
            <td width="1100px"><table width="1100px" border="0" style="font-size: 28px;font-family: serif;">
                    <tbody>
                        <tr>
                            <td width="450px" align="left" valign="bottom">NOTARY PUBLIC</td>
                            <td width="650px" align="left" valign="bottom"></td>
                        </tr>
                    </tbody>
                </table></td>
        </tr>
    </tbody>
    
</table>
