<table  border="0" align="center">
	<tbody>
		<tr>
			<td valign="top">
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<td width="100px" valign="top" align="left"><div class="logo"><img src="" 
							alt="pic" style="max-width:100%; width:100px; height:50px; display:block;"></div></td>
							<td width="1100px" valign="top">
								<table width="100%" border="0" style="margin:12px 0 0;" cellpadding="0" cellspacing="0">
									<tbody>
										<tr>
											<td valign="bottom" align="right" style="font-family: Times New Roman, Times, serif; font-size:8px;"><strong>OCA Official 
											Form No.: 960</strong></td>
										</tr>
										<tr>
											<td valign="top" align="left" style="font-family: Times New Roman, Times, serif; font-size:10px; text-transform:uppercase;"><strong>
											AUTHORIZATION FOR RELEASE OF HEALTH INFORMATION PURSUANT TO HIPAA</strong></td>
										</tr>
										<tr>
											<td valign="top" align="center" style="font-family: Times New Roman, Times, serif; font-size:8px;text-align: center"><strong>[This form has been approved by the 
											<span style="text-transform:uppercase;">New York State Department of Health</span>]</strong></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top" style="border:1px solid #000;">
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<td valign="top">
								<table width="100%" border="0" style="border-collapse:collapse;" cellpadding="0" cellspacing="0">
									<tbody>
										<tr>
											<td width="600px" valign="top" style="padding:0 2px 0 3px; border-right:1px solid #000;">
												<table width="100%" border="0" cellpadding="0" cellspacing="0">
													<tbody>
														<tr>
															<td valign="top" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px; text-transform:capitalize; 
															padding:0 0 5px;">Patient Name</td>
														</tr>
														<tr>
															<td valign="bottom" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px;">&nbsp;</td>
														</tr>
													</tbody>
												</table>
											</td>
											<td width="250px" valign="top" style="padding:0 2px 0 3px; border-right:1px solid #000;">
												<table width="100%" border="0" cellpadding="0" cellspacing="0">
													<tbody>
														<tr>
															<td valign="top" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px; padding:0 0 5px;">Date of Birth</td>
														</tr>
														<tr>
															<td valign="bottom" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px;">&nbsp;</td>
														</tr>
													</tbody>
												</table>
											</td>
											<td width="300px" valign="top" style="padding:0 2px 0 3px;">
												<table width="100%" border="0" cellpadding="0" cellspacing="0">
													<tbody>
														<tr>
															<td valign="top" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px; text-transform:capitalize; 
															padding:0 0 5px;">Social Security Number</td>
														</tr>
														<tr>
															<td valign="bottom" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px;">&nbsp;</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td width="100%" valign="top" style="padding:0 2px 0 3px; border-top:1px solid #000;">
								<table width="100%" border="0" cellpadding="0" cellspacing="0">
									<tbody>
										<tr>
											<td valign="top" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px; text-transform:capitalize; padding:0 0 5px;">
											Patient Address</td>
										</tr>
										<tr>
											<td valign="bottom" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px;">&nbsp;</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr><td></td></tr>
		<tr>
			<td valign="top" align="justify" style="font-family: Times New Roman, Times, serif; line-height:1.5;">
				<p style="font-size:8px;">I, or my authorized representative, request that health information regarding my care and treatment be released as set forth on this form:
				<br/>In accordance with New York State Law and the Privacy Rule of the Health Insurance Portability and 
				Accountability Act of 1996 (HIPAA), I understand that:
				<br/>1.&nbsp; This authorization may sinclude disclosure of information relating to 
				<strong style="text-transform:uppercase;">ALCOHOL</strong> and <strong style="text-transform:uppercase;">DRUG ABUSE,</strong> 
				<strong style="text-transform:uppercase;">MENTAL HEALTH TREATMENT</strong>, except psychotherapy notes, and 
				<strong style="text-transform:uppercase;">CONFIDENTIAL HIV* RELATED INFORMATION</strong> only if I place my initials on 
				the appropriate line in Item 9(a).  In the event the health information described below includes any of these types of 
				information, and I initial the line on the box in Item 9(a), I specifically authorize release of such information to the 
				person(s) indicated in Item 8. <br/>
				2.&nbsp; If I am authorizing the release of HIV-related, alcohol or drug treatment, or mental health 
				treatment information, the recipient is prohibited from redisclosing such information without my authorization unless permitted to 
				do so under federal or state law.  I understand that I have the right to request a list of people who may receive or use my 
				HIV-related information without authorization.  If I experience discrimination because of the release or disclosure of HIV
				-related information, I may contact the New York State Division of Human Rights at (212) 480-2493 or the New  York City Commission of 
				Human Rights at (212) 306-7450.  These agencies are responsible for protecting my rights.<br/>
				3.&nbsp; I have the right to revoke this authorization at any time by writing to the health 
				care provider listed below.  I understand that I may revoke this authorization except to the extent that action has already 
				been taken based on this authorization.<br/>
				4.&nbsp; I understand that signing this authorization is voluntary. My treatment, payment, 
				enrollment in a health plan, or eligibility for benefits will not be conditioned upon my authorization of this disclosure.<br/>
				5.&nbsp; Information disclosed under this authorization might be redisclosed by the recipient 
				(except noted above in Item 2), and this redisclosure may no longer be protected by federal or state law.<br/>
				6.&nbsp; <strong>THIS AUTHORIZATION DOES NOT AUTHORIZE YOU TO DISCUSS MY 
				HEALTH INFORMATION OR MEDICAL CARE WITH ANYONE OTHER THAN THE ATTORNEY OR GOVERNMENTAL AGENCY SPECIFIED IN ITEM 9 (b)</strong></p>
			</td>
		</tr>
		<tr>
	<td valign="top" style="border:1px solid #000;">
		<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
			<tbody>
				<tr>
					<td valign="top">
						<table width="100%" border="0" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td valign="top" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px; padding:0 5px 5px 0px;">7.&nbsp; Name 
									and address of health provider or entity to release this information:</td>
								</tr>
								<tr>
									<td valign="top" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px; padding:0 5px 0 30px;">&nbsp;</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td valign="top" style="border-top:1px solid #000;">
						<table width="100%" border="0" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td valign="top" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px; padding:0 5px 5px 0px;">8.&nbsp; Name 
									and address of person(s) or category of person to whom this information will be sent: </td>
								</tr>
								<tr>
									<td valign="top" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px; padding:0 5px 0 30px;">&nbsp;</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td valign="top" style="border-top:1px solid #000;">
						<table width="100%" border="0" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td valign="top" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px; padding:0 5px 0 0px;">9(a).&nbsp; Specific 
									information to be released:</td>
								</tr>
								<tr>
									<td valign="top">
										<table width="100%" border="0" cellpadding="0" cellspacing="0">
											<tbody>
												<tr>
													<td width="5px">&nbsp;</td>
													<td width="5px" valign="bottom" align="center"><input type="checkbox" name="myTextEditBox" 
													value="checked" style="width:auto;"></td>
													<td width="290px" valign="middle" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px;">Medical 
													Record from (insert date)</td>
													<td width="100px" valign="middle" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px; letter-spacing: -2px;"> ___________________________________&nbsp;</td>
													<td width="130px" valign="middle" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px;"> to 
													(insert date) </td>
													<td width="200px" valign="middle" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px;letter-spacing: -2px;">___________________________________&nbsp;</td>
													<td width="205px"></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td valign="top">
										<table width="100%" border="0" cellpadding="0" cellspacing="0">
											<tbody>
												<tr>
													<td width="5px">&nbsp;</td>
													<td width="5px" valign="top" align="center"><input type="checkbox" name="myTextEditBox" 
													value="checked" style="width:auto;"></td>
													<td width="1025px" valign="top" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px;"> Entire Medical 
													Record, including patient histories, office notes (except psychotherapy notes), test results, radiology 
													studies, films,  referrals, consults, billing records, insurance records, and records sent to you by 
													other health care providers.</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td valign="top">
										<table width="100%" border="0" cellpadding="0" cellspacing="0">
											<tbody>
												<tr>
													<td width="5px">&nbsp;</td>
													<td width="5px" valign="middle" align="center"><input type="checkbox" name="myTextEditBox" 
													value="checked" style="width:auto;"></td>
													<td width="50px" valign="middle" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px;">Other:</td>
													<td width="300px" valign="middle" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px;letter-spacing: -2px;"> ____________________________________________ &nbsp;</td>
													<td width="200px" valign="middle">&nbsp;</td>
													<td width="275px" valign="middle" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px;">Include: 
													(Indicate by Initialing)</td>
													<td width="200px">&nbsp;</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td valign="top">
										<table width="100%" border="0" cellpadding="0" cellspacing="0">
											<tbody>
												<tr>
													<td width="160px">&nbsp;</td>
													<td width="300px" valign="middle" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px; letter-spacing: -2px;">____________________________________________   &nbsp;</td>
													<td width="205px" valign="middle">&nbsp;</td>
													<td width="100px" valign="middle" align="right" style="font-family: Times New Roman, Times, serif; font-size:8px;letter-spacing: -2px;"> __________________________ &nbsp;</td>
													<td width="220px" valign="middle" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px;text-transform:
													capitalize;"><strong> Alcohol/Drug Treatment</strong></td>
													<td width="125px">&nbsp;</td>
													
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td valign="top">
										<table width="100%" border="0"  cellpadding="0" cellspacing="0">
											<tbody>
												<tr>
													<td width="730px" valign="bottom">&nbsp;</td>
													<td width="60px" valign="middle" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px;letter-spacing: -2px;">__________________________ &nbsp;</td>
													<td width="320px" valign="middle" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px; text-transform:
													capitalize;"><strong>Mental Health Information</strong></td>
													
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td valign="top">
										<table width="100%" border="0"  cellpadding="0" cellspacing="0">
											<tbody>
												<tr>
													<td width="440px" valign="middle" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px; padding:
													0 2px 0 7px;"><strong>Authorization to Discuss Health Information</strong></td>
													<td width="150px" valign="middle">&nbsp;</td>
													<td width="60px" valign="middle" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px;letter-spacing: -2px;">__________________________ &nbsp;</td>
													<td width="300px" valign="middle" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px; text-transform:
													capitalize;"><strong>HIV-Related Information</strong></td>
													
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td valign="top">
										<table width="100%" border="0" cellpadding="0" cellspacing="0">
											<tbody>
												<tr>
													<td width="5px" valign="middle" align="right" style="font-family: Times New Roman, Times, serif; font-size:8px;">(b)</td>
													<td width="5px" valign="middle" align="center"><input type="checkbox" name="myTextEditBox" 
													value="checked" style="width:auto;"></td>
													<td width="230px" valign="middle" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px;">By 
													initialing here</td>
													<td width="130px" valign="middle" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px;letter-spacing: -2px;">&nbsp;________________________________ &nbsp;</td>
													<td width="80px" valign="middle" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px;">I authorize</td>
													<td width="500x" valign="middle" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px; letter-spacing: -2px;">&nbsp;_____________________________________________________________________________________________________________________________________ &nbsp;</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td valign="top">
										<table width="100%" border="0" cellpadding="0" cellspacing="0">
											<tbody>
												<tr>
													<td width="235px">&nbsp;</td>
													<td width="130px" valign="top" align="center" style="font-family: Times New Roman, Times, serif; font-size:8px;">Initials</td>
													<td width="230px">&nbsp;</td>
													<td width="330px" valign="top" align="center" style="font-family: Times New Roman, Times, serif; font-size:8px;">Name of individual health care provider</td>
													<td width="175px">&nbsp;</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td valign="top">
										<table width="100%" border="0"  cellpadding="0" cellspacing="0">
											<tbody>
												<tr>
													<td width="40px">&nbsp;</td>
													<td width="780px" valign="top" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px;">to discuss my 
													health information with my attorney, or a governmental agency, listed here:</td>
													<td width="270px">&nbsp;</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td>
									</td>
								</tr>
								<tr>
									<td valign="top">
										<table width="100%" border="0"  cellpadding="0" cellspacing="0">
											<tbody>
												<tr>
													<td width="200px">&nbsp;</td>
													<td width="850px" valign="middle" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px;letter-spacing: -2px;">&nbsp;______________________________________________________________________________________________________________________________________________________________________________________________________________________________________________ &nbsp;</td>
													<td width="200px"></td>
												</tr>
												<tr>
													<td width="300px">&nbsp;</td>
													<td width="500px" valign="top" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px;">(Attorney/Firm 
													Name or Governmental Agency Name)</td>
													<td width="300px">&nbsp;</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td valign="top" style="border-top:1px solid #000;">
						<table width="100%" border="0" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td width="550px" valign="top" style="border-right:1px solid #000;">
										<table width="100%" border="0" cellpadding="0" cellspacing="0">
											<tbody>
												<tr>
													<td valign="top" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px; padding:0 0 0 7px;">10.&nbsp; 
													Reason for release of information:</td>
												</tr>
												<tr>
													<td valign="top">
														<table width="100%" border="0" cellpadding="0" cellspacing="0">
															<tbody>
																<tr>
																	<td width="5px">&nbsp;</td>
																	<td width="30px" valign="middle" align="center"><input type="checkbox" name=
																	"myTextEditBox" value="checked" style="width:auto;"></td>
																	<td width="250px" valign="middle" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px;">
																	At request of individual</td>
																	<td width="235px">&nbsp;</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
												<tr>
													<td valign="top">
														<table width="100%" border="0" cellpadding="0" cellspacing="0">
															<tbody>
																<tr>
																	<td width="5px">&nbsp;</td>
																	<td width="30px" valign="middle" align="center"><input type="checkbox" name=
																	"myTextEditBox" value="checked" style="width:auto;"></td>
																	<td width="80px" valign="middle" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px;">
																	Other:</td>
																	<td width="408px">&nbsp;</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td width="550px" valign="top">
										<table width="100%" border="0" cellpadding="0" cellspacing="0">
											<tbody>
												<tr>
													<td valign="top" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px; padding:0 0 0 7px;">11.&nbsp; 
													Date or event on which this authorization will expire:</td>
												</tr>
												<tr>
													<td height="25px"></td>
												</tr>
												<tr>
													<td valign="bottom" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px; padding:0 0 0 45px;">&nbsp;</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td valign="top" style="border-top:1px solid #000;">
						<table width="100%" border="0" style="border-collapse:collapse;" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td width="570px" valign="top" style="border-right:1px solid #000;">
										<table width="100%" border="0" cellpadding="0" cellspacing="0">
											<tbody>
												<tr>
													<td valign="top" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px; padding:0 0 0 7px;">12.&nbsp;
													 If not the patient, name of person signing form:</td>
												</tr>
												<tr>
													<td valign="bottom" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px; padding:0 0 0 40px;">&nbsp;</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td width="551px" valign="top">
										<table width="100%" border="0" cellpadding="0" cellspacing="0">
											<tbody>
												<tr>
													<td valign="top" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px; padding:0 0 0 7px;">13.&nbsp;
													 Authority to sign on behalf of patient:</td>
												</tr>
												<tr>
													<td valign="bottom" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px; padding:0 0 0 40px;">&nbsp;</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>
		<tr>
			<td valign="top" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px; padding:0 5px 0;">All items on this form have been completed and my questions 
			about this form have been answered. In addition, I have been provided a copy of the form.</td>
		</tr>
		<tr>
			<td valign="top">
				<table width="100%" border="0" style="margin:5px 0 0;" cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<td width="20px">&nbsp;</td>
							<td width="530px" valign="bottom" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px; border-bottom:1px solid #000;">&nbsp;</td>
							<td width="110px">&nbsp;</td>
							<td width="40px" valign="bottom" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px;">Date:</td>
							<td width="280px" valign="bottom" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px; border-bottom:1px solid #000;">&nbsp;</td>
							<td width="120px">&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<td width="30px">&nbsp;</td>
							<td width="470px" valign="top" align="left" style="font-family: Times New Roman, Times, serif; font-size:8px;">Signature of patient or repres entative 
							authorized by law.</td>
							<td width="600px">&nbsp;</td>
						</tr>
						<tr>
							<td width="10px"></td>
							<td width="1090px" colspan="2" valign="top" align="left" style="font-family: Times New Roman, Times, serif; font-size:7px;"><strong>*&nbsp; Human 
							Immunodeficiency Virus that causes AIDS. The New York State Public Health Law protects information which reasonably could 
							identify someone as having HIV symptoms or infection and information regarding a person’s contacts.</strong></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<table border="0" align="center" style="width: 85%; margin-top: 80px">
	<tbody>
		<tr>
			<td valign="top">
				<table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin:50px 0 30px;">
					<tbody>
						<tr>
							<td valign="top" align="center" style="font-family: Times New Roman, Times, serif; font-size:12px;">Instructions for the Use</td>
						</tr>
						<tr>
							<td valign="top" align="center" style="font-family: Times New Roman, Times, serif; font-size:12px;">of the HIPAA-compliant Authorization Form to</td>
						</tr>
						<tr>
							<td valign="top" align="center" style="font-family: Times New Roman, Times, serif; font-size:12px;">Release Health Information Needed for Litigation</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top" align="justify" style="font-family: Times New Roman, Times, serif; font-size:11px; line-height:1.3;">
			<p>&nbsp; &nbsp; &nbsp; &nbsp; This form is the product of a collaborative between the New York State Office of Court Administration, 
			representatives of the medical provider community in New York, and the bench and bar, designed to produce a official form that complies with 
			the privacy requirements of the federal Health Insurance Portability and Accountability Act (“HIPAA”) and its implementing regulations, to be 
			used to authorize the release of health information needed for litigation in New York State courts. It can, however, be used more broadly than 
			and be used before litigation has been commenced, or whenever counsel would find it useful.
			<br><br>
			&nbsp; &nbsp; &nbsp; &nbsp; The goal was to produce a standard HIPAA-compliant official form to obviate the current disputes which often take 
			place as to whether health information requests made in the course of litigation meet the requirements of the HIPAA Privacy Rule. It should be noted, 
			though, that the form is optional. This form may be filled out on line and downloaded to be signed by hand, or downloaded and filled out entirely 
			on paper.
			<br><br>
			&nbsp; &nbsp; When filing out Item 11, which requests the date or event when the authorization will expire, the person filling out 
			the form may designate an event such as “at the conclusion of my court case” or provide a specific date amount of time, such as “3 years 
			from this date”.
			<br><br>
			&nbsp; &nbsp; &nbsp; &nbsp; If  a patient seeks to authorize the release of his or her entire medical record, but only from a certain date, the 
			first two boxes in section 9(a) should both be checked, and the relevant date inserted on the first line containing the first box.</p>
			</td>
		</tr>
	</tbody>
</table>