<!--Header-->
<table width="1100" border="0" align="center" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td valign="bottom" align="center" style="font-family:serif; font-size:45px; border-bottom:5px solid #000;"><strong>CitiMedical I,PLLC</strong></td>
		</tr>
	</tbody>
</table>
<!--body-->
<table width="1100" border="0" align="center">
	<tbody>
		<tr>
			<td valign="top">
				<table width="100%" border="0" style="margin:0 0 20px;">
					<tbody>
						<tr>
							<td width="260" valign="top" align="left" style="font-family:serif; font-size:20px; line-height:1.3;"><strong>63-36 99th Street, 
							1st Fl Rego Park, NY 11374 Tel: (718) 255-6615<br> Fax: (718) 255-1394</strong></td>
							<td width="540">&nbsp; </td>
							<td width="320" valign="top" align="left" style="font-family:serif; font-size:20px; line-height:1.3;"><strong>1963 Grand Concourse, 
							2nd Fl Bronx, NY 10453<br> Tel: (718) 466-4600<br> Fax: (718) 466-1100</strong></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top" align="center" style="font-family:serif; font-size:26px;"><strong style="border-bottom:1px solid #000;">Chiropractic Informed Consent
			 Form</strong></td>
		</tr>
		<tr>
			<td valign="top" align="justify" style="font-family:serif; font-size:25px; padding:60px 0 0;">
				<p>I hereby request and consent to the performance of chiropractic adjustments and other chiropractic procedures, inclading various modes of 
				physical therapy and diagnostic X-rays, on me (or on the patient named below, for whom I am legally responsible) by the doctor of chiropractic 
				named below and/or other licensed doctors of chiropractic who now or in the future work at the clinic or office listed below or any other office
				 or clinic. </p>
				<br>
				<p>
					I have had an opportunity to discuss with the doctor of chiropractic named below and/or with other office or clinic personnel the nature and 
					purpose of chiropractic adjustments and other procedures. I understand that results are not guaranteed. 
				</p>
				<br>
				<p>
					I understand and an informed that, as in the practice of medicine, in the practice of chiropractic there are some risks to treatment, including 
					but not limited to features, disc injuries, strokes, dislocations and sprains. I do not expect the doctor to be able to anticipate and explain
					all risks and complications, and I wish to rely upon the doctor to. exercise judgment during the course of the procedure which the doctor feels 
					at the time, based upon the facts then known to him or her, is in my best interest. 
				</p>
				<br>
				<p>
					I have read, or have had read to me, the above consent. I have also had an opportunity to ask questions about its content, and by signing 
					below I agree to the above-named procedures. I intend this consent form to cover the entire course of treatment for my present condition and 
					for any future condition(s) f) or which I seek treatment.
				</p>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<table width="100%" border="0" style="margin:20px 0 0;">
					<tbody>
						<tr>
							<td width="170" valign="bottom" align="left" style="font-family:serif; font-size:24px;">Print Signature</td>
							<td width="350" style="border-bottom:1px solid #000; font-family:serif; font-size:22px;">&nbsp;</td>
							<td width="60" valign="bottom" align="left" style="font-family:serif; font-size:24px;">Date</td>
							<td width="220" style="border-bottom:1px solid #000; font-family:serif; font-size:22px;">&nbsp;</td>
							<td width="300">&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<table width="100%" border="0" style="margin:20px 0 0;">
					<tbody>
						<tr>
							<td width="200" valign="bottom" align="left" style="font-family:serif; font-size:24px;">Witness Signature</td>
							<td width="470" style="border-bottom:1px solid #000; font-family:serif; font-size:22px;">&nbsp;</td>
							<td width="60" valign="bottom" align="left" style="font-family:serif; font-size:24px;">Date</td>
							<td width="220" style="border-bottom:1px solid #000; font-family:serif; font-size:22px;">&nbsp;</td>
							<td width="150">&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>