<table width="100%" border="0">
	<tbody>
		<tr>
			<td width="1100" valign="top" align="center" style="border-bottom:10px solid #006fc0;">
				<table width="100%" border="0" style="table-layout:fixed;">
					<tbody style="border-spacing:0; border-collapse:collapse;">
						<tr>
							<td width="340" valign="top">
								<table width="100%" border="0" style="table-layout:fixed;">
									<tbody style="border-spacing:0; border-collapse:collapse;">
										<tr>
											<td valign="middle" align="left" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize; padding:0 0 10px;">1963 Grand Concourse, 2nd Fl. 
											Bronx, NY 10453<br> P: (718) 466-4600 / F: (718) 466-1100</td>
										</tr>
										<tr>
											<td valign="middle" align="left" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize; padding:0 0 10px;">6555 Woodhaven Blvd Rego Park, 
											NY 11374<br> P: (718) 255-6615 / F: (718) 255-1394</td>
										</tr>
										<tr>
											<td valign="middle" align="left" style="font-family:sans-serif; font-size:16px;
											text-transform:capitalize; padding:0 0 10px;">910 E. Gun Hill Road, Bronx, NY 10469
											<br>P: (718) 882-8500 / F: (718) 882-4400</td>
										</tr>
										<tr>
											<td valign="middle" align="left" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize;">55 Greene Ave, Ste LLB, Brooklyn, NY 11238<br>
											P: (718) 398-7777 / F:718-399-7777</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td width="390" valign="top" style="padding:-10px 0 0;">
								<div class="logo" valign="top"><img src="{{url('local/resources/images/citimed-logo.png')}}" 
								alt="pic" style="max-width:100%; width:40%; height:auto; display:block;"></div>
							</td>
							<td width="370" valign="top">
								<table width="100%" border="0" style="table-layout:fixed;">
									<tbody style="border-spacing:0; border-collapse:collapse;">
										<tr>
											<td valign="middle" align="right" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize; padding:0 0 10px;"><span style="display:inline-block; 
											text-transform:uppercase;">JFK</span> Airport Bldg. 75, Ste. 247-249 Jamaica, 
											NY 11430<br> P: (718) 656-9500 / F: (718) 656-9503</td>
										</tr>
										<tr>
											<td valign="middle" align="right" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize; padding:0 0 10px;"><span style="display:inline-block; 
											text-transform:uppercase;">JFK</span> Airport Bldg. 14, Ste. 14A, Jamaica, NY 11430
											P: (718) 656-1245 / F: (718) 656-3060</td>
										</tr>
										<tr>
											<td valign="middle" align="right" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize; padding:0 0 10px;">14 Mamaroneck Ave., 2nd Fl. White Plains
											 NY 10601<br>(914) 949-5555 / F: (914) 993-3333</td>
										</tr>
										<tr>
											<td valign="middle" align="right" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize;">20 165th Street, Jamaica, NY 11433<br>
											(718) 725-0044 / F: (718) 725-0880</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top" style="padding:60px 0 0;">
				<table width="1100" align="center" border="0" style="table-layout:fixed;">
					<tbody style="border-spacing:0; border-collapse:collapse;">
						<tr>
							<td valign="top">
								<table width="100%" align="center" border="0" style="table-layout:fixed; margin:0 0 50px;">
									<tbody style="border-spacing:0; border-collapse:collapse;">
										<tr>
											<td valign="top" align="center" style="font-family:serif; 
											font-size:34px; text-transform:uppercase;">
											<strong style="display:inline-block; border-bottom:3px solid #000;">CONSENT TO 
											TREATMENT OF A MINOR</strong></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td valign="top">
								<table width="100%" align="center" border="0" style="table-layout:fixed; margin:0 0 20px;">
									<tbody style="border-spacing:0; border-collapse:collapse;">
										<tr>
											<td valign="top" align="left" style="font-family:serif; font-size:25px; 
											text-transform:uppercase;">BY SIGNING THIS PAPER, PARENT IS 
											AUTHORIZING ALL DOCTORS AND PRACTITIONERS<br>AFFILIATED WITH THE ABOVE FACILITY 
											TO ADMINISTER MEDICAL TREATMENT ON<br>THEIR MINOR CHILD</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td valign="top">
								<table width="100%" align="center" border="0" style="table-layout:fixed; margin:0 0 5px;">
									<tbody style="border-spacing:0; border-collapse:collapse;">
										<tr>
											<td width="30" valign="bottom" align="left" style="font-family:serif; 
											font-size:25; text-transform:uppercase;">I,</td>
											<td width="300" valign="top" height="30" style="border-bottom:2px solid #000;
											font-family:serif; font-size:25px; text-transform:uppercase;">&nbsp;</td>
											<td width="380" valign="bottom" align="left" style="font-family:serif; 
											font-size:25px; text-transform:uppercase;">HEREBY AUTHORIZE, DOCTOR</td>
											<td width="300" valign="top" height="30" style="border-bottom:2px solid #000;
											font-family:serif; font-size:25px; text-transform:uppercase;">&nbsp;</td>
											<td width="100">&nbsp;</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td valign="top">
								<table width="100%" align="center" border="0" style="table-layout:fixed; margin:0 0 20px;">
									<tbody style="border-spacing:0; border-collapse:collapse;">
										<tr>
											<td valign="top" align="left" style="font-family:serif; font-size:25px;
											text-transform:uppercase; padding:30px 0 0;">CITIMEDICAL I PLLC AND WHOMEVER HE/SHE 
											MAY DESIGNATE AS HIS ASSISTANTS TO <br>ADMINISTER TREATMENTS AS HE/SHE SO DEEMS 
											NECESSERY TO MY SON/DAUGHTER</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td valign="top">
								<table width="100%" align="center" border="0" style="table-layout:fixed; margin:0 0 50px;">
									<tbody style="border-spacing:0; border-collapse:collapse;">
										<tr>
											<td width="700" valign="middle" height="30" style="font-family:serif; font-size:25px;
											text-transform:uppercase; padding:0 5px; border-bottom:2px solid #000;">&nbsp;</td>
											<td width="400">&nbsp;</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td valign="top">
								<table width="100%" align="center" border="0" style="table-layout:fixed; margin:0 0 50px;">
									<tbody style="border-spacing:0; border-collapse:collapse;">
										<tr>
											<td width="400" valign="bottom" align="left" style="font-family:serif; font-size:25px;
											text-transform:uppercase;">THIS DOCUMENT IS SIGNED ON</td>
											<td width="200" height="30" valign="middle" style="border-bottom:2px solid #000;
											font-family:serif; font-size:25px;text-transform:uppercase;">&nbsp;</td>
											<td width="500">&nbsp;</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td valign="top">
								<table width="100%" align="center" border="0" style="table-layout:fixed; margin:0 0 20px;">
									<tbody style="border-spacing:0; border-collapse:collapse;">
										<tr>
											<td valign="bottom" width="270" align="left" style="font-family:serif; font-size:25px;
											text-transform:uppercase;">PARENT PRINT NAME</td>
											<td width="600" height="30" valign="middle" style="border-bottom:2px solid #000;
											font-family:serif; font-size:25px;text-transform:uppercase; padding:0 0 0 10px;">&nbsp;</td>
											<td width="230">&nbsp;</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td valign="top">
								<table width="100%" align="center" border="0" style="table-layout:fixed; margin:0 0 20px;">
									<tbody style="border-spacing:0; border-collapse:collapse;">
										<tr>
											<td valign="bottom" width="260" align="left" style="font-family:serif; font-size:25px;
											text-transform:uppercase;">PARENT SIGNATURE</td>
											<td width="610" height="30" valign="middle" style="border-bottom:2px solid #000;
											font-family:serif; font-size:25px;text-transform:uppercase; padding:0 0 0 10px;">&nbsp;</td>
											<td width="230">&nbsp;</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td valign="top">
								<table width="100%" align="center" border="0" style="table-layout:fixed; margin:0 0 20px;">
									<tbody style="border-spacing:0; border-collapse:collapse;">
										<tr>
											<td valign="bottom" width="150" align="left" style="font-family:serif; font-size:25px;
											text-transform:uppercase;">WITNESSED</td>
											<td width="720" height="30" valign="middle" style="border-bottom:2px solid #000;
											font-family:serif; font-size:25px;text-transform:uppercase; padding:0 0 0 10px;">&nbsp;</td>
											<td width="230">&nbsp;</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>