<style>
@page {
	margin-top: 2cm;
	margin-bottom: 2cm;
	margin-left: 2.5cm;
	margin-right: 2.5cm;
}
</style>

<table width="1100" border="0" align="center" style="font-family: sans-serif; font-size:18px; padding:10px 0;">
	<tbody>
		<tr>
			<td width="1058"><table width="100%" border="0">
					<tbody>
						<tr>
							<td><img src="{{url('local/resources/images/logo.png')}}" alt="pic" style="max-width:100%; width:270px; height:auto; display:block;"></td>
						</tr>
						<tr>
							<td><table>
									<tbody>
										<tr>
											<td width="376"></td>
											<td width="339" align="center" valign="bottom" style="font-size:30px;"><strong>Employee Claim </strong></td>
											<td style="font-size:30px;" width="357" align="right" valign="bottom">C-3</td>
										</tr>
									</tbody>
								</table></td>
						</tr>
						<tr>
							<td align="center"><strong>State of New York - Workers' Compensation Board</strong></td>
						</tr>
						<tr>
							<td align="center">Fill out this form to apply for workers' compensation benefits because of a work injury</td>
						</tr>
						<tr>
							<td align="center"> or work-related illness.
								Type or 
								print neatly.  This form may also be filled out on-line at
								www.wcb.ny.gov.</td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="277"><strong>WCB Case Number (if you know it):</strong></td>
						<td width="328" style="border-bottom:1px solid #000"></td>
						<td width="473"></td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td style="font-size:30px">A. YOUR INFORMATION (Employee)</td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="84">1. Name:</td>
						<td width="713" height="25" style="border-bottom:1px solid #000"></td>
						<td width="124">2. Date of Birth: </td>
						<td width="59" style="border-bottom:1px solid #000"></td>
						<td width="38" style="border-bottom:1px solid #000">/</td>
						<td width="48" style="border-bottom:1px solid #000">/</td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="413" height="25" align="center">Firsts</td>
						<td width="192">MI </td>
						<td width="473">Last</td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="163" align="left">3. Mailing address:</td>
						<td width="919" height="25"  style="border-bottom:1px solid #000"></td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
					<td width="188"></td>
						<td width="449" height="25" align="center">Number and Street/PO Box/Apartment No. </td>
						<td width="147">City</td>
						<td width="132">State </td>
						<td width="154">Zip Code</td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="259" align="center" valign="bottom">4. Social Security Number </td>
						<td width="192"  style="border-bottom:1px solid #000"></td>
						<td width="149" valign="bottom">5. Phone Number: </td>
						<td width="57"  style="border-bottom:1px solid #000"></td>
						<td width="132"  style="border-bottom:1px solid #000"></td>
						<td width="92" valign="bottom">6. Gender: </td>
						<td width="73" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							Male</td>
						<td width="104" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							Female</td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="567" height="30" align="left" valign="bottom">7. Will you need a translator if you have to attend a Board hearing? </td>
						<td width="66" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							Yes</td>
						<td width="60" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							No</td>
						<td width="218" valign="bottom">If yes, for what language?</td>
						<td width="159"  style="border-bottom:1px solid #000"></td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td height="50" style="font-size:30px">B. YOUR EMPLOYER(S)</td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="215" valign="bottom">1. Employer when injured:</td>
						<td width="433" height="25" valign="bottom" style="border-bottom:1px solid #000"></td>
						<td width="150" valign="bottom">2. Phone Number:</td>
						<td width="55"   style="border-bottom:1px solid #000"></td>
						<td width="217" valign="bottom"   style="border-bottom:1px solid #000"></td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="183" valign="bottom">3. Your work address:</td>
						<td width="899" height="25" valign="bottom" style="border-bottom:1px solid #000"></td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="284" height="25" valign="bottom"></td>
						<td width="214" valign="bottom">Number and Street </td>
						<td width="211" valign="bottom"> City </td>
						<td width="192" valign="bottom"> State </td>
						<td width="169" valign="bottom"> Zip Code</td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="195" valign="bottom">4. Date you were hired: </td>
						<td width="46" valign="bottom" style="border-bottom:1px solid #000"></td>
						<td width="44" valign="bottom" style="border-bottom:1px solid #000"> /</td>
						<td width="49" valign="bottom" style="border-bottom:1px solid #000"> /</td>
						<td width="238" align="right" valign="bottom"> 5. Your supervisor's name:</td>
						<td width="494" height="25" valign="bottom" style="border-bottom:1px solid #000"></td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="672" height="25" valign="bottom">6. List names/addresses of any other employer(s) at the time of your injury/illness: </td>
						<td width="410" valign="bottom" style="border-bottom:1px solid #000"></td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td height="30" style="border-bottom:1px solid #000"></td>
		</tr>
		<tr>
			<td height="25" style="border-bottom:1px solid #000"></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="747" height="30" valign="bottom">7. Did you lose time from work at the other employment(s) as a result of your injury/illness? </td>
						<td width="59" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							Yes</td>
						<td width="272" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							No</td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td height="50" style="font-size:30px;">C. YOUR JOB on the date of the injury or illness</td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="335" height="30" valign="bottom">1. What was your job title or description? </td>
						<td width="747" valign="bottom" style="border-bottom:1px solid #000"></td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="499" height="30" valign="bottom"> 2. What types of activities did you normally perform at work? </td>
						<td width="583" valign="bottom" style="border-bottom:1px solid #000"></td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td height="20" valign="bottom" style="border-bottom:1px solid #000"></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="257" height="30" valign="bottom"> 3. Was your job? (check one) </td>
						<td width="105" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							Full Time</td>
						<td width="104" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							Part Time</td>
						<td width="107" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							Seasonal</td>
						<td width="104" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							Volunteer</td>
						<td width="80" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							Other:</td>
						<td width="305" valign="bottom" style="border-bottom:1px solid #000"></td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="475" height="30" valign="bottom">4. What was your gross pay (before taxes) per pay period? </td>
						<td width="153" valign="bottom" style="border-bottom:1px solid #000"></td>
						<td width="232" height="30" valign="bottom">5. How often were you paid? </td>
						<td width="214" valign="bottom" style="border-bottom:1px solid #000"></td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="483" height="30" valign="bottom"> 6. Did you receive lodging or tips in addition to your pay? </td>
						<td width="64" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							Yes</td>
						<td width="68" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							No</td>
						<td width="141" valign="bottom">If yes, describe: </td>
						<td width="314" valign="bottom" style="border-bottom:1px solid #000"></td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td height="25" width="510" valign="bottom" style="border-bottom:1px solid #000"></td>
		</tr>
		<tr>
			<td height="50" width="510" valign="bottom" style="font-size:30px;">D. YOUR INJURY OR ILLNESS </td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="345" height="30" valign="bottom">1. Date of injury or date of onset of illness: </td>
						<td width="44" valign="bottom" style="border-bottom:1px solid #000"></td>
						<td width="47" valign="bottom" style="border-bottom:1px solid #000"> /</td>
						<td width="47" valign="bottom" style="border-bottom:1px solid #000"> /</td>
						<td width="155" align="right" valign="bottom">2. Time of injury: </td>
						<td width="146" valign="bottom" style="border-bottom:1px solid #000"></td>
						<td width="54" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							AM</td>
						<td width="220" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							PM</td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td height="30" width="731" valign="bottom">3. Where did the injury/illness happen? (e.g., 1 Main Street, Pottersville, at the front door) </td>
						<td width="351" valign="bottom" style="border-bottom:1px solid #000"></td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td height="30" width="510" valign="bottom" style="border-bottom:1px solid #000"></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td height="25" width="309" valign="bottom">4. Was this your usual work location? </td>
						<td width="81" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							Yes</td>
						<td width="76" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							No</td>
						<td width="302" valign="bottom">If no, why were you at this location? </td>
						<td width="302" valign="bottom" style="border-bottom:1px solid #000"></td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td height="35" width="510" valign="bottom" style="border-bottom:1px solid #000"></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td height="30" width="833" valign="bottom">5. What were you doing when you were injured or became ill? (e.g., unloading a truck, typing a report) </td>
						<td width="249" valign="bottom" style="border-bottom:1px solid #000"></td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td height="30" width="510" valign="bottom" style="border-bottom:1px solid #000"></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td height="30" width="686" valign="bottom">6. How did the injury/illness happen? (e.g., I tripped over a pipe and fell on the floor) </td>
						<td width="396" valign="bottom" style="border-bottom:1px solid #000"></td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td height="30" width="510" valign="bottom" style="border-bottom:1px solid #000"></td>
		</tr>
		<tr>
			<td height="30" width="510" valign="bottom" style="border-bottom:1px solid #000"></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td height="40" width="944" valign="bottom"> 7. Explain fully the nature of your injury/illness; list body parts affected (e.g., twisted left ankle and cut to forehead): </td>
						<td width="138" valign="bottom" style="border-bottom:1px solid #000"></td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td height="30" width="510" valign="bottom" style="border-bottom:1px solid #000"></td>
		</tr>
		<tr>
			<td height="30" width="510" valign="bottom" style="border-bottom:1px solid #000"></td>
		</tr>
		<tr>
			<td width="510" height="35" align="center" valign="bottom">THE WORKERS' COMPENSATION BOARD EMPLOYS AND SERVES PEOPLE </td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td height="20" width="402" valign="top" style="font-size:20px;">C-3.0 (1-11)  Page 1 of 2 </td>
						<td width="520" height="20" valign="top">WITH DISABILITIES WITHOUT DISCRIMINATION </td>
						<td width="156" valign="top" style="font-size:20px;">www.wcb.ny.gov </td>
					</tr>
				</table></td>
		</tr>
	</tbody>
</table>
<pagebreak>
<table width="1100" border="0" align="center" style="font-family: sans-serif; font-size:18px;">
	<tbody>
		<tr>
			<td><table width="100%">
					<tr>
						<td height="30" width="154" valign="bottom" style="font-size:25px;"><strong>YOUR NAME: </strong></td>
						<td height="20" width="389" valign="bottom" style="border-bottom:1px solid #000"></td>
						<td width="332" align="right" valign="bottom" style="font-size:25px;"><strong>DATE OF INJURY/ILLNESS: </strong></td>
						<td height="35" width="41" valign="bottom" style="border-bottom:1px solid #000"></td>
						<td height="35" width="46" valign="bottom" style="border-bottom:1px solid #000">/</td>
						<td height="35" width="47" valign="bottom" style="border-bottom:1px solid #000">/</td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="251" height="10" align="right" valign="top">First </td>
						<td width="222" height="20" align="center" valign="top"> MI </td>
						<td height="10" width="605" valign="top"> Last </td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td style="font-size:30px ">D.  YOUR INJURY OR ILLNESS 
				continued</td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="573" height="20" align="left" valign="bottom">8. Was an object (e.g., forklift, hammer, acid) involved in the injury/illness? </td>
						<td width="65" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							Yes</td>
						<td width="59" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							No</td>
						<td width="99" height="20" align="left" valign="bottom">If yes, what? </td>
						<td width="217" height="35" align="center" valign="bottom" style="border-bottom:1px solid #000"></td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="602" height="15" align="left" valign="bottom"> 9. Was the injury the result of the use or operation of a licensed motor vehicle? </td>
						<td width="70" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							Yes</td>
						<td width="59" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							No</td>
						<td width="286" height="35" align="center" valign="bottom"></td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="79" height="20" align="left" valign="bottom">If yes, </td>
						<td width="130" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							your vehicle</td>
						<td width="177" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							employer's vehicle</td>
						<td width="178" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							other vehicle</td>
						<td width="248" height="20" align="left" valign="bottom">License plate number (if known): </td>
						<td width="197" height="35" align="center" valign="bottom" style="border-bottom:1px solid #000"></td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="708" height="20" align="left" valign="bottom">If your vehicle was involved, give name and address of your motor vehicle insurance carrier: </td>
						<td width="317" height="20" align="center" valign="bottom" style="border-bottom:1px solid #000"></td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td width="1037" height="20" align="center" valign="bottom" style="border-bottom:1px solid #000"></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="645" height="20" align="left" valign="bottom"> 10. Have you given your employer (or supervisor) notice of injury/illness? </td>
						<td width="73" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							Yes</td>
						<td width="67" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							No</td>
						<td width="289" height="35" align="center" valign="bottom"></td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="283" height="20" align="left" valign="bottom"> If yes, notice was given to: </td>
						<td width="233" height="20" align="center" valign="bottom" style="border-bottom:1px solid #000"></td>
						<td width="82" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							orally</td>
						<td width="120" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							in writing</td>
						<td width="217" height="35" align="left" valign="bottom" style="border-bottom:1px solid #000">Date notice given: </td>
						<td width="35" style="border-bottom:1px solid #000"></td>
						<td width="38" style="border-bottom:1px solid #000"> /</td>
						<td width="46" style="border-bottom:1px solid #000"> /</td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="326" height="20" align="left" valign="bottom">11. Did anyone see your injury happen? </td>
						<td width="66" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							Yes</td>
						<td width="63" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							No</td>
						<td width="119" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							Unknown</td>
						<td width="140" valign="bottom">If yes, list names: </td>
						<td width="295" style="border-bottom:1px solid #000"></td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td height="20" width="1037" style="border-bottom:1px solid #000"></td>
		</tr>
		<tr>
			<td height="20" width="1037" style="font-size:25px;">E. RETURN TO WORK</td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="422" height="20" align="left" valign="bottom">1. Did you stop work because of your injury/illness? </td>
						<td width="68" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							Yes,</td>
						<td width="116" valign="bottom">on what date?</td>
						<td width="24" style="border-bottom:1px solid #000"></td>
						<td width="28" style="border-bottom:1px solid #000">/</td>
						<td width="33" style="border-bottom:1px solid #000">/</td>
						<td width="82" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							No, </td>
						<td width="228" valign="bottom"> skip to Section F. </td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="273" height="20" align="left" valign="bottom">2. Have you returned to work? </td>
						<td width="73" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							Yes,</td>
						<td width="66" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							No,</td>
						<td width="164" valign="bottom">If yes, on what date?</td>
						<td width="43" style="border-bottom:1px solid #000"></td>
						<td width="35" style="border-bottom:1px solid #000">/</td>
						<td width="30" style="border-bottom:1px solid #000">/</td>
						<td width="135" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							regular duty </td>
						<td width="178" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							limited duty </td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="531" height="20" align="left" valign="bottom">3. If you have returned to work, who are you working for now? </td>
						<td width="161" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							Same employer</td>
						<td width="149" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							New employer</td>
						<td width="176" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							Self employed</td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="425" height="20" align="left" valign="bottom">4. What is your gross pay (before taxes) per pay period? </td>
						<td width="196" style="border-bottom:1px solid #000"></td>
						<td width="190" height="20" align="left" valign="bottom">How often are you paid? </td>
						<td width="206" style="border-bottom:1px solid #000"></td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td style="font-size:25px;">F. MEDICAL TREATMENT FOR THIS INJURY OR ILLNESS</td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="340" height="20" align="left" valign="bottom">1. What was the date of your first treatment? </td>
						<td width="37" style="border-bottom:1px solid #000"></td>
						<td width="46" style="border-bottom:1px solid #000">/</td>
						<td width="46" style="border-bottom:1px solid #000">/</td>
						<td width="76"></td>
						<td width="464" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							None received (skip to question F-5)</td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="224" height="20" align="left" valign="bottom">2. Were you treated on site? </td>
						<td width="84" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							Yes</td>
						<td width="713" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							No</td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="691" height="20" align="left" valign="bottom">3. Where did you receive your first off site medical treatment for your injury/illness? </td>
						<td width="146" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							none received</td>
						<td width="241" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							Emergency Room</td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="87"></td>
						<td width="257" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							Doctor's office</td>
						<td width="316" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							Clinic/Hospital/Urgent Care</td>
						<td width="414" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							Hospital Stay over 24 hours </td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="342" height="20" align="left" valign="bottom"> Name and address where you were first treated: </td>
						<td width="683" style="border-bottom:1px solid #000"></td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="766" style="border-bottom:1px solid #000"></td>
						<td width="122" height="20" align="left" valign="bottom"> Phone Number: </td>
						<td width="9">(</td>
						<td width="50" style="border-bottom:1px solid #000"></td>
						<td width="9">)</td>
						<td width="110" style="border-bottom:1px solid #000"></td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="398" height="20" align="left" valign="bottom">4. Are you still being treated for this injury/illness? </td>
						<td width="90" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							Yes</td>
						<td width="533" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							No</td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="642" height="20" align="left" valign="bottom"> Give the name and address of the doctor(s) treating you for this injury/illness: </td>
						<td width="440" style="border-bottom:1px solid #000"></td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="766" style="border-bottom:1px solid #000"></td>
						<td width="122" height="20" align="left" valign="bottom"> Phone Number: </td>
						<td width="9">(</td>
						<td width="50" style="border-bottom:1px solid #000"></td>
						<td width="9">)</td>
						<td width="110" style="border-bottom:1px solid #000"></td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="666" height="20" align="left" valign="bottom">5. Do you remember having another injury to the same body part or a similar illness?</td>
						<td width="83" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							Yes</td>
						<td width="272" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							No</td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="308" height="20" align="left" valign="bottom">If yes, were you treated by a doctor?</td>
						<td width="82" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							Yes</td>
						<td width="83" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							No</td>
						<td width="601" height="20" align="left" valign="bottom">If yes, provide the names and addresses of the doctor(s) who treated </td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td style="font-size:25px;"> you and <strong>COMPLETE AND FILE FORM C-3.3 TOGETHER WITH THIS FORM:</strong></td>
		</tr>
		<tr>
			<td height="20" width="1037" style="border-bottom:1px solid #000"></td>
		</tr>
		<tr>
			<td height="20" width="1037" style="border-bottom:1px solid #000"></td>
		</tr>
		<tr>
			<td height="20" width="1037" style="border-bottom:1px solid #000"></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="371" height="15" align="left" valign="bottom">6. Was the previous injury/illness work related? </td>
						<td width="85" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							Yes</td>
						<td width="565" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							No</td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="30"></td>
						<td width="603" height="15" align="left" valign="bottom">If yes, were you working for the same employer that you work for now? </td>
						<td width="86" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							Yes</td>
						<td width="355" valign="bottom"><input type="checkbox" name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;">
							No</td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td style="border-top:2px solid #000;"><strong>am hereby making a claim for benefits under the Workers' Compensation Law.  My signature affirms that the information I am providing is true 
				and accurate to the best of my knowledge and belief. </strong></td>
		</tr>
		<tr>
			<td><table width="97%">
					<tr>
						<td width="4%"></td>
						<td width="96%" style="border:2px solid #000;"><strong>Any person who knowingly and with INTENT TO DEFRAUD presents, causes to be presented, or prepares with knowledge or belief that it will  be  presented  to,  or  by  an  insurer,  or  self-insurer,  any  information  containing  any  FALSE  MATERIAL  STATEMENT  or  conceals  any material fact, SHALL BE GUILTY OF A CRIME and subject to substantial FINES AND IMPRISONMENT. </strong></td>
					</tr>
				</table></td>
			<td></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="214">Employee's Signature:</td>
						<td width="242" style="border-bottom:1px solid #000"></td>
						<td width="99">Print Name: </td>
						<td width="337" style="border-bottom:1px solid #000"></td>
						<td width="46">Date: </td>
						<td width="39" style="border-bottom:1px solid #000"></td>
						<td width="36" style="border-bottom:1px solid #000">/</td>
						<td width="41" style="border-bottom:1px solid #000">/</td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="214">On behalf of Employee:</td>
						<td width="242" style="border-bottom:1px solid #000"></td>
						<td width="99">Print Name: </td>
						<td width="337" style="border-bottom:1px solid #000"></td>
						<td width="46">Date: </td>
						<td width="39" style="border-bottom:1px solid #000"></td>
						<td width="36" style="border-bottom:1px solid #000">/</td>
						<td width="41" style="border-bottom:1px solid #000">/</td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><strong>An individual may sign on behalf of the employee only if he or she is legally authorized to do so and the employee is a minor, mentally incompetent or incapacitated.</strong></td>
		</tr>
		<tr>
			<td style="border-top:1px dotted #000">I  certify  to  the  best  of  my  knowledge,  information  and  belief,  formed  after  an  inquiry  reasonable  under  the  circumstances,  that  the  allegations  and  other  factual  
				matters asserted above have evidentiary support, or are likely to have evidentiary support after a reasonable opportunity for further investigations or discovery.</td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="323">Signature of Attorney/Representative (if any):</td>
						<td width="465" style="border-bottom:1px solid #000"></td>
						<td width="42">Date: </td>
						<td width="47" style="border-bottom:1px solid #000"></td>
						<td width="59" style="border-bottom:1px solid #000">/</td>
						<td width="73" style="border-bottom:1px solid #000">/</td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="101">Print Name:</td>
						<td width="485" style="border-bottom:1px solid #000"></td>
						<td width="43">Title:</td>
						<td width="441" style="border-bottom:1px solid #000"></td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tr>
						<td width="138">ID No., if any:  
							R</td>
						<td width="197" style="border-bottom:1px solid #000"></td>
						<td width="329">If Licensed Representative, License No.: </td>
						<td width="141" style="border-bottom:1px solid #000"></td>
						<td width="137">Expiration Date: </td>
						<td width="37" style="border-bottom:1px solid #000"></td>
						<td width="34" style="border-bottom:1px solid #000">/</td>
						<td width="41" style="border-bottom:1px solid #000">/</td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td style="font-size:20px;"><strong>C-3.0 (1-11)  Page 2 of 2</strong></td>
		</tr>
	</tbody>
</table>
<pagebreak>
<table width="1100" border="0" align="center" style="font-family: sans-serif; font-size:18px;">
	<tbody>
		<tr>
			<td><table width="100%" border="0" align="center" style="font-family: sans-serif; font-size:18px;">
					<tbody>
					<tbody>
						<tr>
							<td width="1058"><table width="1100" border="0">
									<tbody>
										<tr>
											<td><img src="local/resources/images/logo.png" alt="pic" style="max-width:100%; width:270px; height:auto; display:block;"></td>
										</tr>
										<tr>
											<td><table width="100%">
													<tbody>
														<tr>
															<td width="376"></td>
															<td width="700" align="center" valign="bottom" style="font-size:30px;"><strong>Limited Release of Health Information </strong></td>
															<td style="font-size:50px;" width="357" align="right" valign="bottom"><strong>C-3.3</strong></td>
														</tr>
													</tbody>
												</table></td>
										</tr>
										<tr>
											<td align="center"><strong>(HIPAA)</strong></td>
										</tr>
										<tr>
											<td align="center"><strong>State of New York - Workers' Compensation Board</strong></td>
										</tr>
									</tbody>
								</table></td>
						</tr>
						<tr>
							<td><table width="100%">
									<tr>
								
										<td width="10%"></td>
										<td width="20%"><strong>WCB Case No. (if you know it):</strong></td>
										<td width="17%" style="border-bottom:1px solid #000;"></td>
										<td width="53%"></td>
									</tr>
								</table></td>
						</tr>
						<tr>
							<td height="150" valign="top"><strong>To Claimant: </strong>If you received treatment for a previous injury to the same body part or for an illness similar to the one described in your current
								Claim, fill out this form. This form allows the health care providers you list below to release health care information about your previous injury/
								illness to your employer's workers' compensation insurer. The federal HIPAA law (Health Insurance Portability and Accountability Act of 1996)
								says you have a right to get a copy of this form. If you do not understand this form, talk to your legal representative. If you do not have a legal
								representative, the Advocate for Injured Workers at the Workers' Compensation Board can help you. Call: 800-580-6665.</td>
						</tr>
						<tr>
							<td height="50"><strong>To Health Care Provider:</strong> A <strong>copy</strong> of this HIPAA-compliant release allows you to disclose health information. If you send records to the
								employer's workers' compensation insurer in response to this release, also mail copies to the Claimant's legal representative. (If no legal
								representative is listed below, send copies to the Claimant.) Health care providers who release records must follow New York state law and
								HIPAA.</td>
						</tr>
					</tbody>
				</table>
				<table width="100%" border="0" align="center" style="font-family: sans-serif; font-size:18px;">
					<tbody>
						<tr>
							<td width="564" style="border:1px solid #000;"><table style="font-family: sans-serif; font-size:18px;">
									<tbody>
										<tr>
											<td>This release is:</td>
										</tr>
										<tr>
											<td><table width="100%" style="font-family: sans-serif; font-size:17px;">
													<tbody>
														<tr>
															<td width="10" valign="middle"><img src="{{url('local/resources/images/dote.png')}}" alt="pic" style="max-width:100%; width:10px; height:auto; display:block;"></td>
															<td><strong>Voluntary. </strong> Your health care provider(s) must give you the same care,</td>
														</tr>
													</tbody>
												</table></td>
										</tr>
										<tr>
											<td><table width="100%" style="font-family: sans-serif; font-size:17px;">
													<tbody>
														<tr>
															<td width="10"></td>
															<td>payment terms, and benefits, whether you sign this form or not</td>
														</tr>
													</tbody>
												</table></td>
										</tr>
										<tr>
											<td><table width="100%" style="font-family: sans-serif; font-size:17px;">
													<tbody>
														<tr>
															<td width="10" valign="middle"><img src="{{url('local/resources/images/dote.png')}}" alt="pic" style="max-width:100%; width:10px; height:auto; display:block;"></td>
															<td><strong>Limited.</strong> It gives your health care provider(s) permission to release only</td>
														</tr>
													</tbody>
												</table></td>
										</tr>
										<tr>
											<td><table width="100%" style="font-family: sans-serif; font-size:17px;">
													<tbody>
														<tr>
															<td width="10"></td>
															<td>those health records that are related to the previous illness/condition you
																describe below.</td>
														</tr>
													</tbody>
												</table></td>
										</tr>
										<tr>
											<td><table width="100%" style="font-family: sans-serif; font-size:17px;">
													<tbody>
														<tr>
															<td width="10" valign="middle"><img src="{{url('local/resources/images/dote.png')}}" alt="pic" style="max-width:100%; width:10px; height:auto; display:block;"></td>
															<td><strong>Temporary.</strong> It ends when your current claim for compensation is established</td>
														</tr>
													</tbody>
												</table></td>
										</tr>
										<tr>
											<td><table width="100%" style="font-family: sans-serif; font-size:17px;">
													<tbody>
														<tr>
															<td width="10"></td>
															<td valign="top">or disallowed and all appeals are exhausted..</td>
														</tr>
													</tbody>
												</table></td>
										</tr>
										<tr>
											<td><table width="100%" style="font-family: sans-serif; font-size:17px;">
													<tbody>
														<tr>
															<td width="10" valign="middle"><img src="{{url('local/resources/images/dote.png')}}" alt="pic" style="max-width:100%; width:10px; height:auto; display:block;"></td>
															<td><strong>Revocable.</strong> You can cancel this release at any time. To cancel, send a letter</td>
														</tr>
													</tbody>
												</table></td>
										</tr>
										<tr>
											<td><table width="100%" style="font-family: sans-serif; font-size:17px;">
													<tbody>
														<tr>
															<td width="10"></td>
															<td valign="top">to the health care provider(s) listed on this form. Also, send a copy of your
																letter to your employer's workers' compensation insurer and the Workers'
																Compensation Board. 
																Note:
																You may not cancel this release with respect to
																medical records already provided.</td>
														</tr>
													</tbody>
												</table></td>
										</tr>
										<tr>
											<td><table width="100%" style="font-family: sans-serif; font-size:17px;">
													<tbody>
														<tr>
															<td width="10" valign="middle"><img src="{{url('local/resources/images/dote.png')}}" alt="pic" style="max-width:100%; width:10px; height:auto; display:block;"></td>
															<td><strong>For records only.</strong> It gives your health care provider(s) listed on this form</td>
														</tr>
													</tbody>
												</table></td>
										</tr>
										<tr>
											<td><table width="100%" style="font-family: sans-serif; font-size:17px;">
													<tbody>
														<tr>
															<td width="10"></td>
															<td valign="top">permission to send copies of your health care records to your employer's
																workers' compensation insurer.</td>
														</tr>
													</tbody>
												</table></td>
										</tr>
									</tbody>
								</table></td>
							<td width="30" style=""></td>
							<td width="465" valign="top" style="border:1px solid #000; padding:10px;"><table style="font-family: sans-serif; font-size:17px;">
									<tbody>
										<tr>
											<td height="70" valign="top">This form does NOT allow your health care provider(s)
												to release the following types of information:</td>
										</tr>
										<tr>
											<td><table width="100%" style="font-family: sans-serif; font-size:17px;">
													<tbody>
														<tr>
															<td width="10" valign="middle"><img src="{{url('local/resources/images/dote.png')}}" alt="pic" style="max-width:100%; width:10px; height:auto; display:block;"></td>
															<td height="60" valign="middle"><strong> HIV-related information</strong></td>
														</tr>
													</tbody>
												</table></td>
										</tr>
										<tr>
											<td><table width="100%" style="font-family: sans-serif; font-size:17px;">
													<tbody>
														<tr>
															<td width="10" valign="middle"><img src="{{url('local/resources/images/dote.png')}}" alt="pic" style="max-width:100%; width:10px; height:auto; display:block;"></td>
															<td height="60" valign="middle"><strong>Psychotherapy notes</strong></td>
														</tr>
													</tbody>
												</table></td>
										</tr>
										<tr>
											<td><table width="100%" style="font-family: sans-serif; font-size:17px;">
													<tbody>
														<tr>
															<td width="10" valign="middle"><img src="{{url('local/resources/images/dote.png')}}" alt="pic" style="max-width:100%; width:10px; height:auto; display:block;"></td>
															<td height="60" valign="middle"><strong>Alcohol/Drug treatment</strong></td>
														</tr>
													</tbody>
												</table></td>
										</tr>
										<tr>
											<td><table width="100%" style="font-family: sans-serif; font-size:17px;">
													<tbody>
														<tr>
															<td width="10" valign="middle"><img src="{{url('local/resources/images/dote.png')}}" alt="pic" style="max-width:100%; width:10px; height:auto; display:block;"></td>
															<td height="60" valign="middle"><strong>Mental Health treatment</strong> (unless you check below)</td>
														</tr>
													</tbody>
												</table></td>
										</tr>
										<tr>
											<td><table width="100%" style="font-family: sans-serif; font-size:17px;">
													<tbody>
														<tr>
															<td width="10" valign="top"><img src="{{url('local/resources/images/dote.png')}}" alt="pic" style="max-width:100%; width:10px; height:auto; display:block;"></td>
															<td><strong>Verbal information</strong> (your health care providers may
																not discuss your health care information with anyone)</td>
														</tr>
													</tbody>
												</table></td>
										</tr>
									</tbody>
								</table></td>
						</tr>
					</tbody>
				</table>
				<table width="100%" border="0" align="center" style="font-family: sans-serif; font-size: 18px;">
					<tbody>
						<tr>
							<td> Any medical records released will become part of your workers' compensation file and are confidential under the Workers' Compensation Law.</td>
						</tr>
						<tr>
							<td style="font-size:25px;"> A. YOUR INFORMATION (Claimant)</td>
						</tr>
						<tr>
							<td><table width="100%">
									<tr>
										<td width="6%">1. Name:</td>
										<td  width="26%" style="border-bottom:1px solid #000"></td>
										<td width="16%"> 2. Social Security Number: </td>
										<td  width="42%" style="border-bottom:1px solid #000"></td>
										<td  width="3%" style="border-bottom:1px solid #000"></td>
										<td  width="3%" style="border-bottom:1px solid #000">/</td>
										<td  width="4%" style="border-bottom:1px solid #000">/</td>
									</tr>
								</table></td>
						</tr>
						<tr>
							<td><table width="100%">
							<tbody>
									<tr>
										<td width="50">3. Mailing Address: </td>
										<td width="1275" style="border-bottom:1px solid #000"></td>
									</tr>
									</tbody>
								</table></td>
						</tr>
						<tr>
							<td><table width="100%">
									<tr>
										<td width="38">4. Date of Birth:</td>
										<td width="66" style="border-bottom:1px solid #000"></td>
										<td width="30" style="border-bottom:1px solid #000">/</td>
										<td width="33" style="border-bottom:1px solid #000">/</td>
										<td width="90"> 5. Date of the current injury/illness: </td>
										<td width="29" style="border-bottom:1px solid #000"></td>
										<td width="41" style="border-bottom:1px solid #000">/</td>
										<td width="33" style="border-bottom:1px solid #000">/</td>
										<td width="700"></td>
									</tr>
								</table></td>
						</tr>
						<tr>
							<td><table width="100%">
									<tr>
										<td width="124">6. Current injury/illness, including all body parts injured: </td>
										<td width="964" style="border-bottom:1px solid #000"></td>
									</tr>
								</table></td>
						</tr>
						<tr>
							<td width="184" height="25" style="border-bottom:1px solid #000"></td>
						</tr>
						<tr>
							<td><table width="100%">
									<tr>
										<td width="127"> 7. Your legal representative's name and address (if any): </td>
										<td width="961" style="border-bottom:1px solid #000"></td>
									</tr>
								</table></td>
						</tr>
						<tr>
							<td width="184" height="25" style="border-bottom:1px solid #000"></td>
						</tr>
						<tr>
							<td width="184" valign="bottom"><input name="checkbox" value="checked" style=" width:20px;
                                height:20px; border-radius:0; cursor:pointer; background:#333; border:1px solid #000; box-shadow:none;" type="checkbox">
								Check here if you allow your health care provider(s) to release <strong>mental health care</strong> information.</td>
						</tr>
						<tr>
							<td><strong style="font-size:22px;">B. YOUR HEALTH CARE PROVIDER(S)</strong> (List all health care providers who treated you for a previous injury to the same body part or similar
								illness. If more than 2 providers attach their contact information to this form.</td>
						</tr>
						<tr>
							<td><table width="100%">
									<tr>
										<td width="7%" height="20" align="left" valign="bottom"> 1. Provider: </td>
										<td width="51%" style="border-bottom:1px solid #000"></td>
										<td width="11%" height="20" align="left" valign="bottom"> 2. Phone Number: </td>
										<td width="1%">(</td>
										<td width="2%" style="border-bottom:1px solid #000"></td>
										<td width="1%">)</td>
										<td width="27%" style="border-bottom:1px solid #000"></td>
									</tr>
								</table></td>
						</tr>
						<tr>
							<td><table width="100%">
									<tr>
										<td width="85" height="20">3. Mailing Address: </td>
										<td width="1275" style="border-bottom:1px solid #000"></td>
									</tr>
								</table></td>
						</tr>
					</tbody>
				</table>
				<table width="100%">
					<tr>
						<td width="50" valign="bottom" align="left" height="20"> 4. Other provider (if any): </td>
						<td style="border-bottom:1px solid #000" width="600"></td>
						<td width="30" valign="bottom" align="left" height="20"> 5. Phone Number: </td>
						<td width="5">(</td>
						<td style="border-bottom:1px solid #000" width="50"></td>
						<td width="5">)</td>
						<td style="border-bottom:1px solid #000" width="340"></td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tbody>
						<tr>
							<td width="50">6. Mailing Address: </td>
							<td width="1280" align="left" style="border-bottom:1px solid #000"></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tbody>
						<tr>
							<td><strong style="font-size:22px;">C. READ AND SIGN BELOW.</strong> I hereby request that the health care provider(s) listed above give my employer's workers' compensation
								insurer copies of all health records related to any previous injury/illness, to all body parts, described above.</td>
						</tr>
						<tr>
							<td height="30" style="border-bottom:1px solid #000" width="184"></td>
						</tr>
					</tbody>
				</table></td>
		<tr>
			<td><table width="100%">
					<tbody>
						<tr>
							<td width="521">Claimant's signature (ink only -- use blue ballpoint pen, if possible.) </td>
							<td width="190"></td>
							<td width="69"> Date </td>
							<td width="294"></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tbody>
						<tr>
							<td><strong>If the claimant is unable to sign,</strong> the person signing on his/her behalf must fill out and sign below:</td>
						</tr>
						<tr>
							<td height="30" style="border-bottom:1px solid #000" width="184"></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tbody>
						<tr>
							<td width="13%"> Your name </td>
							<td width="23%">Relationship to Claimant </td>
							<td width="45%">Signature (ink only -- use blue ballpoint pen, if possible.) </td>
							<td width="19%">Date</td>
							<td width="0%">
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%">
					<tbody>
						<tr>
							<td width="32%" height="20" valign="top" style="font-size:20px;"> <strong>C-3.3 (12-09) </strong></td>
							<td width="41%" align="center" valign="top" style="font-size:20px;"><strong>Versión en español al reverso de la forma.</strong></td>
							<td width="27%" align="right" valign="top" style="font-size:20px;"> <strong>www.wcb.ny.gov</strong></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
			</td>
		
			</tr>
		
	</tbody>
</table>
<pagebreak>

<table width="1100" border="0" align="center" style="font-family: sans-serif; font-size:18px;">
	<tbody>
		<tr>
			<td><table width="1100" border="0" align="center" style="font-family: sans-serif; font-size:18px;">
					<tbody>
						<tr>
							<td width="1058"><table width="100%" border="0">
									<tbody>
										<tr>
											<td><img src="http://localhost/ovada_md/local/resources/images/logo.png" alt="pic" style="max-width:100%; width:270px; height:auto; display:block;"></td>
										</tr>
										<tr>
											<td><table>
													<tbody>
														<tr>
															<td width="107"></td>
															<td width="838" align="center" valign="middle" style="font-size:30px;"><strong>Divulgación limitada de información sobre la salud </strong></td>
															<td style="font-size:30px;" width="127" align="right" valign="bottom">C-3.3</td>
														</tr>
													</tbody>
												</table></td>
										</tr>
										<tr>
											<td align="center"><strong>(HIPAA)</strong></td>
										</tr>
										<tr>
											<td align="center"><strong>Estado de NuevaYork 
												-
												Junta de Compensación Obrera (WCB)</strong></td>
										</tr>
									</tbody>
								</table></td>
						</tr>
						<tr>
							<td>WCB Case No. (if you know it) (Número de caso WCB [si lo sabe]) </td>
						</tr>
						<tr>
							<td height="150" valign="top">Al reclamante: Si usted recibió tratamiento por una lesión anterior en la misma parte del cuerpo o por una enfermedad similar a la que motiva ahora su reclamación, complete este formulario. Este formulario les permite a los proveedores de salud que usted señala a continuación divulgar
								a la compañía de seguros de compensación obrera de su empleador la información sobre su salud relacionada con su lesión/enfermedad
								anterior. La Ley federal HIPAA (Ley de portabilidad y responsabilidad del seguro de salud de 1996) establece que usted tiene derecho a recibir
								una copia de este formulario. Si no comprende este formulario, hable con su representante legal. Si no tiene un representante legal, el
								Representante de los obreros lesionados de la Junta de Compensación Obrera puede ayudarlo. Llame al 800-580-6665</td>
						</tr>
						<tr>
							<td height="50">Al proveedor de salud: Una copia de esta divulgación, redactada según lo que establece la ley HIPAA, le permite divulgar información sobre la salud. Si envía los registros al asegurador de compensación obrera del empleador en respuesta a la presente divulgación, también debe enviar
								por correo copias al representante legal del reclamante. (Si a continuación no se especifica un representante legal, envíe las copias al
								reclamante). Los proveedores de salud que divulgan los registros deben cumplir con las leyes del estado de Nueva York y la HIPAA.</td>
						</tr>
					</tbody>
				</table>
				<table width="100%" border="0" align="center" style="font-family: sans-serif; font-size:18px;">
					<tbody>
						<tr>
							<td width="564" style="border:1px solid #000;"><table style="font-family: sans-serif; font-size:18px;">
									<tbody>
										<tr>
											<td>Esta divulgación es:</td>
										</tr>
										<tr>
											<td><table style="font-family: sans-serif; font-size:17px;">
													<tbody>
														<tr>
															<td width="10" valign="middle"><img src="{{url('local/resources/images/dote.png')}}" alt="pic" style="max-width:100%; width:10px; height:auto; display:block;"></td>
															<td><strong>Voluntaria.</strong> Su(s) proveedor(es) de salud deben otorgarle la misma</td>
														</tr>
													</tbody>
												</table></td>
										</tr>
										<tr>
											<td><table style="font-family: sans-serif; font-size:17px;">
													<tbody>
														<tr>
															<td width="10"></td>
															<td>atención, condiciones de pago y beneficios, independientemente de que
																usted firme este formulario o no.</td>
														</tr>
													</tbody>
												</table></td>
										</tr>
										<tr>
											<td><table style="font-family: sans-serif; font-size:17px;">
													<tbody>
														<tr>
															<td width="10" valign="middle"><img src="{{url('local/resources/images/dote.png')}}" alt="pic" style="max-width:100%; width:10px; height:auto; display:block;"></td>
															<td><strong>Limitada.</strong> Le otorga a su(s) proveedor(es) de salud permiso para divulgar</td>
														</tr>
													</tbody>
												</table></td>
										</tr>
										<tr>
											<td><table style="font-family: sans-serif; font-size:17px;">
													<tbody>
														<tr>
															<td width="10"></td>
															<td>únicamente los registros médicos que se relacionen con la enfermedad/
																afección anterior que usted describe a continuación.</td>
														</tr>
													</tbody>
												</table></td>
										</tr>
										<tr>
											<td><table style="font-family: sans-serif; font-size:17px;">
													<tbody>
														<tr>
															<td width="10" valign="middle"><img src="{{url('local/resources/images/dote.png')}}" alt="pic" style="max-width:100%; width:10px; height:auto; display:block;"></td>
															<td><strong>Temporal.</strong> Termina cuando se otorgue o desestime su actual reclamación</td>
														</tr>
													</tbody>
												</table></td>
										</tr>
										<tr>
											<td><table style="font-family: sans-serif; font-size:17px;">
													<tbody>
														<tr>
															<td width="10"></td>
															<td valign="top">de compensación y se hayan agotado todas las apelaciones.</td>
														</tr>
													</tbody>
												</table></td>
										</tr>
										<tr>
											<td><table style="font-family: sans-serif; font-size:17px;">
													<tbody>
														<tr>
															<td width="10" valign="middle"><img src="{{url('local/resources/images/dote.png')}}" alt="pic" style="max-width:100%; width:10px; height:auto; display:block;"></td>
															<td><strong>Revocable</strong>.
																Usted puede cancelar esta divulgación en cualquier momento.</td>
														</tr>
													</tbody>
												</table></td>
										</tr>
										<tr>
											<td><table style="font-family: sans-serif; font-size:17px;">
													<tbody>
														<tr>
															<td width="10"></td>
															<td valign="top">Para hacerlo, envíe una carta al (a los) proveedor(es) de salud que se
																indican en este formulario. Además, envíe una copia de su carta a la
																compañía de seguros de compensación obrera de su empleador y a la Junta
																de Compensación Obrera. 
																Nota: No podrá cancelar esta divulgación en lo
																que se refiere a registros médicos que ya se hayan provisto.</td>
														</tr>
													</tbody>
												</table></td>
										</tr>
										<tr>
											<td><table style="font-family: sans-serif; font-size:17px;">
													<tbody>
														<tr>
															<td width="10" valign="middle"><img src="{{url('local/resources/images/dote.png')}}" alt="pic" style="max-width:100%; width:10px; height:auto; display:block;"></td>
															<td><strong>Solamente para registros.</strong> Le otorga a su(s) proveedor(es) de salud que se</td>
														</tr>
													</tbody>
												</table></td>
										</tr>
										<tr>
											<td><table style="font-family: sans-serif; font-size:17px;">
													<tbody>
														<tr>
															<td width="10"></td>
															<td valign="top">indica(n) en este formulario permiso para enviar copias de sus registros de
																salud a la compañía de seguros de compensación obrera de su empleador..</td>
														</tr>
													</tbody>
												</table></td>
										</tr>
									</tbody>
								</table></td>
							<td width="30" style=""></td>
							<td width="465" valign="top" style="border:1px solid #000; padding:10px;"><table style="font-family: sans-serif; font-size:17px;">
									<tbody>
										<tr>
											<td height="70" valign="top">Este formulario NO autoriza a su(s) proveedor(es) de
												salud a divulgar los siguientes tipos de información:</td>
										</tr>
										<tr>
											<td><table style="font-family: sans-serif; font-size:17px;">
													<tbody>
														<tr>
															<td width="10" valign="middle"><img src="{{url('local/resources/images/dote.png')}}" alt="pic" style="max-width:100%; width:10px; height:auto; display:block;"></td>
															<td height="40" valign="middle"><strong>Información relacionada con el VIH</strong></td>
														</tr>
													</tbody>
												</table></td>
										</tr>
										<tr>
											<td><table style="font-family: sans-serif; font-size:17px;">
													<tbody>
														<tr>
															<td width="10" valign="middle"><img src="{{url('local/resources/images/dote.png')}}" alt="pic" style="max-width:100%; width:10px; height:auto; display:block;"></td>
															<td height="40" valign="middle"><strong> Notas de terapia psicológica</strong></td>
														</tr>
													</tbody>
												</table></td>
										</tr>
										<tr>
											<td><table style="font-family: sans-serif; font-size:17px;">
													<tbody>
														<tr>
															<td width="10" valign="middle"><img src="{{url('local/resources/images/dote.png')}}" alt="pic" style="max-width:100%; width:10px; height:auto; display:block;"></td>
															<td height="40" valign="middle"><strong>Tratamientos por abuso de alcohol o drogas</strong></td>
														</tr>
													</tbody>
												</table></td>
										</tr>
										<tr>
											<td><table style="font-family: sans-serif; font-size:17px;">
													<tbody>
														<tr>
															<td width="10" valign="top" ><img src="{{url('local/resources/images/dote.png')}}" alt="pic" style="max-width:100%; width:10px; height:auto; display:block;"></td>
															<td height="60" valign="top"><strong>Tratamiento de salud mental</strong> (a menos que usted lo
																indique a continuación)</td>
														</tr>
													</tbody>
												</table></td>
										</tr>
										<tr>
											<td><table style="font-family: sans-serif; font-size:17px;">
													<tbody>
														<tr>
															<td width="10" valign="top"><img src="{{url('local/resources/images/dote.png')}}" alt="pic" style="max-width:100%; width:10px; height:auto; display:block;"></td>
															<td><strong>Información verbal</strong> (sus doctores no pueden hablar
																con nadie sobre su información de salud)</td>
														</tr>
													</tbody>
												</table></td>
										</tr>
									</tbody>
								</table></td>
						</tr>
					</tbody>
				</table>
				<table width="1100" border="0" align="center" style="font-family: sans-serif; font-size:18px;">
					<tbody>
						<tr>
							<td>Los registros médicos divulgados se incorporarán a su expediente de compensación obrera y son confidenciales conforme a la
								Ley de compensación obrera.</td>
						</tr>
						<tr>
							<td>CONTESTA LAS SIGUIENTES PREGUNTAS, EN INGLÉS SI ES POSIBLE, EN LOS ESPACIOS PROVISTOS Y FIRMA
								AL FRENTE DE LA FORMA.</td>
						</tr>
						<tr>
							<td style="font-size:20px;"><strong>A. YOUR INFORMATION (Claimant) INFORMACIÓN PERSONAL (Reclamante)</strong></td>
						</tr>
						<tr>
							<td><table width="100%">
									<tbody>
										<tr>
											<td width="421">1. Name (Nombre) </td>
											<td width="661">2. Social Security Number (Número de seguro social) </td>
										</tr>
									</tbody>
								</table></td>
						</tr>
						<tr>
							<td width="421"> 3. Mailing Address (Dirección postal) </td>
						</tr>
						<tr>
							<td><table width="100%">
									<tbody>
										<tr>
											<td width="421"> 4. Date of Birth (Fecha de nacimiento) </td>
											<td width="661"> 5. Date of the current injury/illness (Fecha de la lesión/enfermedad actual) </td>
										</tr>
									</tbody>
								</table></td>
						</tr>
						<tr>
							<td>6. Current injury/illness, including all body parts injured (Descripción de la lesión/enfermedad actual, incluyendo todas las partes del
								cuerpo lesionadas)</td>
						</tr>
						<tr>
							<td> 7.  Your legal representative's name and address (if any)  (Nombre y dirección de su representante legal [si corresponde])
								Check here if you allow your health provider(s) to release <strong>mental health care</strong> information.  (Marque aquí si autoriza a su(s) proveedor(es) de
								salud a divulgar información sobre <strong>tratamientos de salud mental
								.</strong>)</td>
						</tr>
						<tr>
							<td><strong>B.  YOUR HEALTH CARE PROVIDERS</strong> (List all health care providers who treated you for a 
								previous
								injury to the same body part or similar
								illness.  If more than 2 providers, attach their contact information to this form.</td>
						</tr>
						<tr>
							<td><strong>SU(S) PROVEEDOR(ES) DE SALUD</strong> (Enumere todos los proveedores de salud que le han tratado por lesiones previas a las mismas
								areas del cuerpo ó por enfermedades semejantes.Si son más de 2 proveedores, adjunte su información de contacto a este formulario.)</td>
						</tr>
						<tr>
							<td><table width="100%">
									<tbody>
										<tr>
											<td width="332"> 1. Provider (Proveedor de salud) </td>
											<td width="750"> 2. Phone Number (N
												o
												de teléfono) </td>
										</tr>
									</tbody>
								</table></td>
						</tr>
						<tr>
							<td width="421">3. Mailing Address (Dirección postal)</td>
						</tr>
						<tr>
							<td><table width="100%">
									<tbody>
										<tr>
											<td width="448"> 4. Other provider (if any) (Otro proveedor [si corresponde]) </td>
											<td width="634">5. Phone Number (N
												o
												de teléfono) </td>
										</tr>
									</tbody>
								</table></td>
						</tr>
						<tr>
							<td width="421">6. Mailing Adress (Dirección postal)</td>
						</tr>
						<tr>
							<td><strong>C
								. READ AND SIGN BELOW</strong> I hereby request that the health care provider(s) listed above give my employer's workers' compensation
								insurer copies of all health records related to any previous injury/illness, to all body parts, described above. <strong>LEA Y FIRME A</strong></td>
						</tr>
						<tr>
							<td><strong>CONTINUACIÓN.</strong> Por la presente solicito que los proveedores de salud aquí enumerados le provean al asegurador de compensación
								obrera de mi patrono copias de todos los records médicos relacionados a cualquier lesión/enfermedad aquí enumeradas.</td>
						</tr>
						<tr>
							<td><strong>If the claimant is unable to sign,</strong> the person signing on his/her behalf must fill out and sign below: <strong>(
								Si el reclamante no puede firmar </strong>, la
								persona que firme el formulario en su nombre y representación debe llenar y firmar a continuación)</td>
						</tr>
						<tr>
							<td style="border-bottom:1px solid #000;"> xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</td>
						</tr>
						<tr>
							<td><table width="100%">
									<tbody>
										<tr>
											<td width="748"> Claimant's signature (Firma del reclamante ) use solo tinta - preferiblemente azul </td>
											<td width="334">Date (Fecha)
												o
												de teléfono) </td>
										</tr>
									</tbody>
								</table></td>
						</tr>
						<tr>
							<td style="border-bottom:1px solid #000;"> xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</td>
						</tr>
						<tr>
							<td><table width="100%">
									<tbody>
										<tr>
											<td width="208"> Your name (Su nombre) </td>
											<td width="580"> Relationship to Claimant (Relación con el reclamante) 
												o
												de teléfono) </td>
											<td width="139"> Signature(Firma) </td>
											<td width="147"> Date(Fecha)</td>
										</tr>
									</tbody>
								</table></td>
						</tr>
						<tr>
							<td><table width="100%">
									<tbody>
										<tr>
											<td width="551"><strong>C-3.3 (12-09) </strong></td>
											<td width="531" align="right"><strong>www.wcb.ny.gov) </strong></td>
										</tr>
									</tbody>
								</table></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<pagebreak>
<table width="1100" border="0" align="center" style="font-family: sans-serif; font-size:18px;">
	<tbody>
		<tr>
			<td><strong>Instructions for Completing Employee Claim (Form C-3) </strong></td>
		</tr>
		<tr>
			<td height="150">Please complete this form and send it to the Workers' Com
				pensation Board centralized mailing address listed at the end of these
				instructions. If you need additional help completing this 
				form, contact the Workers' Compensation Board at 
				1-877-632-4996. 
				You 
				may also fill this form out online at
				wcb.ny.gov
				. If you do not have or know your Work
				ers' Compensation Board Case Number, 
				please leave this field bl
				ank. It is not required to process your claim. Remember to enter your name and the date of your 
				injury/illness on the top of page two. </td>
		</tr>
		<tr>
			<td><strong>Section A - Your Information (Employee): </strong></td>
		</tr>
		<tr>
			<td>In Section A, enter your name, address and other requested information. </td>
		</tr>
		<tr>
			<td><strong>Note on Item 7:</strong> Board hearings are conducted in Englis
				h. If you need a translator, select 
				Yes
				and indicate the language needed. </td>
		</tr>
		<tr>
			<td height="40" valign="bottom">Notification Pursuant to the New York Personal Privacy Protection Law </td>
		</tr>
		<tr>
			<td height="40" valign="top">(Public Officers Law Article 6-A) and the Federal Privacy Act of 1974 (5 U.S.C. § 552a). </td>
		</tr>
		<tr>
			<td height="160" valign="top">The Workers' Compensation Board's (Board’s) authority to reques
				t that claimants provide personal
				information, including their 
				social security number, is derived from the Board’s investigat
				ory authority under  Workers' Compensation Law (WCL) § 20, and 
				its administrative authority under WCL § 142. This information is 
				collected to assist the Board in investigating and administer
				ing 
				claims in the most expedient manner possible and to help it mainta
				in accurate claim records.  Providing your social security 
				number to the Board is vol
				untary. There is no penalty for failure to provide 
				your social security number on this form; it will 
				not 
				result in a denial of your claim or a reduction in benef
				its.  The Board will protect the confidentiality of all
				personal information in 
				its possession, disclosing it only in further
				ance of its official duties and in accordance
				with applicable state and federal law. </td>
		</tr>
		<tr>
			<td><strong>Section B - Your Employer(s): </strong></td>
		</tr>
		<tr>
			<td>In Section B, enter the name, address, phone number and other informat
				ion of the employer you were working for at the time of t
				he 
				injury/illness. </td>
		</tr>
		<tr>
			<td><strong>Note</strong>:
				Your employer is the company or agency that issues your payc
				heck. If you are a contractor at a work site or office, the 
				staffing agency or vendor who hired you is your employer, not 
				the work site or office where you report to work. </td>
		</tr>
		<tr>
			<td height="20" valign="top"><strong>Section C - Your Job on the Date of the Injury or Illness: </strong></td>
		</tr>
		<tr>
			<td height="45" valign="top">In Section C, enter your job title, 
				work activities and pay information. </td>
		</tr>
		<tr>
			<td><strong>Section D - Your Injury or Illness: </strong></td>
		</tr>
		<tr>
			<td height="45" valign="top">In Section D, enter your injury or illness information. </td>
		</tr>
		<tr>
			<td height="45" valign="top"><strong>Item 1:</strong> Enter the date you were injured or the first date you noticed you became ill. </td>
		</tr>
		<tr>
			<td height="45" valign="top">If this is an illness or occupational diseas
				e, skip item 2. The date you were injured must be in month/day/year format. The yea
				r 
				should be written as four digits, e.g., 2015. </td>
		</tr>
		<tr>
			<td height="45" valign="top"><strong>Item 2:</strong> Enter the time when the injury occurred. Check whether it was AM or PM. </td>
		</tr>
		<tr>
			<td height="45" valign="top"><strong>Item 3:</strong> Indicate the location where the injury/illness occurred, includi
				ng the address of the building and the physical location in the
				building where the injury/illness happened. </td>
		</tr>
		<tr>
			<td height="45" valign="top"><strong>Item 4:</strong> Check whether this was your normal work location. If 
				it was not, explain why you were at this location. </td>
		</tr>
		<tr>
			<td><strong>Item 5:</strong> Describe in detail what you were doing at the time of t
				he injury/illness (e.g., unloading boxes from a truck by hand). 
				This explains the events leading up to the injury. </td>
		</tr>
		<tr>
			<td><strong>Item 6:</strong> Describe in detail how the injury/illness occurred (e.g., I wa
				s lifting a heavy box off a truck). This should include all peopl
				e 
				and events involved in the injury/illness. </td>
		</tr>
		<tr>
			<td><strong>Item 7:</strong> Indicate fully the nature and extent of your injury/illness, in
				cluding all body parts injured. Be 
				as specific as possible (e.g.
				, I 
				strained my back trying to lift a heavy box. It hurts 
				to bend over or hold even lighter objects now). </td>
		</tr>
		<tr>
			<td><strong>Item 8:</strong> Indicate if some object was involved in the accident 
				other than
				a licensed motor vehicle. Othe
				r objects may include a tool 
				(e.g., hammer), a chemical (e.g., acid), mach
				inery (e.g., forklift or drill press), etc. </td>
		</tr>
		<tr>
			<td><strong>Item 9: </strong>Indicate if a licensed motor vehicle was involved in the acciden
				t. If so, check if the motor vehicle involved was yours, your 
				employer's, or a third party's. Include the license plate number 
				(if known). If your vehicle was involved, fill out the name an
				d address 
				of your automobile liab
				ility insurance carrier. </td>
		</tr>
		<tr>
			<td><strong>Item 10:</strong> Check if you gave your employer or supervisor notice of your in
				jury or illness. If so, indicate who you gave notice to as well 
				as if it was orally or in writing. Include the date you gave notice. </td>
		</tr>
		<tr>
			<td><strong>Item 11:</strong> Check if anyone else saw the injury happen. If anyone did see it, include their name(s). </td>
		</tr>
		<tr>
			<td height="40" valign="bottom"><strong>Section E - Return to Work:</strong></td>
		</tr>
		<tr>
			<td><strong>Item 1:</strong> If you stopped working as a result of your work-related injury
				/illness, check Yes and indicate the date you stopped working. 
				If you have not stopped working, check No and skip to the next section. </td>
		</tr>
		<tr>
			<td><strong>Item 2:</strong> If you have since returned to work, check Yes. Also indicate
				on what date you started working again, as well as if you have 
				returned to your Normal Duties or if you are on Limited or Re
				stricted Duty. (If you have not re
				turned to your full pre-injury o
				r illness 
				work duties, then you are on Limited Duty.) </td>
		</tr>
		<tr>
			<td><strong>Item 3</strong>: 
				If you have returned to work, indicate who you are working for now. </td>
		</tr>
		<tr>
			<td><strong>Item 4:</strong> Enter your gross pay (before tax pay) per pay period for the job you are working at now. Indicate how often you are 
				receiving a paycheck (weekly, bi-weekly, etc.). </td>
		</tr>
		<tr>
			<td height="150" valign="bottom"><strong>C
				‐
				3.0
				(1
				‐
				11)</strong></td>
		</tr>
	</tbody>
</table>
<pagebreak>
<table width="1100" border="0" align="center" style="font-family: sans-serif; font-size:18px;">
	<tbody>
		<tr>
			<td><strong>Section F - Medical Treatment
				for This Injury or Illness: </strong></td>
		</tr>
		<tr>
			<td><strong>Item 1:</strong> If you did not receive medical treatment for this injury/illness,
				check None Received and skip to item 5. Otherwise, enter the 
				date you first received treatment for this injury/illness and complete the rest of this section. </td>
		</tr>
		<tr>
			<td><strong>Item 2:</strong> Check if you were first treated on the job for this injury or illness. </td>
		</tr>
		<tr>
			<td><strong>Item 3:</strong> Check the location where you first received off site medica
				l treatment for your injury or illness. Include the name and 
				address of the facility as well as 
				the phone number (including area code). </td>
		</tr>
		<tr>
			<td><strong>Item 4:</strong> If you are still receiving ongoing treatment for the same injury
				or illness, check Yes and indicate the name and address of 
				the doctor(s) providing treatment as well as the ph
				one number (including area code); otherwise, check No. </td>
		</tr>
		<tr>
			<td><strong>Item 5:</strong> If you believe you already had an injury to the same body part or a similar illness, check Yes and indicate if you were treated
				by a doctor for this injury or illness. If you were treated by
				a doctor, indicate the name(s) and address(es) of the doctor(s) 
				whom </td>
		</tr>
		<tr>
			<td>provided care and 
				complete and file Form C-3.3 together with this form.</td>
		</tr>
		<tr>
			<td><strong>tem 6:</strong> If you had a previous injury or illness, c
				heck if your previous injury or illness was work-related. If Yes, check if the injury
				or 
				illness happened while working for your current employer. </td>
		</tr>
		<tr>
			<td height="100">Sign Form C-3 in the place provided for 
				Employee's Signature on page 2, print your name, and enter the date you signed the form
				. 
				If a third-party is signing on behalf of the employee, that per
				son should sign on the second signature line. If you have legal 
				representation, your representative 
				must 
				complete and sign the attorney/representative's certification section on the 
				bottom of page 2. </td>
		</tr>
		<tr>
			<td><strong>What Every Worker Should Do in Case of 
				On-The-Job Injury or 
				Occupational Disease: </strong></td>
		</tr>
		<tr>
			<td>1. Immediately tell your employer or supervisor when, where and how you were injured. </td>
		</tr>
		<tr>
			<td>2. Secure medical care immediately. </td>
		</tr>
		<tr>
			<td>3. Tell your doctor to file medical reports with the 
				Board and with your employer or its insurance carrier. </td>
		</tr>
		<tr>
			<td>4. Make out this claim for compensation and send it to the neare
				st Workers' Compensation Board Office. (See below.) Failure to 
				file 
				within two years after the date of injury may result in yo
				ur claim being denied. If you need help in completing this form, tele
				phone or 
				visit the nearest Workers' Compen
				sation Board Office listed below. </td>
		</tr>
		<tr>
			<td>5. Go to all hearings when notified to appear. </td>
		</tr>
		<tr>
			<td>6. Go back to work as soon as you are able; 
				compensation is never as high as your wage. </td>
		</tr>
		<tr>
			<td><strong>Your Rights: </strong></td>
		</tr>
		<tr>
			<td>1. Generally, you are entitled to be treated by a doctor of yo
				ur choice, provided he/she is authorized by the Board. If your em
				ployer 
				is involved in a preferred provider organi
				zation (PPO) arrangement, you must obtain initial treatment from the preferred provid
				er 
				organization which has been designated to 
				provide health care services for 
				workers' compensation injuries. </td>
		</tr>
		<tr>
			<td>2. DO NOT pay your doctor or hospital. Their bills will be paid by
				the insurance carrier if your 
				case is not disputed. If your 
				case is 
				disputed, the doctor or hospital must wait for payment until the 
				Board decides your case. In the event you fail to prosecute yo
				ur case 
				or the Board decides against you, you w
				ill have to pay the doctor or hospital. </td>
		</tr>
		<tr>
			<td>3. You are also entitled to be reimbursed 
				for drugs, crutches, or any apparatus properly
				prescribed by your doctor and for carf
				ares 
				or other necessary expenses going to and from your doctor's o
				ffice or the hospital. (Get receipts for such expenses.) </td>
		</tr>
		<tr>
			<td>4. You are entitled to compensation if your injury keeps you from
				work for more than seven days, compels you to work at lower 
				wages, or results in permanent disability to any part of your body. </td>
		</tr>
		<tr>
			<td>5. Compensation is payable directly and without wait
				ing for an award, except when the claim is disputed. </td>
		</tr>
		<tr>
			<td>6. Injured workers or dependents of deceased workers may represent
				themselves in matters before the Board or may retain an 
				attorney or licensed representative to represent them. If an atto
				rney or licensed representative is
				retained, his/her fee for l
				egal 
				services will be reviewed by the Board and if approved will be paid 
				by the employer or insurance company out of any compensatio
				n 
				benefits due. Injured workers or dependents of deceased workers shoul
				d not directly pay anything to the attorney or licensed 
				representative representing them in a compensation case. </td>
		</tr>
		<tr>
			<td>7. If you need help returning to work, or with family or financia
				l problems because of your injury
				, contact the Workers' Compen
				sation 
				Board office nearest you and ask for a reh
				abilitation counselor or social worker. </td>
		</tr>
		<tr>
			<td height="50" valign="bottom"><strong>This form should be filed by sending directly to the address listed below: </strong></td>
		</tr>
		<tr>
			<td><strong>New York State Workers' Compensation Board </strong></td>
		</tr>
		<tr>
			<td><strong>Centralized Mailing</strong></td>
		</tr>
		<tr>
			<td><strong>PO Box 5205 </strong></td>
		</tr>
		<tr>
			<td><strong>Binghamton, NY 13902-5205 </strong></td>
		</tr>
		<tr>
			<td height="40" valign="bottom"><strong>Customer Service Toll-Free Number: 877-632-4996 </strong></td>
		</tr>
		<tr>
			<td height="160" valign="bottom"><strong>C
				‐
				3.0
				(1
				‐
				11)</strong></td>
		</tr>
	</tbody>
</table>
