<style>
@page { margin: 0.75cm; }
</style>

<table width="100%" border="0" align="center" style="font-family: sans-serif; padding:20px 0 100px 0; ">
    <tbody>
  
  <tr>
      <td width="1100px" align="center" style="border-bottom:10px solid #006fc0;">
    <table width="100%" border="0">
      <tbody>
        <tr> <td width="35%"  align="left" valign="top">
          <table width="100%" border="0">
            <tbody>
              <tr>
                <td style="padding:0 0 10px 0; font-size:16px;"><p>1963 Grand Concourse, 2 nd Fl. Bronx, NY 10453 <br>
                    P: (718) 466 -4600 / F: (718) 466- 1100 </p></td>
              </tr>
              <tr>
                <td style="padding:0 0 10px 0; font-size:16px;"><p> 6555 Woodhaven Blvd Rego Park , NY 11374 <br>
                    P: (718) 255 -6615 / F: (718) 255- 1394 </p></td>
              </tr>
              <tr>
                <td style="padding:0 0 10px 0; font-size:16px;"><p> 910 E. Gun Hill Road, Bronx, NY 10469 <br>
                    P: (718) 882 -8500 / F: (718) 882- fasfas4400 </p></td>
              </tr>
              <tr>
                <td style="padding:0 0 10px 0; font-size:16px;"><p> 55 Greene Ave, Ste LLB, Brooklyn, NY 11238 <br>
                    P: (718) 398 -7777 / F:718- 399- 7777 </p></td>
              </tr>
            </tbody>
          </table>
        </td>
      
      
        <td  width="26%" align="center" valign="top"><div class="logo"><img src="{{url('local/resources/images/citimed-logo.png')}}" alt="pic" style="max-width:100%; width:40%; height:auto; display:block;"></div></td>
        <td width="39%" align="right" valign="top"><table width="100%" border="0">
            <tbody>
              <tr>
                <td style="padding:0 0 10px 0; text-align: right; font-size:16px;"><p>JFK Airport Bldg. 75, Ste. 247 - 249 Jamaica, NY 11430 <br>
                    P: (718) 656 -9500 / F: (718) 656- 9503 </p></td>
              </tr>
              <tr>
                <td style="padding:0 0 10px 0; text-align: right; font-size:16px;"><p> 14 Mamaroneck Ave., 2 nd Fl. White Plains, NY 10601 <br>
                    P: (914) 949 -5555 / F: (914) 993- 3333 </p></td>
              </tr>
              <tr>
                <td style="padding:0 0 10px 0; text-align: right; font-size:16px;"><p>JFK Airport Bldg. 14, Ste. 14A, Jamaica, NY 11430 <br>
                    P: (718) 656 -1245 / F: (718) 656- 3060 </p></td>
              </tr>
              <tr>
                <td style="padding:0 0 10px 0; text-align: right; font-size:16px;"><p>92- 20 165 th Street, Jamaica, NY 11433 <br>
                    P: (718) 725 -0044 / F: (718) 725- 0880 </p></td>
              </tr>
            </tbody>
          </table></td>
      </tr>
        </tbody>
      
    </table>
      </td>
  </tr>
  <tr>
    <td><table width="1100px" border="0" style="font-size: 20px;font-family: serif; margin:0 auto;">
        <tbody>
          <tr>
            <td height="40" align="center" valign="bottom" style="font-size: 23px; margin:0 0 0 250px;"><strong>PATIENT’S GUARANTOR BILLING AGREEMENT</strong></td>
          </tr>
        </tbody>
      </table></td>
  </tr>
  <tr>
    <td><table width="1100px" border="0" align="center" style="font-size: 20px;font-family: serif; margin:0 auto;">
        <tbody>
          <tr>
            <td width="100%" height="40" valign="bottom" style=" word-spacing: 5px;letter-spacing: 2px; line-height:30px; margin:0 0 40px 0"><p>I verify that I have reviewed the information on this form, and that it is correct.</p>
              <p>I understand that if my insurance claim is denied due to incorrect personal information or incorrect insurance 
                information, that I have provided, I will be billed and paym
                ent in full will be due immediately.</p>
              <p>I understand that if the patient has a billable insurance plan, and the insurance has not paid the claim within 60 
                days of the date of service, charges for that visit will become my responsibility to pay.</p>
              <p> I  understand 
                that,  under  the  terms  of  the  contract  with  the  insurance  company,  co-
                payment,  deductible,  and 
                co-insurance must be paid at the time of service.</p>
              <p> If the patient has <strong style="border-bottom:2px solid #000;"> no</strong> insurance coverage, I agree to pay the balance in full at the time services are provided.</p>
              <p> I  hereby  authorize  the  release  of  medical  information  to  the  insurance  company
                (ies)  concerning  any  illness 
                and treatment of the patient.</p>
              <p> I acknowledge that I can o
                btain a copy of the CitiMedical I, PLLC. Privacy Practices/Patient’s Privacy Rights,</p>
              <p> Patient information Letter and the Patient Financial Policy from the front desk personnel upon request.</p>
              <p> A service charge of $25.00 will be assessed on all returned checks </p></td>
        </tbody>
      </table></td>
  </tr>
  <tr>
    <td><table width="1100px" border="0" style="font-size: 20px;font-family: serif; margin:0 auto;">
        <tbody>
          <tr>
            <td height="100" align="center" valign="middle" style="font-size: 23px;"><strong>RESPONSIBILITY AGREEMENT</strong></td>
          </tr>
        </tbody>
      </table></td>
  </tr>
  <tr>
    <td><table width="1100px" border="0" align="center" style="font-size: 23px;font-family: serif; margin:0 auto;">
        <tbody>
          <tr>
            <td width="1100px"   style="text-align:justify; line-height:40px;"><p>I acknowledge and understand that I am financially responsible for all services rendered to me by CitiMedical 
                I,  PLLC,  I
                .   Although  CitiMedical  I,  PLLC,
                may  bill  my  insurance  carrier  for  services  on  my  behalf,  I  
                understand that it is still my responsibility to make sure that the bill is paid within a reasonable length of time. 
                If for any reason, there is a balance owing after the insurance pays, I agree t
                o pay the balance within 30 days 
                of  being  billed.  I  also  understand  that  if  litigation  becomes  necessary  to  recoup  any  balance  due  to  
                CitiMedical I, PLLC, I will be held liable to any attorney’s fees and court cost that are applicable. </p></td>
        </tbody>
      </table></td>
  </tr>
  <tr>
    <td><table width="1100px" border="0" style="font-size: 20px;font-family: serif; margin:0 auto;">
        <tbody>
          <tr>
            <td width="280px" height="40" align="left" valign="bottom">Patient/Guarantor Signature</td>
            <td width="670px" height="40" style="border-bottom:1px solid #000;"></td>
            <td width="50px" height="40" valign="bottom">Date</td>
            <td width="100px" height="40" style="border-bottom:1px solid #000;"></td>
          </tr>
        </tbody>
      </table></td>
  </tr>
  <tr>
    <td><table width="1100px" border="0" style="font-size: 20px;font-family: serif; margin:0 auto; padding:20px 0;">
        <tbody>
          <tr>
            <td width="1100px"  valign="bottom" style="word-spacing:10px; line-height:30px;"><p>Updates: I have reviewed the information on this form and I verify that all the information is current and unchanged. </p></td>
          </tr>
        </tbody>
      </table></td>
  </tr>
  <tr>
    <td><table width="1100px" border="0" style="font-size: 20px;font-family: serif; margin:0 auto;">
        <tbody>
          <tr>
            <td width="1100px" height="40" valign="bottom" align="left"><p>Initials/Date:</p></td>
          </tr>
        </tbody>
      </table></td>
  </tr>
  <tr>
    <td width="1100px" align="left"><table width="1100px" border="0" style="font-size: 20px; font-family: serif; margin:0 0 0 20px ;">
        <tbody>
          <tr>
            <td width="200px" height="40" align="left" style="border-bottom:1px solid #000;"></td>
            <td width="200px" height="40" align="left" style="border-bottom:1px solid #000; margin:0 0 0 10px;"></td>
            <td width="700px" height="40" align="left" ></td>
          </tr>
        </tbody>
      </table></td>
  </tr>
    </tbody>
  
</table>
