<style>
@page { margin: 0.75cm; }
</style>

<table width="100%" border="0" align="center" style="font-family: sans-serif; padding:20px 0 200px 0; ">
    <tbody>
        <tr>
            <td width="1100px" align="center" style="border-bottom:10px solid #006fc0;"><table width="100%" border="0">
                    <tbody>
                        <tr>
                            <td width="35%"  align="left" valign="top"><table width="100%" border="0">
                                    <tbody>
                                        <tr>
                                            <td style="padding:0 0 10px 0; font-size:16px;"><p>1963 Grand Concourse, 2nd Fl. Bronx, NY 10453 <br>
                                                    P: (718) 466 -4600 / F: (718) 466- 1100 </p></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:0 0 10px 0; font-size:16px;"><p> 6555 Woodhaven Blvd Rego Park , NY 11374 <br>
                                                    P: (718) 255 -6615 / F: (718) 255- 1394 </p></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:0 0 10px 0; font-size:16px;"><p> 910 E. Gun Hill Road, Bronx, NY 10469 <br>
                                                    P: (718) 882 -8500 / F: (718) 882- fasfas4400 </p></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:0 0 10px 0; font-size:16px;"><p> 55 Greene Ave, Ste LLB, Brooklyn, NY 11238 <br>
                                                    P: (718) 398 -7777 / F:718- 399- 7777 </p></td>
                                        </tr>
                                    </tbody>
                                </table></td>
                            <td  width="26%" align="center" valign="top"><div class="logo"><img src="{{url('local/resources/images/citimed-logo.png')}}" alt="pic" style="max-width:100%; width:40%; height:auto; display:block;"></div></td>
                            <td width="39%" align="right" valign="top"><table width="98%" border="0">
                                    <tbody>
                                        <tr>
                                            <td style="padding:0 0 10px 0; text-align: right; font-size:16px;"><p>JFK Airport Bldg. 75, Ste. 247 - 249 Jamaica, NY 11430 <br>
                                                    P: (718) 656 -9500 / F: (718) 656- 9503 </p></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:0 0 10px 0; text-align: right; font-size:16px;"><p>JFK Airport Bldg. 14, Ste. 14A, Jamaica, NY 11430 <br>
P: (718) 656 -1245 / F: (718) 656- 3060</p></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:0 0 10px 0; text-align: right; font-size:16px;"><p>14 Mamaroneck Ave., 2nd Fl. White Plains, NY 10601 <br>
P: (914) 949 -5555 / F: (914) 993- 3333</p></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:0 0 10px 0; text-align: right; font-size:16px;"><p>92- 20 16 th Street, Jamaica, NY 11433 <br>
                                                    P: (718) 725 -0044 / F: (718) 725- 0880 </p></td>
                                        </tr>
                                    </tbody>
                                </table></td>
                        </tr>
                    </tbody>
                </table></td>
        </tr>
        <tr>
            <td><table width="1100px" border="0" style="font-size: 28px; font-family: serif; margin:0 auto;">
                    <tbody>
                        <tr>
                            <td height="100" width="1100px" align="center" valign="middle" style="font-size: 28px;"><strong style="border-bottom:2px solid #000; line-height:35px; ">PATIENT HIPAA AWARENESS</strong></td>
                        </tr>
                    </tbody>
                </table></td>
        </tr>
        <tr>
            <td><table width="1100px" border="0" align="center" style="font-size: 24px; font-family: serif; margin:0 auto;">
                    <tbody>
                        <tr>
                            <td style=" text-align:justify;
              line-height:30px; padding:0 0 15px 0; font-size:24px;"><p>With my awareness, CitiMedical I, PLLC. may use and disclose protected health information (PHI) about me to carry out treatment, payment and healthcare operations (TPO). Please refer to, CitiMedical I, PLLC’s Notice of Privacy Practices for a more complete description of such uses and disclosures. </p>
                               </td>
                        </tr>
                        <tr>
                            <td style=" text-align:justify;
              line-height:30px; padding:0 0 15px 0; font-size:24px;"><p>I have the right to review the Notice of Privacy Practices prior to signing this consent CitiMedical I, PLLC reserves the right to revise its Notice of Privacy Practices at any time. A revised Notice of Privacy Practices may be obtained by forwarding a written request to the Privacy Officer.</p></td>
                        </tr>
                        <tr>
                            <td style=" text-align:justify;
              line-height:30px; padding:0 0 15px 0; font-size:24px;"><p>With my permission, the offices of, CitiMedical I, PLLC may call my home or other designated locations and leave a message on voicemail, or in person, in reference to any items that may assist The Practice in carryi ng out TPO, such as appointment reminders, insurance matters and any information pertaining to billing/collections or my clinical care, including laboratory results among others.</p></td>
                        </tr>
                        <tr>
                            <td style=" text-align:justify;
              line-height:30px; padding:0 0 15px 0; font-size:24px;"><p>With my permission, the offices of, CitiMedical I, PLLC may call my home or other designated locations and leave a message on voicemail, or in person, in reference to any items that may assist The Practice in carryi ng out TPO, such as appointment reminders, insurance matters and any information pertaining to billing/collections or my clinical care, including laboratory results among others.</p></td>
                        </tr>
                        <tr>
                            <td style=" text-align:justify;
              line-height:30px; padding:0 0 15px 0; font-size:24px;"> <p>With my permission, the offices of, CitiMedical I, PLLC may mail to my home, or other designated location, any items that assist The Practice in carrying out TPO, such as appointment reminder cards and patient statements as long as they are marked Personal and Confidential. I have the right to request that, CitiMedical I, PLLC res trict how it uses or discloses my PHI to carry out TPO. However, the practice is not required to agree to my requested rest rictions, though if it does so it is bound by this agreement.</p></td>
                        </tr>
                        <tr>
                            <td style=" text-align:justify;
              line-height:30px; padding:0 0 15px 0; font-size:24px;"> <p>By signing this form, I am allowing, CitiMedical I, PLLC to use and disclose my PHI for TPO.</p></td>
                        </tr>
                                     <tr>
                            <td style=" text-align:justify;
              line-height:30px; padding:0 0 15px 0; font-size:24px;"> <p>I may revoke my consent in writing except to the extent that the practice has already made disclosures in reliance upon my prior consent. </p></td>
                        </tr>
                    </tbody>
                </table></td>
        </tr>
        <tr>
            <td align="left" width="1100px"><table width="1100px" border="0" style="font-size: 24px;font-family: serif;">
                    <tbody>
                        <tr>
                            <td height="40" width="450px" align="left" valign="bottom" style="border-bottom:1px solid #000;"></td>
                            <td height="40" width="325px" align="left" valign="bottom"></td>
                            <td height="40" width="325px" align="left" valign="bottom"></td>
                        </tr>
                    </tbody>
                </table></td>
        </tr>
        <tr>
            <td align="left" width="1100px"><table width="1100px" border="0" style="font-size: 24px;font-family: serif;">
                    <tbody>
                        <tr>
                            <td width="450px" align="left" valign="bottom">Signature of Patient or Legal Guardian </td>
                            <td width="325px" align="left" valign="bottom"></td>
                            <td width="325px" align="center" valign="bottom"></td>
                        </tr>
                    </tbody>
                </table></td>
        </tr>
        <tr>
            <td width="1100px"><table width="1100px" border="0" style="font-size: 24px;font-family: serif;">
                    <tbody>
                        <tr>
                            <td height="50" width="450px" align="left" valign="bottom" style="border-bottom:1px solid #000;"></td>
                            <td height="30" width="325px" align="left" valign="bottom"></td>
                            <td height="30" width="325px" align="left" valign="bottom"></td>
                        </tr>
                    </tbody>
                </table></td>
        </tr>
        <tr>
            <td width="1100px"><table width="1100px" border="0" style="font-size: 24px;font-family: serif;">
                    <tbody>
                        <tr>
                            <td width="450px" align="left" valign="bottom">Print Patient’s name </td>
                            <td width="325px" align="left" valign="bottom"></td>
                            <td width="325px" align="center" valign="bottom"></td>
                        </tr>
                    </tbody>
                </table></td>
        </tr>
        <tr>
            <td width="1100px"><table width="1100px" border="0" style="font-size: 24px;font-family: serif;">
                    <tbody>
                        <tr>
                            <td height="50" width="450px" align="left" valign="bottom" style="border-bottom:1px solid #000;"></td>
                            <td height="30" width="100px" align="left" valign="bottom"></td>
                            <td height="30" width="200px" align="left" valign="bottom" style="border-bottom:1px solid #000; margin:0 0 0 10px;"></td>
                            <td height="30" width="350px" align="left" valign="bottom"></td>
                        </tr>
                    </tbody>
                </table></td>
        </tr>
        <tr>
            <td width="1100px"><table width="1100px" border="0" style="font-size: 24px;font-family: serif;">
                    <tbody>
                        <tr>
                            <td width="450px" align="left" valign="bottom">Print Legal Guardian’s name </td>
                            <td width="100px" align="left" valign="bottom"></td>
                            <td width="550px" align="left" valign="bottom">Date</td>
                        </tr>
                    </tbody>
                </table></td>
        </tr>
    </tbody>
</table>
