<table width="1100" border="0" valign="top" align="center">
	<tbody>
		<tr>
			<td valign="top" align="center" style="font-family:serif; font-size:26px; text-transform:uppercase;"><span style="border-bottom:2px solid #000;">
			HOUSEHOLD AFFIDAVIT</span></td>
		</tr>
		<tr>
			<td valign="top">
				<table width="100%" border="0" style="margin:30px 0 0;">
					<tbody>
						<tr>
							<td width="30">&nbsp;</td>
							<td width="10" valign="bottom" align="left" style="font-family:serif; font-size:24px; text-transform:capitalize;">On</td>
							<td width="190" valign="bottom" align="left" style="font-family:serif; font-size:22px; border-bottom:2px solid #000;">&nbsp;</td>
							<td width="240" valign="bottom" align="left" style="font-family:serif; font-size:24px;">(date of accident), I,</td>
							<td width="330" valign="bottom" align="left" style="font-family:serif; font-size:22px; border-bottom:2px solid #000;">&nbsp;</td>
							<td width="160" valign="bottom" align="right" style="font-family:serif; font-size:24px;">, resided at</td>
							<td width="140">&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<table width="100%" border="0">
					<tbody>
						<tr>
							<td width="1040" valign="bottom" align="left" style="font-family:serif; font-size:22px; border-bottom:2px solid #000;">&nbsp;</td>
							<td width="60">&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table>
					<tbody>
						<tr>
							<td width="30">&nbsp;</td>
							<td width="610" valign="bottom" align="left" style="font-family:serif; font-size:24px;">I am currently residing at (if different 
							from the above)</td>
							<td width="430" valign="bottom" align="left" style="font-family:serif; font-size:22px; border-bottom:2px solid #000;">&nbsp;</td>
							<td width="30">&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<table>
					<tbody>
						<tr>
							<td width="30">&nbsp;</td>
							<td width="320" valign="top" align="left" style="font-family:serif; font-size:24px;">Check the correct response:</td>
							<td width="750">&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<table width="100%" border="0">
					<tbody>
						<tr>
							<td width="30">&nbsp;</td>
							<td width="50" valign="middle" align="left"><input type="checkbox" name="myTextEditBox" value="checked"  style="margin-left:auto; 
							margin-right:auto;"></td>
							<td width="800" valign="middle" align="left" style="font-family:serif; font-size:24px;">At the time of the accident I was 
							living alone; no one else lived with me.</td>
							<td width="220">&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<table width="100%" border="0">
					<tbody>
						<tr>
							<td width="30">&nbsp;</td>
							<td width="50" valign="middle" align="left"><input type="checkbox" name="myTextEditBox" value="checked"  style="margin-left:auto; 
							margin-right:auto;"></td>
							<td width="640" valign="middle" align="left" style="font-family:serif; font-size:24px;">The following people lived with me on the 
							date of accident:</td>
							<td width="380"><p>&nbsp;</p>
							<p>&nbsp;</p></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<table width="100%" border="0" style="margin:10px 0 0;">
					<tbody>
						<tr>
							<td width="30">&nbsp;</td>
							<td width="240" valign="middle" align="left" style="font-family:serif; font-size:24px;"><span style="border-bottom:1px solid #000;">
							NAME</span></td>
							<td width="220" valign="middle" align="left" style="font-family:serif; font-size:24px;"><span style="border-bottom:1px solid #000;">
							Social Security#</span></td>
							<td width="220" valign="middle" align="left" style="font-family:serif; font-size:24px;"><span style="border-bottom:1px solid #000;">
							DATE of BIRTH</span></td>
							<td width="200" valign="middle" align="left" style="font-family:serif; font-size:24px;"><span style="border-bottom:1px solid #000;">
							RELATIONSHIP</span></td>
							<td width="190">&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<table width="100%" border="0" style="margin:10px 0 10px;">
					<tbody>
						<tr>
							<td width="30">&nbsp;</td>
							<td width="220" valign="bottom" align="left" style="font-family:serif; font-size:24px; border-bottom:2px solid #000;">&nbsp;</td>
							<td width="40">&nbsp;</td>
							<td width="180" valign="bottom" align="left" style="font-family:serif; font-size:24px; border-bottom:2px solid #000;">&nbsp;</td>
							<td width="40">&nbsp;</td>
							<td width="140" valign="bottom" align="left" style="font-family:serif; font-size:24px; border-bottom:2px solid #000;">&nbsp;</td>
							<td width="60">&nbsp;</td>
							<td width="160" valign="bottom" align="left" style="font-family:serif; font-size:24px; border-bottom:2px solid #000;">&nbsp;</td>
							<td width="230">&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<table width="100%" border="0" style="margin:10px 0 10px;">
					<tbody>
						<tr>
							<td width="30">&nbsp;</td>
							<td width="220" valign="bottom" align="left" style="font-family:serif; font-size:24px; border-bottom:2px solid #000;">&nbsp;</td>
							<td width="40">&nbsp;</td>
							<td width="180" valign="bottom" align="left" style="font-family:serif; font-size:24px; border-bottom:2px solid #000;">&nbsp;</td>
							<td width="40">&nbsp;</td>
							<td width="140" valign="bottom" align="left" style="font-family:serif; font-size:24px; border-bottom:2px solid #000;">&nbsp;</td>
							<td width="60">&nbsp;</td>
							<td width="160" valign="bottom" align="left" style="font-family:serif; font-size:24px; border-bottom:2px solid #000;">&nbsp;</td>
							<td width="230">&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<table width="100%" border="0" style="margin:10px 0 10px;">
					<tbody>
						<tr>
							<td width="30">&nbsp;</td>
							<td width="220" valign="bottom" align="left" style="font-family:serif; font-size:25px; border-bottom:2px solid #000;">&nbsp;</td>
							<td width="40">&nbsp;</td>
							<td width="180" valign="bottom" align="left" style="font-family:serif; font-size:25px; border-bottom:2px solid #000;">&nbsp;</td>
							<td width="40">&nbsp;</td>
							<td width="140" valign="bottom" align="left" style="font-family:serif; font-size:25px; border-bottom:2px solid #000;">&nbsp;</td>
							<td width="60">&nbsp;</td>
							<td width="160" valign="bottom" align="left" style="font-family:serif; font-size:25px; border-bottom:2px solid #000;">&nbsp;</td>
							<td width="230">&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<table width="100%" border="0" style="margin:10px 0 10px;">
					<tbody>
						<tr>
							<td width="30">&nbsp;</td>
							<td width="220" valign="bottom" align="left" style="font-family:serif; font-size:24px; border-bottom:2px solid #000;">&nbsp;</td>
							<td width="40">&nbsp;</td>
							<td width="180" valign="bottom" align="left" style="font-family:serif; font-size:24px; border-bottom:2px solid #000;">&nbsp;</td>
							<td width="40">&nbsp;</td>
							<td width="140" valign="bottom" align="left" style="font-family:serif; font-size:24px; border-bottom:2px solid #000;">&nbsp;</td>
							<td width="60">&nbsp;</td>
							<td width="160" valign="bottom" align="left" style="font-family:serif; font-size:24px; border-bottom:2px solid #000;">&nbsp;</td>
							<td width="230">&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<table width="100%" border="0" style="margin:10px 0 10px;">
					<tbody>
						<tr>
							<td width="30">&nbsp;</td>
							<td width="220" valign="bottom" align="left" style="font-family:serif; font-size:24px; border-bottom:2px solid #000;">&nbsp;</td>
							<td width="40">&nbsp;</td>
							<td width="180" valign="bottom" align="left" style="font-family:serif; font-size:24px; border-bottom:2px solid #000;">&nbsp;</td>
							<td width="40">&nbsp;</td>
							<td width="140" valign="bottom" align="left" style="font-family:serif; font-size:24px; border-bottom:2px solid #000;">&nbsp;</td>
							<td width="60">&nbsp;</td>
							<td width="160" valign="bottom" align="left" style="font-family:serif; font-size:24px; border-bottom:2px solid #000;">&nbsp;</td>
							<td width="230">&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<table width="100%" border="0" style="margin:20px 0 0;">
					<tbody>
						<tr>
							<td width="30">&nbsp;</td>
							<td width="1070" valign="top" align="left" style="font-family:serif; font-size:23px; line-height:1.4;"><span style="border-bottom:
							1px solid #000;">Please list ALL members of the your household, including Social Security dates of birth & relationship to you.</span>
							 [use reverse if necessary]
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<table>
					<tbody>
						<tr>
							<td width="280">&nbsp;</td>
							<td width="430" valign="top" align="center" style="font-family:serif; font-size:24px;">****** <strong style="text-transform:uppercase;
							border-bottom:2px solid #000;"><em>MUST BE NOTARIZED</em></strong> ******</td>
							<td width="390">&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<table width="100%" border="0" style="margin:40px 0 0;">
					<tbody>
						<tr>
							<td width="450">&nbsp;</td>
							<td width="450" valign="bottom" align="left" style="font-family:serif; font-size:24px; border-bottom:2px solid #000;">&nbsp;</td>
							<td width="200">&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<table width="100%" border="0">
					<tbody>
						<tr>
							<td width="460">&nbsp;</td>
							<td width="60" valign="top" align="left" style="font-family:serif; font-size:24px;">Signature</td>
							<td width="330">&nbsp;</td>
							<td width="30" valign="top" align="left" style="font-family:serif; font-size:24px;">date</td>
							<td width="220">&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top" align="left" style="font-family:serif; font-size:25px; line-height:1.3;">
				<p>Notary:</p>
				<br>
				<p>Sworn to before me this day</p>
				<p>Of 20</p>
				<br>
				<br>
				<p style="text-transform:uppercase; font-size:26px">ANY PERSON WHO KNOWINGLY AND WITH INTENT TO DEFRAUD ANY INSURANCE COMPANY OR OTHER PERSON 
				wr-10 FILES A STATEMENT OF CLAIM CONTAINING ANY MATERIALLY FALSE INFORMATION, OR CONCEALS FOR THE PURPOSE OF MISLEADING, INFORMATION CONCERNING 
				ANY FACT MATERIAL THERETO, COMMITS A FRAUDULENT INSURANCE ACT, WHICH IS A CRIME, AND SHALL ALSO BE SUBJECT TO A CIVIL PENALTY NOT TO EXCEED FIVE 
				THOUSAND DOLLARS AND THE STATED VALUE OF THE CLAIM FOR EACH VIOLATION.</p>
			</td>
		</tr>
	</tbody>
</table>
