<style>

@page { margin: 0.75cm; }
</style>
<table width="1100px" border="0" align="center" style="font-family: sans-serif;">
        <tbody>
    
    <tr>
        <td  align="center" style="border-bottom:10px solid #006fc0;"><table width="100%" border="0">
                <tbody>
                    <tr>
                        <td width="35%"  align="left" valign="top"><table width="100%" border="0">
                                <tbody>
                                    <tr>
                                        <td style="padding:0 0 10px 0; font-size:20px;"><p>1963 Grand Concourse, 2nd Fl. Bronx, NY 10453 <br>
                                                P:dddd (718) 466 -4600 / F: (718) 466- 1100 </p></td>
                                    </tr>
                                    <tr>
                                        <td style="padding:0 0 10px 0; font-size:20px;"><p> 6555 Woodhaven Blvd Rego Park , NY 11374 <br>
                                                P: (718) 255 -6615 / F: (718) 255- 1394 </p></td>
                                    </tr>
                                    <tr>
                                        <td style="padding:0 0 10px 0; font-size:20px;"><p> 910 E. Gun Hill Road, Bronx, NY 10469 <br>
                                                P: (718) 882 -8500 / F: (718) 882- fasfas4400 </p></td>
                                    </tr>
                                    <tr>
                                        <td style="padding:0 0 10px 0; font-size:20px;"><p> 55 Greene Ave, Ste LLB, Brooklyn, NY 11238 <br>
                                                P: (718) 398 -7777 / F:718- 399- 7777 </p></td>
                                    </tr>
                                </tbody>
                            </table></td>
                        <td  width="30%" align="center" valign="top"><div class="logo"><img src="{{url('local/resources/images/citimed-logo.png')}}" alt="pic" style="max-width:100%; width:45%; height:auto; display:block;"></div></td>
                        <td width="35%" align="right" valign="top"><table width="100%" border="0">
                                <tbody>
                                    <tr>
                                        <td style="padding:0 0 10px 0; text-align: right; font-size:20px;"><p>JFK Airport Bldg. 75, Ste. 247 - 249 Jamaica, NY 11430 <br>
                                                P: (718) 656 -9500 / F: (718) 656- 9503 </p></td>
                                    </tr>
                                 
                                    <tr>
                                        <td style="padding:0 0 10px 0; text-align: right; font-size:20px;"><p>JFK Airport Bldg. 14, Ste. 14A, Jamaica, NY 11430 <br>
                                                P: (718) 656 -1245 / F: (718) 656- 3060 </p></td>
                                    </tr>
                                       <tr>
                                        <td style="padding:0 0 10px 0; text-align: right; font-size:20px;"><p> 14 Mamaroneck Ave., 2nd Fl. White Plains, NY 10601 <br>
                                                P: (914) 949 -5555 / F: (914) 993- 3333 </p></td>
                                    </tr>
                                    <tr>
                                        <td style="padding:0 0 10px 0; text-align: right; font-size:20px;"><p>92- 20 165th Street, Jamaica, NY 11433 <br>
                                                P: (718) 725 -0044 / F: (718) 725- 0880 </p></td>
                                    </tr>
                                </tbody>
                            </table></td>
                    </tr>
                </tbody>
            </table></td>
    </tr>
    <tr>
        <td width="100%" height="100" align="center" valign="middle" style="font-size: 32px; font-family: serif; "><strong style="border-bottom:2px solid #000;">INTAKE FORM</strong></td>
    </tr>
    <tr>
        <td style="padding:0 0 10px 0;"><table width="100%" border="0" style="font-size: 22px; font-family: serif;">
                <tbody>
                    <tr>
                        <td width="10%"  align="left" valign="bottom" height="50">Todays Date:</td>
                        <td width="13%"  height="50" align="left" valign="top" style="border-bottom:1px solid #000;"></td>
                        <td width="52%"  height="50" align="left" valign="middle"></td>
                        <td width="13%"  valign="bottom" height="50"> Date of Accident:</td>
                        <td width="12%"  height="50" valign="middle" style="border-bottom:1px solid #000;">&nbsp;</td>
                    </tr>
                </tbody>
            </table></td>
    </tr>
        <tr>
            <td style="padding:0 0 10px 0;" valign="top"><table width="100%" border="0" >
                <tbody>
                    <tr>
                        <td align="left" valign="bottom" style="font-size:22px;" width="153">Patient Name: </td>
                        <td style="border-bottom:1px solid #000; font-size:22px;" width="718" valign="bottom" align="center">john, Doe,kkkk</td>
                        <td align="left" valign="bottom" style="font-size:22px;" width="183">Social Security #:</td>
                        <td width="253" valign="bottom" align="center" style="border-bottom:1px solid #000; font-size:22px;">00'00'00</td>
                    </tr>
                </tbody>
            </table></td>
        </tr>
    <tr>
        <td style="padding:0 0 10px 0;"><table width="100%" border="0" style="font-size: 22px; font-family: serif;">
                <tbody>
                    <tr>
                        <td width="13%" valign="bottom" align="left" height="50">Mailing Address: </td>
                        <td width="87%"  style="border-bottom:1px solid #000;">&nbsp;</td>
                    </tr>
                </tbody>
            </table></td>
    </tr>
    
    <tr>
        <td style="padding:0 0 10px 0;"><table width="100%" border="0" style="font-size: 22px; font-family: serif;">
                <tbody>
                    <tr>
                        <td width="153"  valign="bottom" align="left" height="50" style="font-size:22px;">Date of Birth:</td>
                        <td width="130"  height="40" align="center" valign="bottom" style="border-bottom:1px solid #000; font-size:22px;">6/7/1888</td>
                        <td width="48"  valign="bottom" align="left" height="50" style="font-size:22px;"> Age:</td>
                        <td width="72"  height="50" align="center" valign="bottom" style="border-bottom:1px solid #000; font-size:22px;">44</td>
                        <td width="64"  valign="bottom" align="left" height="50" style="font-size:22px;">Sex:</td>
                       <td width="40" valign="bottom" align="center"><input type="checkbox"  name="checkBox"></td>
                       <td style=" font-size:22px; font-size:22px;" width="67" align="left" valign="bottom">&nbsp; Male </td>
                        <td width="36" valign="bottom" align="center"><input type="checkbox"  name="checkBox"></td>
                       <td style=" font-size:22px; font-size:22px;" width="91" align="left" valign="bottom">&nbsp; Female </td>
                        <td width="33" valign="bottom" align="center"><input type="checkbox"  name="checkBox"></td>
                       <td style=" font-size:22px; font-size:22px;" width="36" align="left" valign="bottom">&nbsp; X </td>
                        <td width="166"   valign="bottom" align="left" height="50" style="font-size:22px;">Marital Status:</td>
                     <td width="35" valign="bottom" align="center"><input type="checkbox"  name="checkBox"></td>
                        <td width="54"  valign="bottom" align="left" height="50" style="font-size:22px;">Single</td>
                   <td width="35" valign="bottom" align="center"><input type="checkbox"  name="checkBox"></td>
                        <td width="70"   valign="bottom" align="left" height="50" style="font-size:22px;">Married</td>
                   <td width="22" valign="bottom" align="center"><input type="checkbox"  name="checkBox"></td>
                        <td width="97"  height="50" valign="bottom" align="left" style="font-size:22px;">Widowed</td>
                    </tr>
                </tbody>
            </table></td>
    </tr>
    <tr>
            <td style="padding:0 0 10px 0;">
        <table width="100%" border="0" style="font-size: 22px; font-family: serif;">
            <tbody>
                <tr>
                    <td width="11%" height="50" valign="bottom" align="left">Home Phone:</td>
                    <td width="2%" height="50" align="right" valign="bottom">(</td>
                    <td height="50" width="6%" valign="bottom" style="border-bottom:1px solid #000; ">&nbsp;</td>
                    <td height="50" width="1%" valign="bottom">)</td>
                    <td height="50" valign="bottom" width="13%" style="border-bottom:1px solid #000;">&nbsp;</td>
                    <td width="10%"  height="50" valign="bottom">Work Phone:</td>
            
            
                <td width="2%" height="50" align="right" valign="bottom">(</td>
                <td height="50" width="9%" valign="bottom" style="border-bottom:1px solid #000; ">&nbsp;</td>
                <td height="50" width="1%" valign="bottom">)</td>
                <td height="50" valign="bottom" width="12%" style="border-bottom:1px solid #000;">&nbsp;</td>
                        <td width="9%"  height="50" valign="bottom">Cell Phone:</td>
            
            
                <td height="50" width="1%" valign="bottom">(</td>
                <td height="50" width="8%" valign="bottom" style="border-bottom:1px solid #000; ">&nbsp;</td>
                <td height="50" width="1%" valign="bottom">)</td>
                <td height="50" valign="bottom" width="14%" style="border-bottom:1px solid #000;">&nbsp;</td>
            </tr>
                </tbody>
            
        </table>
            </td>
        
    </tr>
    <tr>
        <td style="padding:0 0 10px 0;"><table width="100%" border="0" style="font-size: 22px; font-family: serif; text-transform:uppercase;">
                <tbody>
                    <tr>
                        <td width="723" height="50" align="left" valign="bottom"><strong>FOR FEMALE PATIENTS ONLY: ARE YOU PREGNANT?</strong></td>
                      <td width="62" valign="bottom" align="center"><input type="checkbox"  name="checkBox"></td>
                        <td width="62" height="50" valign="bottom">YES</td>
                       <td width="63" valign="bottom" align="center"><input type="checkbox"  name="checkBox"></td>
                        <td width="62" height="50" valign="bottom">NO</td>
                    <td width="49" valign="bottom" align="center"><input type="checkbox"  name="checkBox"></td>
                        <td height="50" width="274" valign="bottom">NOT SURE</td>
                    </tr>
                </tbody>
            </table></td>
    </tr>
    <tr>
        <td style="padding:0 0 10px 0;"><table width="100%" border="0" style="font-size: 22px; font-family: serif; ">
                <tbody>
                    <tr>
                        <td width="15%" height="50" valign="bottom">Emergency Contact:</td>
                        <td width="39%" height="50" align="center" valign="bottom" style="border-bottom:1px solid #000;">&nbsp;</td>
                        <td width="7%" height="50" valign="bottom"> Phone #:</td>
                        <td width="39%" height="50" align="center" valign="bottom" style="border-bottom:1px solid #000;">&nbsp;</td>
                    </tr>
                </tbody>
            </table></td>
    </tr>
    <tr>
        <td style="padding:0 0 10px 0;"><table width="100%" border="0" style="font-size: 22px; font-family: serif;">
                <tbody>
                    <tr>
                        <td width="115" height="50" valign="bottom">Relationship</td>
                        <td width="195" height="50" style="border-bottom:1px solid #000;">&nbsp;</td>
                         <td width="48" valign="bottom" align="center"><input type="checkbox"  name="checkBox"></td>
                        <td width="313" height="50" valign="bottom"><strong>WORKERS COMPENSATION</strong></td>
                      <td width="63" valign="bottom" align="center"><input type="checkbox"  name="checkBox"></td>
                        <td width="141" height="50" valign="bottom"><strong>NO FAULT</strong></td>
                     <td width="63" valign="bottom" align="center"><input type="checkbox"  name="checkBox"></td>
                        <td height="50" width="353" valign="bottom"><strong>OTHER</strong></td>
                        
                    </tr>
                </tbody>
            </table></td>
    </tr>
    <tr>
        <td style="padding:0 0 10px 0;"><table width="100%" border="0" style="font-size: 22px ;font-family: serif; ">
                <tbody>
                    <tr>
                        <td width="20%" height="50" valign="bottom">Insurance Company Name:</td>
                        <td width="14%" height="50" align="center" valign="bottom" style="border-bottom:1px solid #000;">&nbsp;</td>
                        <td width="15%" height="50" valign="bottom">Policy Holder Name</td>
                        <td width="17%" height="50" align="center" valign="bottom" style="border-bottom:1px solid #000;">&nbsp;</td>
                         <td width="18%" height="50" valign="bottom">Adjuster Phone Number</td>
                        <td width="16%" height="50" align="center" valign="bottom" style="border-bottom:1px solid #000;">&nbsp;</td>
                    </tr>
                </tbody>
            </table></td>
    </tr>
    <tr>
        <td style="padding:0 0 10px 0;"><table width="100%" valign="middle" border="0" style="font-size: 22px; font-family: serif;">
                <tbody>
                    <tr>
                        <td width="18%" height="50" valign="bottom">Insurance Co. Address:</td>
                        <td width="82%" height="50" align="left" valign="bottom" style="border-bottom:1px solid #000;">&nbsp;</td>
                       
                    </tr>
                </tbody>
            </table></td>
    </tr>
        <tr>
        <td style="padding:0 0 10px 0;"><table width="100%" border="0" style="font-size: 22px; font-family: serif; margin: 0 auto;">
                <tbody>
                    <tr>
                        <td width="23%" height="50" valign="bottom">Claim # (Carrier Claim):</td>
                        <td width="19%" height="50" style="border-bottom:1px solid #000;">&nbsp;</td>
                        <td width="20%" height="50" valign="bottom">Policy# (Carrier ID #):</td>
                        <td width="18%" height="50" style="border-bottom:1px solid #000;">&nbsp;</td>
                        <td width="6%" height="50" valign="bottom">WCB#: </td>
                        <td width="14%" height="50" style="border-bottom:1px solid #000;">&nbsp;</td>
                    </tr>
                </tbody>
            </table></td>
    </tr>
    <tr>
        <td valign="top" style="padding:0 0 10px 0;" align="center" ><table align="center" width="100%" border="0" style="font-size: 22px; font-family: serif; margin: 0 auto;">
                <tbody>
                    <tr>
                        <td width="63" valign="bottom" align="center"><input type="checkbox"  name="checkBox"></td>
                        <td width="12%" height="60" align="left" valign="bottom"><strong style="display:inline-block;">DRIVER</strong></td>
                         <td width="63" valign="bottom" align="center"><input type="checkbox"  name="checkBox"></td>
                             <td width="14%" height="60" valign="bottom"><strong style="display:inline-block;">PEDESTRIAN</strong></td>
                                <td width="63" valign="bottom" align="center"><input type="checkbox"  name="checkBox"></td>
                        <td width="15%" height="60" valign="bottom"><strong style="display:inline-block;">PASSENGER</strong></td>
                       <td width="63" valign="bottom" align="center"><input type="checkbox"  name="checkBox"></td>
                     <td width="15%" height="60" valign="bottom"><strong style="display:inline-block;">Work</strong></td>
                    <td width="63" valign="bottom" align="center"><input type="checkbox"  name="checkBox"></td>
                     <td width="15%" height="60" valign="bottom"><strong style="display:inline-block;">SLIP/FALL</strong></td>
                     <td width="63" valign="bottom" align="center"><input type="checkbox"  name="checkBox"></td>
                      <td width="15%" height="60" valign="bottom"><strong style="display:inline-block;">SLIP/FALL</strong></td>
                     <td width="63" valign="bottom" align="center"><input type="checkbox"  name="checkBox"></td>
                        <td width="12%" height="60" align="left" valign="bottom"><strong style="display:inline-block;">BICYCLIST</strong></td>
                           <td width="63" valign="bottom" align="center"><input type="checkbox"  name="checkBox"></td>
                        <td width="12%" height="60" align="left" valign="bottom"><strong style="display:inline-block;">OTHER</strong></td>
                    </tr>
                </tbody>
            </table></td>
    </tr>
    
        <tr>
        <td valign="top" style="padding:0 0 10px 0;" align="center" ><table align="center" width="100%" border="0" style="font-size: 22px; font-family: serif; margin: 0 auto;">
                <tbody>
                    <tr>
                     
                        <td width="457" height="60" align="left" valign="bottom"><strong style="display:inline-block;">Are you a taxi or limo driver</strong></td>
                         <td width="42" valign="bottom" align="center"><input type="checkbox"  name="checkBox"></td>
                             <td width="55" height="60" valign="bottom"><strong style="display:inline-block;">YES</strong></td>
                                <td width="36" valign="bottom" align="center"><input type="checkbox"  name="checkBox"></td>
                        <td width="293" height="60" align="left" valign="bottom"><strong style="display:inline-block;">NO</strong></td>
                     <td width="219" height="60" valign="bottom"><strong style="display:inline-block;">Have you had a IME?</strong></td>
                    <td width="50" valign="bottom" align="center"><input type="checkbox"  name="checkBox"></td>
                     <td width="46" height="60" valign="bottom"><strong style="display:inline-block;">YES</strong></td>
                     <td width="44" valign="bottom" align="center"><input type="checkbox"  name="checkBox"></td>
                      <td width="41" height="60" valign="bottom"><strong style="display:inline-block;">NO</strong></td>
                      </tr>
                </tbody>
            </table></td>
    </tr>
      <tr>
        <td style="padding:0 0 10px 0;"><table width="100%" border="0" style="font-size: 22px; font-family: serif;">
                <tbody>
                    <tr>
                        <td width="40%" height="50" valign="bottom"><strong style="border-bottom:2px solid #000;">WORKERS
                            COMP ONLY:</strong> </td>
                     
                    </tr>
                </tbody>
            </table></td>
    </tr>
    <tr>
        <td style="padding:0 0 10px 0;"><table width="100%" border="0" style="font-size: 22px; font-family: serif;">
                <tbody>
                    <tr>
                        <td width="14%" height="50" valign="bottom"> Employer's Name: </td>
                        <td width="13%" height="50" style="border-bottom:1px solid #000;">&nbsp;</td>
                        <td width="15%" height="50" valign="bottom">Employes Phone #:</td>
                        <td width="11%" height="50" style="border-bottom:1px solid #000;">&nbsp;</td>
                          <td width="13%" height="50" valign="bottom">Employes Email:</td>
                        <td width="8%" height="50" style="border-bottom:1px solid #000;">&nbsp;</td>
                          <td width="15%" height="50" valign="bottom">Supervisor's Name:</td>
                        <td width="11%" height="50" style="border-bottom:1px solid #000;">&nbsp;</td>
                    </tr>
                </tbody>
            </table></td>
    </tr>
 <tr>
        <td  width="100%" style="padding:0 0 10px 0;"><table width="100%" align="center" border="0" style="font-size: 22px; font-family: serif;">
                <tbody>
                    <tr>
                        <td width="8%" valign="bottom" align="left" height="50">Address: </td>
                        <td width="92%"  align="left" style="border-bottom:1px solid #000;">&nbsp;</td>
                    </tr>
                </tbody>
            </table></td>
    </tr>
    <tr>
        <td style="padding:0 0 10px 0;"><table width="100%" border="0" style="font-size: 22px; font-family: serif;">
                <tbody>
                    <tr>
                        <td width="14%" height="50" valign="bottom">Attorney's Name: </td>
                        <td height="50" width="22%" style="border-bottom:1px solid #000;">&nbsp;</td>
                        <td height="50" width="15%" valign="bottom"> Attorney's Phone #:</td>
                        <td height="50" width="17%" style="border-bottom:1px solid #000;">&nbsp;</td>
                         <td height="50" width="13%" valign="bottom"> Contact Person:</td>
                        <td height="50" width="19%" style="border-bottom:1px solid #000;">&nbsp;</td>
                    </tr>
                </tbody>
            </table></td>
    </tr>
    
     <tr>
        <td style="padding:0 0 10px 0;"><table width="100%" border="0" style="font-size: 22px; font-family: serif;">
                <tbody>
                    <tr>
                        <td width="15%" valign="bottom" align="left" height="50">Attorney's Address: </td>
                        <td width="85%"  style="border-bottom:1px solid #000;">&nbsp;</td>
                    </tr>
                </tbody>
            </table></td>
    </tr>
    <tr>
        <td style="padding:0 0 10px 0;"><table width="100%" border="0" style="font-size: 22px; font-family: serif; margin: 0 auto;">
                <tbody>
                    <tr>
                        <td width="22%" height="50" valign="bottom">Injuries Case Established for: </td>
                        <td width="78%" height="50" style="border-bottom:1px solid #000;">&nbsp;</td>
                    </tr>
                </tbody>
            </table></td>
    </tr>
    <tr>
        <td align="left" style="padding:0 0 10px 0;"><table width="100%" border="0" align="left" style="font-size: 22px; font-family: serif; ">
                <tbody>
                    <tr>
                        <td width="30%" height="80" valign="middle" align="left"><strong  style="float:left; display:block;">Where did you hear about us?</strong></td>
                        <td width="70%"></td>
                    </tr>
                </tbody>
            </table></td>
    </tr>
    <tr>
        <td style="padding:0 0 10px 0;"><table width="100%" border="0" style="font-size: 20px; font-family: serif; ">
                <tbody>
                    <tr>
     
                        <td width="9%" height="50" valign="bottom" align="left">Referred by*</td>
                        <td width="35%" height="50" style="border-bottom:1px solid #000;">&nbsp;</td>
                          <td width="19%" height="50" valign="bottom" align="left">Advertisement : Which one*</td>
                        <td width="37%" height="50" style="border-bottom:1px solid #000;">&nbsp;</td>
                    </tr>
                </tbody>
            </table></td>
    </tr>
    <tr>
        <td style="padding:0 0 10px 0;"><table width="100%" border="0" style="font-size: 22px; font-family: serif;">
                <tbody>
                    <tr>
                        <td width="8%" height="50" valign="bottom" align="left">Signature:</td>
                        <td height="50" width="26%" style="border-bottom:1px solid #000;" align="left">&nbsp;</td>
                        <td width="9%" height="50" valign="bottom">Print Name:</td>
                        <td height="50" width="32%" style="border-bottom:1px solid #000;" align="left">&nbsp;</td>
                        <td width="5%" height="50" valign="bottom" align="left"> Date:</td>
                        <td height="50" width="20%" style="border-bottom:1px solid #000;" align="left">&nbsp;</td>
                    </tr>
                </tbody>
            </table></td>
    </tr>
        </tbody>
    
</table>
<pagebreak>
<!-- intake 2nd page--> 

<table width="1100px" border="0" align="center" style="font-family: sans-serif;">
    <tbody>
        <tr>
            <td align="center" style="border-bottom:10px solid #006fc0;"><table width="100%" border="0">
                    <tbody>
                        <tr>
                            <td width="35%"  align="left" valign="top"><table width="100%" border="0">
                                    <tbody>
                                        <tr>
                                            <td style="padding:0 0 10px 0; font-size:20px;"><p>1963 Grand Concourse, 2nd Fl. Bronx, NY 10453 <br>
                                                    P: (718) 466 -4600 / F: (718) 466- 1100 </p></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:0 0 10px 0; font-size:20px;"><p> 6555 Woodhaven Blvd Rego Park , NY 11374 <br>
                                                    P: (718) 255 -6615 / F: (718) 255- 1394 </p></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:0 0 10px 0; font-size:20px;"><p> 910 E. Gun Hill Road, Bronx, NY 10469 <br>
                                                    P: (718) 882 -8500 / F: (718) 882- fasfas4400 </p></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:0 0 10px 0; font-size:20px;"><p> 55 Greene Ave, Ste LLB, Brooklyn, NY 11238 <br>
                                                    P: (718) 398 -7777 / F:718- 399- 7777 </p></td>
                                        </tr>
                                    </tbody>
                                </table></td>
                            <td  width="26%" align="center" valign="top"><div class="logo"><img src="{{url('local/resources/images/citimed-logo.png')}}" alt="pic" style="max-width:100%; width:40%; height:auto; display:block;"></div></td>
                            <td width="39%" align="right" valign="top"><table width="100%" border="0">
                                    <tbody>
                                        <tr>
                                            <td style="padding:0 0 10px 0; text-align: right; font-size:20px;"><p>JFK Airport Bldg. 75, Ste. 247 - 249 Jamaica, NY 11430 <br>
                                                    P: (718) 656 -9500 / F: (718) 656- 9503 </p></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:0 0 10px 0; text-align: right; font-size:20px;"><p>JFK Airport Bldg. 14, Ste. 14A, Jamaica, NY 11430 <br>
P: (718) 656 -1245 / F: (718) 656- 3060</p></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:0 0 10px 0; text-align: right; font-size:20px;"><p>14 Mamaroneck Ave., 2nd Fl. White Plains, NY 10601 <br>
P: (914) 949 -5555 / F: (914) 993- 3333 </p></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:0 0 10px 0; text-align: right; font-size:20px;"><p>92- 20 16th Street, Jamaica, NY 11433 <br>
                                                    P: (718) 725 -0044 / F: (718) 725- 0880 </p></td>
                                        </tr>
                                    </tbody>
                                </table></td>
                        </tr>
                    </tbody>
                </table></td>
        </tr>
        <tr>
            <td height="100" align="center" valign="middle" style="font-size: 28px; font-family: serif; padding:0 0 0 180px;"><strong style=" display:block;">NO-FAULT AUTHORIZATION </strong></td>
        </tr>
        <tr>
            <td  valign="top" style="font-family: serif; text-align:justify;  padding:0 0 15px 0; line-height:30px; font-size:22px; letter-spacing:1px;"><p>PATIENT: Your health provider may agree to accept payment for health services performed directly from your insurer (Authorization to pay Benefits) so that you are not required to make payment to the health provider at the time of service. Such agreement is optional on the part of the health provider and must be signed by both patient and health provider. You may use the optional authorization language provided below, by checking off the designated spot on this form.</p></td>
        </tr>
        <tr>
            <td style="padding:0 0 15px 0;"><table valign="top" width="100%" border="0" style="font-family: serif;">
                <tbody>
                    <tr>
                        <td style="border-bottom:1px solid #000;" width="100">&nbsp;</td>
                        <td width="1000"  valign="bottom" style="font-size: 20px; font-family: serif; letter-spacing:2px;">(INITIAL HERE IF YOU HAVE CHOSEN TO AUTHORIZE THE DIRECT PAYMENT OF </td>
                       
                    </tr>
                    <tr> <td style="font-size: 20px; font-family: serif; letter-spacing:2px;">BENEFITS)</td></tr>
                </tbody>
            </table></td>
        </tr>
        <tr>
            <td><table width="100%" border="0">
                <tbody>
                    <tr>
                        <td style="font-size: 20px; font-family: serif; letter-spacing:2px; text-transform:uppercase; text-align:justify; line-height:30px;"><p><strong>AUTHORIZATION TO PAY BENEFITS:</strong> I AUTHORIZE PAYMENT OF HEALTH BEEFITS TO THE UNDERSIGNED HEALTHCARE PROVIDER OR SERVICES PROVIDER DESCRIBED BELOW. I RETAIN ALL RIGHTS, PRIVELEGES AND REMEDIES TO WHICH I AM ENTITLED TO UNDER ARTICLE 51 (THE NO-FAULT PROVISION) OF THE INSURANCE LAW.</p>&nbsp;</td>
                    </tr>
                </tbody>
            </table></td>
        </tr>
        <tr>
            <td style="font-size: 20px; font-family: serif;"><table width="100%" border="0">
                <tbody>
                    <tr>
                        <td width="91" valign="bottom" style="font-size: 20px; font-family: serif;">Signature:&nbsp;</td>
                        <td style="border-bottom:1px solid #000;" align="center" valign="bottom" width="367">&nbsp;</td>
                        <td width="130" valign="bottom" style="font-size: 20px; font-family: serif;"> Print Name: &nbsp;</td>
                        <td style="border-bottom:1px solid #000;" align="center" valign="bottom" width="359">&nbsp;</td>
                        <td width="77" valign="bottom" style="font-size: 20px; font-family: serif;"> Date: &nbsp;</td>
                        <td style="border-bottom:1px solid #000;" align="center" valign="bottom" width="273">&nbsp;</td>
                    </tr>
                </tbody>
            </table></td>
        </tr>
        <tr>
           <td width="1100px" height="100" align="center" valign="middle" style="font-size: 28px; font-family: serif;"><strong style=" display:block;">WORKERS’ COMPENSATION ASSIGNMENT OF BENEFITS  </strong></td>
        </tr>
        <tr>
            <td style="font-size: 22px; font-family: serif; letter-spacing:1px;  text-align:justify; line-height:30px; padding:0 0 15px 0;"><p>You may become responsible for the medical cost of treatment for your illness or condition with the provider listed below if (1) you fail to prosecute the claim for workers’ compensation or (2) it is determined by the Workers’ Compensation Board that the illness or condition which required treatment was not a result of a compensable workplace accident or occupational disease or (3) if an agreement is executed by you and approved pursuant to Workers’ Compensation Law §32 in which you waive your right to medical benefits from the workers’ compensation carrier/self-insured employer for treatment/services performed after the date the agreement is approved. If any of the above events occurs, the provider may bill you directly instead of the employer or insurance carrier, and you will be responsible for the provider’s fees for services rendered</p>&nbsp;</td>
        </tr>
        <tr>
            <td  style="padding:0 0 30px 0;"><table width="100%" border="0">
                <tbody>
                    <tr>
                        <td style="font-size: 22px; font-family: serif;" width="97"><strong>Patient’s Signature:</strong>&nbsp;</td>
                        <td style="border-bottom:1px solid #000;" align="center" valign="bottom" width="603">&nbsp;</td>
                        <td width="83" align="right" style="font-size: 22px; font-family: serif;"><strong>  Date: </strong>&nbsp;</td>
                        <td style="border-bottom:1px solid #000;" align="center" valign="bottom" width="295">&nbsp;</td>
                    </tr>
                </tbody>
            </table></td>
        </tr>
        <tr>
               <td width="1100px" height="50" align="center" valign="middle" style="font-size: 28px; font-family: serif;"><strong style=" display:block;">MAJOR MEDICAL INSURANCE   </strong></td>
        </tr>
       <tr>
            <td><table width="100%" border="0">
                <tbody>
                    <tr>
                        <td style="font-size: 22px; font-family: serif;" width="294" valign="bottom" height="50">Insurance Company Name: &nbsp;</td>
                        <td style="border-bottom:1px solid #000;" align="center" valign="bottom" width="1019" height="50">&nbsp;</td>
                        
                    </tr>
                </tbody>
            </table></td>
        </tr>
            <tr>
            <td><table width="100%" border="0">
                <tbody>
                    <tr>
                        <td style="font-size: 22px; font-family: serif;" width="327" valign="bottom" height="50">Insurance Company Address: &nbsp;</td>
                        <td style="border-bottom:1px solid #000;" align="center" valign="bottom" width="986" height="50">&nbsp;</td>
                  
                    </tr>
                </tbody>
            </table></td>
        </tr>
            <tr>
            <td><table width="100%" border="0">
                <tbody>
                    <tr>
                        <td style="font-size: 22px; font-family: serif;" width="100" valign="bottom" height="50">Insured’s Name: </td>
                        <td style="border-bottom:1px solid #000;" align="center" valign="bottom" width="462" height="50">&nbsp;</td>
                             <td width="45" valign="middle" align="center"><input type="checkbox"  name="checkBox"></td>
                                    <td style="font-size: 22px; font-family: serif;" width="68" valign="middle" height="50"> SELF &nbsp;</td>
                                         <td width="33" valign="middle" align="center"><input type="checkbox"  name="checkBox"></td>
                                                <td style="font-size: 22px; font-family: serif;" width="88" valign="middle" height="50"> SPOUSE</td>
                                                     <td width="49" valign="middle" align="center"><input type="checkbox"  name="checkBox"></td>
                                                            <td style="font-size: 22px; font-family: serif;" width="215" valign="middle" height="50">PARENT</td>
                    
                    </tr>
                </tbody>
            </table></td>
        </tr>
        <tr>
            <td><table width="100%" border="0">
                <tbody>
                    <tr>
                        <td style="font-size: 22px; font-family: serif;" width="261" valign="bottom" height="50">Insured’s Date of Birth: &nbsp;</td>
                        <td style="border-bottom:1px solid #000;" align="center" valign="bottom" width="260" height="50">&nbsp;</td>
                        <td style="font-size: 22px; font-family: serif;" width="157" valign="bottom" height="50"> Member ID#: &nbsp;</td>
                        <td style="border-bottom:1px solid #000;" align="center" valign="bottom" width="279" height="50">&nbsp;</td>
                        <td style="font-size: 22px; font-family: serif;" width="111" valign="bottom" height="50">Group#: &nbsp;</td>
                        <td style="border-bottom:1px solid #000;" align="center" valign="bottom" width="229" height="50">&nbsp;</td>
                    </tr>
                </tbody>
            </table></td>
        </tr>
           <tr>
            <td><table width="100%" border="0">
                <tbody>
                    <tr>
                        <td width="1100px" height="50" valign="bottom" style="font-size: 22px; font-family: serif;" >All of the above information, to the best of my knowledge has been filled out correctly. &nbsp;</td>
                     
                    </tr>
                </tbody>
            </table></td>
        </tr>
      <tr>
            <td valign="top"><table width="100%" border="0">
                <tbody>
                    <tr>
                        <td style="font-size: 22px; font-family: serif;" width="103" valign="bottom" height="50"><strong>Signature: </strong> &nbsp;</td>
                        <td style="border-bottom:1px solid #000;" align="center" valign="bottom" width="541" height="50">&nbsp;</td>
                        <td style="font-size: 22px; font-family: serif;" width="105" align="right" valign="bottom" height="50"> <strong>Date:</strong> &nbsp;</td>
                        <td style="border-bottom:1px solid #000;" align="center" valign="bottom" width="327" height="50">&nbsp;</td>
                      
                    </tr>
                </tbody>
            </table></td>
        </tr>
    </tbody>
</table>
<pagebreak>
<!-- intake 3rd page-->

<table width="1100px" border="0" align="center" style="font-family: sans-serif; padding:20px 0 100px 0;">
       <tbody>
   
    <tr>
        <td  style="border-bottom:10px solid #006fc0;"><table width="100%" border="0" style="margin:0 auto;">
                <tbody>
                    <tr>
                        <td width="35%"  align="left" valign="top"><table width="100%" border="0">
                                <tbody>
                                    <tr>
                                        <td style="padding:0 0 10px 0; font-size:16px;"><p>1963 Grand Concourse, 2nd Fl. Bronx, NY 10453 <br>
                                                P: (718) 466 -4600 / F: (718) 466- 1100 </p></td>
                                    </tr>
                                    <tr>
                                        <td style="padding:0 0 10px 0; font-size:16px;"><p> 6555 Woodhaven Blvd Rego Park , NY 11374 <br>
                                                P: (718) 255 -6615 / F: (718) 255- 1394 </p></td>
                                    </tr>
                                    <tr>
                                        <td style="padding:0 0 10px 0; font-size:16px;"><p> 910 E. Gun Hill Road, Bronx, NY 10469 <br>
                                                P: (718) 882 -8500 / F: (718) 882- fasfas4400 </p></td>
                                    </tr>
                                    <tr>
                                        <td style="padding:0 0 10px 0; font-size:16px;"><p> 55 Greene Ave, Ste LLB, Brooklyn, NY 11238 <br>
                                                P: (718) 398 -7777 / F:718- 399- 7777 </p></td>
                                    </tr>
                                </tbody>
                            </table></td>
                        <td  width="26%" align="center" valign="top"><div class="logo"><img src="{{url('local/resources/images/citimed-logo.png')}}" alt="pic" style="max-width:100%; width:40%; height:auto; display:block;"></div></td>
                        <td width="39%" align="right" valign="top"><table width="100%" border="0">
                                <tbody>
                                    <tr>
                                        <td style="padding:0 0 10px 0; text-align: right; font-size:16px;"><p>JFK Airport Bldg. 75, Ste. 247 - 249 Jamaica, NY 11430 <br>
                                                P: (718) 656 -9500 / F: (718) 656- 9503 </p></td>
                                    </tr>
                                    <tr>
                                        <td style="padding:0 0 10px 0; text-align: right; font-size:16px;"><p>JFK Airport Bldg. 14, Ste. 14A, Jamaica, NY 11430 <br>
P: (718) 656 -1245 / F: (718) 656- 3060</p></td>
                                    </tr>
                                    <tr>
                                        <td style="padding:0 0 10px 0; text-align: right; font-size:16px;"><p>14 Mamaroneck Ave., 2nd Fl. White Plains, NY 10601 <br>
P: (914) 949 -5555 / F: (914) 993- 3333</p></td>
                                    </tr>
                                    <tr>
                                        <td style="padding:0 0 10px 0; text-align: right; font-size:16px;"><p>92- 20 16 th Street, Jamaica, NY 11433 <br>
                                                P: (718) 725 -0044 / F: (718) 725- 0880 </p></td>
                                    </tr>
                                </tbody>
                            </table></td>
                    </tr>
                </tbody>
            </table></td>
    </tr>
    <tr>
        <td><table width="100%" border="0" style="font-size: 20px; font-family: serif; margin:0 auto;">
                <tbody>
                    <tr>
                        <td  height="40" align="center" valign="bottom" style="font-size: 25px; padding:20px 0 0 0;"><p style="border-bottom:1px solid #000;">Please CIRCLE the word(s) below that best describes the sensation or pain you are feeling</p></td>
                    </tr>
                </tbody>
            </table></td>
    </tr>
    <tr>
        <td><table width="738" border="0" align="center" style="font-size: 25px; font-family: serif; margin:0 auto;">
                <tbody>
                    <tr>
                     <td width="20" valign="bottom" align="center"><input type="checkbox"  name="checkBox"></td>
                        <td width="120" height="40" valign="bottom" align="left">Numbness</td>
                         <td width="28" valign="bottom" align="center"><input type="checkbox"  name="checkBox"></td>
                        <td width="112" height="40" valign="bottom" align="left"> Aching</td>
                         <td width="35" valign="bottom" align="center"><input type="checkbox"  name="checkBox"></td>
                        <td width="155" height="40" valign="bottom" align="left">Pins/Needles </td>
                         <td width="34" valign="bottom" align="center"><input type="checkbox"  name="checkBox"></td>
                        <td width="200" height="40" valign="bottom" align="left">Weakness</td>
                    </tr>
                </tbody>
        </table></td>
    </tr>
    <tr>
        <td><table width="738" border="0" align="center" style="font-size: 25px ;font-family: serif; margin:0 auto;">
                <tbody>
                    <tr>
                     <td width="20" valign="bottom" align="center"><input type="checkbox"  name="checkBox"></td>
                        <td width="125" height="40" valign="bottom" align="left">Burning</td>
                         <td width="24" valign="bottom" align="center"><input type="checkbox"  name="checkBox"></td>
                        <td width="117" height="40" valign="bottom" align="left"> Stabbing</td>
                         <td width="30" valign="bottom" align="center"><input type="checkbox"  name="checkBox"></td>
                        <td width="161" height="40" valign="bottom" align="left">Cramping </td>
                         <td width="28" valign="bottom" align="center"><input type="checkbox"  name="checkBox"></td>
                        <td width="199" height="40" valign="bottom" align="left">Dizziness</td>
                    </tr>
                </tbody>
        </table></td>
    </tr>
    <tr>
        <td><table width="100%" border="0" style="font-size: 25px; font-family: serif; margin:0 auto;">
                <tbody>
                    <tr>
                        <td height="100" align="left" valign="middle" width="100%">Put an &lsquo;x&rsquo;where you feel pain.</td>
                    </tr>
                </tbody>
            </table></td>
    </tr>
    <tr>
        <td style="text-align:center;"><img src="{{url('local/resources/images/feel-pain-pic.png')}}" alt="feel-pain-pic"></td>
    </tr>
    <tr>
        <td valign="top"><table width="100%" border="0" style="font-size: 20px;font-family: serif; margin:0 auto;">
                <tbody>
                    <tr>
                        <td width="12%" height="40" valign="bottom" align="left" style="font-size: 20px;">Patient name: </td>
                        <td width="22%" align="center" height="40" style="border-bottom:1px solid #000; font-size: 20px;">john doe</td>
                   <td width="66%" >&nbsp;</td>
                    </tr>
                </tbody>
            </table></td>
    </tr>
    <tr>
        <td><table width="100%" border="0" style="font-size: 20px;font-family: serif;">
                <tbody>
                    <tr>
                    
                        <td width="5%" align="left" valign="bottom"> Date: </td>
                        <td width="31%" align="center" valign="bottom" style="border-bottom:1px solid #000;">4/2/2000</td>
                        <td width="64%" >&nbsp;</td>
                    </tr>
                </tbody>
            </table></td>
    </tr>
        </tbody>
    
</table>
