<table width="100%" border="0">
	<tbody>
		<tr>
			<td width="1100" valign="top" align="center" style="border-bottom:10px solid #006fc0;">
				<table width="100%" border="0">
					<tbody>
						<tr>
							<td width="340" valign="top">
								<table width="100%" border="0">
									<tbody>
										<tr>
											<td valign="middle" align="left" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize; padding:0 0 10px;">1963 Grand Concourse, 2nd Fl. 
											Bronx, NY 10453<br> P: (718) 466-4600 / F: (718) 466-1100</td>
										</tr>
										<tr>
											<td valign="middle" align="left" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize; padding:0 0 10px;">6555 Woodhaven Blvd Rego Park, 
											NY 11374<br> P: (718) 255-6615 / F: (718) 255-1394</td>
										</tr>
										<tr>
											<td valign="middle" align="left" style="font-family:sans-serif; font-size:16px;
											text-transform:capitalize; padding:0 0 10px;">910 E. Gun Hill Road, Bronx, NY 10469
											<br>P: (718) 882-8500 / F: (718) 882-4400</td>
										</tr>
										<tr>
											<td valign="middle" align="left" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize;">55 Greene Ave, Ste LLB, Brooklyn, NY 11238<br>
											P: (718) 398-7777 / F:718-399-7777</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td width="390" valign="top" style="padding:-10px 0 0;">
								<div class="logo" valign="top"><img src="{{url('local/resources/images/citimed-logo.png')}}" 
								alt="pic" style="max-width:100%; width:40%; height:auto; display:block;"></div>
							</td>
							<td width="370" valign="top">
								<table width="100%" border="0">
									<tbody>
										<tr>
											<td valign="middle" align="right" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize; padding:0 0 10px;"><span style="display:inline-block; 
											text-transform:uppercase;">JFK</span> Airport Bldg. 75, Ste. 247-249 Jamaica, 
											NY 11430<br> P: (718) 656-9500 / F: (718) 656-9503</td>
										</tr>
										<tr>
											<td valign="middle" align="right" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize; padding:0 0 10px;"><span style="display:inline-block; 
											text-transform:uppercase;">JFK</span> Airport Bldg. 14, Ste. 14A, Jamaica, NY 11430
											P: (718) 656-1245 / F: (718) 656-3060</td>
										</tr>
										<tr>
											<td valign="middle" align="right" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize; padding:0 0 10px;">14 Mamaroneck Ave., 2nd Fl. White Plains
											 NY 10601<br>(914) 949-5555 / F: (914) 993-3333</td>
										</tr>
										<tr>
											<td valign="middle" align="right" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize;">20 165th Street, Jamaica, NY 11433<br>
											(718) 725-0044 / F: (718) 725-0880</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td width="1100" valign="top">
				<table width="100%" border="0">
					<tbody>
						<tr>
							<td valign="top" align="center" style="font-family:serif; font-size:30px;"><strong style="border-bottom:3px solid #000;">
							LIEN ASSIGNMENT AGREEMENT</strong></td>
						</tr>
						<tr>
							<td valign="top">
								<table width="100%" border="0" style="margin:50px 0 0;">
									<tbody>
										<tr>
											<td width="20" valign="bottom" align="left" style="font-family:serif; font-size:23px;">I</td>
											<td width="450" valign="bottom" align="left" style="font-family:serif; font-size:23px; border-bottom:1px solid #000;">&nbsp;
											</td>
											<td width="220" valign="bottom" align="left" style="font-family:serif; font-size:23px;">(patient) residing at</td>
											<td width="260" valign="bottom" align="left" style="font-family:serif; font-size:23px; border-bottom:1px solid #000;">&nbsp;
											</td>
											<td width="150">&nbsp;</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td valign="top">
								<table width="100%" border="0">
									<tbody>
										<tr>
											<td width="530" valign="bottom" align="left" style="font-family:serif; font-size:23px; border-bottom:1px solid #000;">&nbsp;
											</td>
											<td width="570" valign="bottom" align="left" style="font-family:serif; font-size:23px;">(address) hereby enter 
											into the following agreement</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td width="1100" valign="top" align="justify" style="font-family:serif; font-size:23px; line-height:1.3;">
								<p>with <span style="text-transform:uppercase;">IMS I, PLLC</span> herein after known as “the provider” in order 
								to guarantee payment for services rendered by “the provider” to me. I understand that I am directly and fully responsible 
								to “the provider” for all medical bills for services rendered to me. I understand that I am directly and fully responsible 
								to “the provider” for any remaining balance on all medical bills for services rendered to me that were submitted on my behalf 
								to the responsible insurance carrier as applicable. This document further serves to acknowledge my responsibility to repay 
								<strong style="border-bottom:2px solid #000;">all</strong> remaining balances subsequent to all applicable insurance payments. 
								I agree to make myself available to appear or correspond with “the provider” as often as may be necessary to any collections
								effort that is undertaken. I have been made aware of the charges for the services rendered under this lien assignment and 
								acknowledge responsibility for the repayment of all outstanding balances. I further direct that my attorney shall not subsequently 
								dispute these amounts and will contact this office to arrange for full payment at the time of settlement, trial or motion proceed 
								becomes ready for disbursement.</p>
								<br>
								<p>To the extent applicable, I agree to comply with all Insurance Company regulations including, but not limited to examinations 
								under oath and independent medical examinations. I understand that any failure on my part to comply with any condition precedent 
								to insurance, may, at the election of the medical provider, serve to revoke any assignment of No-Fault benefits. The patient 
								herein further acknowledges their responsibility to file a timely notice of claim to the applicable insurance carrier and that 
								any subsequent No Fault claim denied based on the failure to provide a timely notice, at the election of the provider, may result 
								in recovery efforts in reliance of this lien.</p>
								<br>
								<p>The Provider agrees to seek compensation from the appropriate insurance carrier prior to invoking the terms of this lien based
								 on the accuracy of the information the patient has provided and to the extent applicable. The patient shall provide all necessary 
								 insurance information, police reports, and any additional documentation and information deemed necessary by the provider for 
								 the submission of the aforementioned insurance claims as applicable. Failure to provide accurate insurance information leading 
								 to a viable source of coverage may serve to invalidate any executed assignment of No-Fault benefits and result in the 
								 reliance on this lien for reimbursement purposes.</p>
								 <br>
								 <p>I hereby give and grant this lien on my case to “the provider” against any and all proceeds of my settlement, judgment, verdict, 
								 or other disposition of any litigation filed or contemplated on my behalf that may be paid to me or my <span style="text-transform:
								 uppercase;">ATTORNEY</span> as a result of the injuries for which I have been treated. I grant “the provider” the aforesaid lien 
								 against such sums of the aforesaid settlement, judgment, verdict, or other disposition of any </p>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<pagebreak>
<table width="100%" border="0" align="center" style="table-layout:fixed;">
	<tbody style="border-spacing:0; border-collapse:collapse;">
		<tr>
			<td width="1100" valign="top" align="center" style="border-bottom:10px solid #006fc0;">
				<table width="100%" border="0" align="center" style="table-layout:fixed;">
					<tbody style="border-spacing:0; border-collapse:collapse;">
						<tr>
							<td width="340" valign="top">
								<table width="100%" border="0" style="table-layout:fixed;">
									<tbody style="border-spacing:0; border-collapse:collapse;">
										<tr>
											<td valign="middle" align="left" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize; padding:0 0 10px;">1963 Grand Concourse, 2nd Fl. 
											Bronx, NY 10453<br> P: (718) 466-4600 / F: (718) 466-1100</td>
										</tr>
										<tr>
											<td valign="middle" align="left" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize; padding:0 0 10px;">6555 Woodhaven Blvd Rego Park, 
											NY 11374<br> P: (718) 255-6615 / F: (718) 255-1394</td>
										</tr>
										<tr>
											<td valign="middle" align="left" style="font-family:sans-serif; font-size:16px;
											text-transform:capitalize; padding:0 0 10px;">910 E. Gun Hill Road, Bronx, NY 10469
											<br>P: (718) 882-8500 / F: (718) 882-4400</td>
										</tr>
										<tr>
											<td valign="middle" align="left" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize;">55 Greene Ave, Ste LLB, Brooklyn, NY 11238<br>
											P: (718) 398-7777 / F:718-399-7777</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td width="390" valign="top" style="padding:-10px 0 0;">
								<div class="logo" valign="top"><img src="{{url('local/resources/images/citimed-logo.png')}}" 
								alt="pic" style="max-width:100%; width:40%; height:auto; display:block;"></div>
							</td>
							<td width="370" valign="top">
								<table width="100%" border="0" style="table-layout:fixed;">
									<tbody style="border-spacing:0; border-collapse:collapse;">
										<tr>
											<td valign="middle" align="right" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize; padding:0 0 10px;"><span style="display:inline-block; 
											text-transform:uppercase;">JFK</span> Airport Bldg. 75, Ste. 247-249 Jamaica, 
											NY 11430<br> P: (718) 656-9500 / F: (718) 656-9503</td>
										</tr>
										<tr>
											<td valign="middle" align="right" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize; padding:0 0 10px;"><span style="display:inline-block; 
											text-transform:uppercase;">JFK</span> Airport Bldg. 14, Ste. 14A, Jamaica, NY 11430
											P: (718) 656-1245 / F: (718) 656-3060</td>
										</tr>
										<tr>
											<td valign="middle" align="right" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize; padding:0 0 10px;">14 Mamaroneck Ave., 2nd Fl. White Plains
											 NY 10601<br>(914) 949-5555 / F: (914) 993-3333</td>
										</tr>
										<tr>
											<td valign="middle" align="right" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize;">20 165th Street, Jamaica, NY 11433<br>
											(718) 725-0044 / F: (718) 725-0880</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td width="1100" valign="top" align="center">
				<table width="100%" border="0" style="margin:10px 0 0;">
					<tbody>
						<tr>
							<td width="1100" valign="top" align="justify" style="font-family:serif; font-size:23px; line-height:1.4;">
								<p>litigation filed or contemplated on my behalf as may be necessary to adequately reimburse “the provider for services rendered 
								 to me and towards all outstanding balances. I hereby agree to provide accurate contact information for the attorney pursuing any 
								 litigation on my behalf.</p>
								<br>
								<p>I hereby <strong>direct</strong> and <strong>authorize direct</strong> payment to “the provider”, such sums as may be due and
								 owing for medical for such sums as may be due to owing for medical services rendered to me. I further direct my ATTORNEY to honor 
								 the aforesaid lien and to withhold such sums from any settlement, judgment, verdict, or other disposition of any litigation filed 
								 or contemplated on my behalf as may be necessary to adequately reimburse “the provider” for services rendered to me towards all 
								 outstanding balances.</p>
								 <br>
								 <p>I understand that this document may not be rescinded and that my <span style="text-transform:uppercase;">ATTORNEY</span> shall 
								 not honor any such rescission. I hereby instruct that in the event another <span style="text-transform:uppercase;">ATTORNEY</span> 
								 is substituted in my case, I direct the substituted attorney to provide the incoming <span style="text-transform:uppercase;">ATTORNEY 
								 </span>with a copy of this lien and that I direct any incoming <span style="text-transform:uppercase;">ATTORNEY</span> to honor this 
								 lien as inherent to the settlement, judgment, verdict or other dispositio of any litigation filed or contemplated on my behalf and 
								 enforceable upon the case as if it were executed by him/her. I hereby direct and authorize my attorney, on demand, to provide the 
								 status of such litigation to “the provider” or his attorney engaged in any collection efforts. Furthermore, I direct my attorney 
								 to contact “the provider” or the attorney representing the provider prior to disbursement of any funds to ascertain any outstanding 
								 balances due.</p>
							</td>
						</tr>
						<tr>
							<td valign="top">
								<table width="100%" border="0" style="margin:50px 0 0;">
									<tbody>
										<tr>
											<td width="40">&nbsp;</td>
											<td width="320" valign="bottom" align="left" style="font-family:serif; font-size:23px; border-bottom:2px solid #000;">&nbsp;
											</td>
											<td width="250">&nbsp;</td>
											<td width="330" valign="bottom" align="left" style="font-family:serif; font-size:23px; border-bottom:2px solid #000;">&nbsp;
											</td>
											<td width="150">&nbsp;</td>
										</tr>
										<tr>
											<td width="40">&nbsp;</td>
											<td width="320" valign="middle" align="left" style="font-family:serif; font-size:22px; padding:15px 0 0;"><strong>
											Date</strong></td>
											<td width="250">&nbsp;</td>
											<td width="330" valign="middle" align="left" style="font-family:serif; font-size:22px; padding:15px 0 0;"><strong>
											Date</strong></td>
											<td width="150">&nbsp;</td>
										</tr>
										<tr>
											<td width="40">&nbsp;</td>
											<td width="320" valign="bottom" align="left" style="font-family:serif; font-size:23px; border-bottom:2px solid #000;
											padding:25px 0 0;">&nbsp;</td>
											<td width="250">&nbsp;</td>
											<td width="330" valign="bottom" align="left" style="font-family:serif; font-size:23px; border-bottom:2px solid #000;
											padding:25px 0 0;">&nbsp;</td>
											<td width="150">&nbsp;</td>
										</tr>
										<tr>
											<td width="40">&nbsp;</td>
											<td width="320" valign="middle" align="left" style="font-family:serif; font-size:22px; padding:15px 0 0;"><strong>
											Patient’s Signature</strong></td>
											<td width="250">&nbsp;</td>
											<td width="330" valign="middle" align="left" style="font-family:serif; font-size:22px; padding:15px 0 0;"><strong>
											Attorney’s Signature</strong></td>
											<td width="150">&nbsp;</td>
										</tr>
										<tr>
											<td width="40">&nbsp;</td>
											<td width="320" valign="bottom" align="left" style="font-family:serif; font-size:23px; border-bottom:2px solid #000;
											padding:25px 0 0;">&nbsp;</td>
											<td width="250">&nbsp;</td>
											<td width="330" valign="bottom" align="left" style="font-family:serif; font-size:23px; border-bottom:2px solid #000;
											padding:25px 0 0;">&nbsp;</td>
											<td width="150">&nbsp;</td>
										</tr>
										<tr>
											<td width="40">&nbsp;</td>
											<td width="320" valign="middle" align="left" style="font-family:serif; font-size:22px; padding:15px 0 0;"><strong>
											Patient’s Name</strong></td>
											<td width="250">&nbsp;</td>
											<td width="330" valign="middle" align="left" style="font-family:serif; font-size:22px; padding:15px 0 0;"><strong>
											Attorney’s Name</strong></td>
											<td width="150">&nbsp;</td>
										</tr>
										<tr>
											<td width="40">&nbsp;</td>
											<td width="320" valign="bottom" align="left" style="font-family:serif; font-size:23px; border-bottom:2px solid #000;
											padding:25px 0 0;">&nbsp;</td>
											<td width="250">&nbsp;</td>
											<td width="330" valign="bottom" align="left" style="font-family:serif; font-size:23px; border-bottom:2px solid #000;
											padding:25px 0 0;">&nbsp;</td>
											<td width="150">&nbsp;</td>
										</tr>
										<tr>
											<td width="40">&nbsp;</td>
											<td width="320" valign="middle" align="left" style="font-family:serif; font-size:22px; padding:15px 0 0;"><strong>
											Patient’s Address</strong></td>
											<td width="250">&nbsp;</td>
											<td width="330" valign="middle" align="left" style="font-family:serif; font-size:22px; padding:15px 0 0;"><strong>
											Attorney’s Address/Phone</strong></td>
											<td width="150">&nbsp;</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>