<table width="1100" align="center" border="0">
	<tbody>
		<tr>
			<td valign="top">
				<table width="100%" border="0" style="margin:0 0 10px;">
					<tbody>
						<tr>
							<td align="center" valign="middle" style="font-family: sans-serif; 
							font-size:22px; text-transform:uppercase;"><strong>NEW YORK MOTOR VEHICLE NO-FAULT INSURANCE LAW <br>AGREEMENT TO PURSUE WORKERS' 
							COMPENSATION OR N.Y.S. DISABILITY BENEFITS</strong></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<table border="0" width="100%" style=" margin:0 0 10px;">
					<tbody>
						<tr>
							<td width="550" valign="top" style="border:3px solid #000;">
								<table width="100%" border="0">
									<tbody>
										<tr>
											<td align="left" valign="top" height="80px" style=" text-transform:uppercase; 
											font-family: sans-serif; font-size:20px;">NAME AND ADDRESS OF INSURER OR SELF INSURER*</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td width="100px">&nbsp;</td>
							<td width="550" valign="top" style="border:3px solid #000;">
								<table width="100%" border="0">
									<tbody>
										<tr>
											<td align="left" valign="top" height="80px" style=" text-transform:uppercase; 
											font-family: sans-serif; font-size:20px;">NAME, ADDRESS, AND PHONE NUMBER OF INSURER'S CLAIMS 
											REPRESENTATIVE*</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<table width="100%" border="0" style="border-collapse: collapse; margin:0 0 10px;">
					<tbody>
						<tr>
							<td width="145" valign="top" style="border:3px solid #000;">
								<table width="100%" border="0">
									<tbody>
										<tr style="border-spacing:0; border-collapse:collapse;">
											<td width="100%" valign="top" align="center" style="
											text-transform:uppercase; padding:0 0 2px; font-family: 
											sans-serif; font-size:19px;">Date</td>
										</tr>
										<tr>
											<td valign="bottom" align="left"  style="text-transform:uppercase; 
											padding:15px 2px 0; font-family: sans-serif; font-size:19px;">&nbsp;</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td width="300" valign="top" style="border:3px solid #000;">
								<table width="100%" border="0">
									<tbody>
										<tr>
											<td width="100%" valign="top" align="center"  style="text-transform:
											uppercase; padding:0 0 2px; font-family: sans-serif; font-size:19px;">POLICY HOLDER</td>
										</tr>
										<tr>
											<td valign="bottom" align="left" style="text-transform:uppercase; 
											font-family: sans-serif; font-size:19px; padding:15px 4px 0;">&nbsp;</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td width="342" valign="top" style="border:3px solid #000;">
								<table width="100%" border="0">
									<tbody>
										<tr>
											<td width="100%" valign="top" align="center" style="text-transform:
											uppercase; padding:0 0 2px;  font-family: sans-serif; font-size:19px;">POLICY NUMBER</td>
										</tr>
										<tr>
											<td valign="bottom" align="left" style="text-transform:uppercase; 
											font-family: sans-serif; font-size:19px; padding:15px 4px 0;">&nbsp;</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td width="203" valign="top" style="border:3px solid #000;">
								<table width="100%" border="0">
									<tbody>
										<tr>
											<td width="100%" valign="top" align="center" style="text-transform:
											uppercase; padding:0 0 2px;  font-family: sans-serif; font-size:19px;">DATE OF ACCIDENT</td>
										</tr>
										<tr>
											<td valign="bottom" align="left" style="text-transform:uppercase; 
											font-family: sans-serif; font-size:19px; padding:15px 3px 0;">&nbsp;</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td width="200" valign="top" style="border:3px solid #000;">
								<table width="100%" border="0">
									<tbody>
										<tr>
											<td width="100%" valign="top" align="center" style="text-transform:
											uppercase; padding:0 0 2px;  font-family: sans-serif; font-size:19px;">CLAIM NUMBER</td>
										</tr>
										<tr>
											<td valign="bottom" align="left" style="text-transform:uppercase; 
											font-family: sans-serif; font-size:19px; padding:15px 3px 0;">&nbsp;</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<table width="100%" border="0" style="margin:0 0 20px;">
					<tbody>
						<tr>
							<td valign="top" width="450" style="border:3px solid #000;">
								<table width="100%" border="0" style="border-collapse: collapse;">
									<tbody>
										<tr>
											<td valign="top" align="left" height="80px" style="text-transform:uppercase;
											font-family: sans-serif; font-size:20px; padding:0 4px;">NAME AND ADDRESS OF APPLICANT*</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td width="650">&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>>
			<td valign="top" align="left" style="font-family:sans-serif; font-size:21px;">
				<p><span style="text-transform:uppercase;">IT IS HEREBY AGREED</span> between the Applicant and the Insurer, as follows: </p>
			</td>
		</tr>
		<tr>>
			<td valign="top" align="left" style="font-family:sans-serif; font-size:21px; line-height:1.4; padding:10px 0 0;">
				<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;In the event a source of Workers' Compensation or N.Y.S. 
				Disability benefits denies liability for payment of benefits due on account of the above accident, in whole or in part, the Insurer 
				agrees to process the Applicant's No-Fault claim without deducting the withheld State or Federal Workers' Compensation benefits or 
				N.Y.S. Disability benefits under the following conditions:</p>
			</td>
		</tr>
		<tr>>
			<td valign="top" align="left" style="font-family:sans-serif; font-size:21px; line-height:1.4; padding:10px 0 0;">
				<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="text-transform:uppercase;">FIRST:</span>&nbsp; The Applicant 
				executes this Agreement. </p>
			</td>
		</tr>
		<tr>
			<td valign="top" align="left" style="font-family:sans-serif; font-size:21px; line-height:1.4; padding:10px 0 0;">
				<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="text-transform:uppercase;">SECOND:</span>&nbsp; In the event 
				such amounts are eventually paid to the Applicant, the Applicant agrees to repay the first party benefits equal to the withheld amounts 
				of Workers' Compensation benefits or N.Y.S. Disability benefits less any attorney's fee which the Applicant paid in order to obtain the benefits.</p>
			</td>
		</tr>
		<tr>
			<td valign="top" align="left" style="font-family:sans-serif; font-size:21px; line-height:1.4; padding:10px 0 0;">
				<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="text-transform:uppercase;">THIRD:</span>&nbsp;  In the event 
				the Applicant does not reimburse the Insurer, as provided herein, the Insurer may thereafter deduct such amounts from any future No-Fault 
				benefits due the Applicant on the claim. </p>
			</td>
		</tr>
		<tr>
			<td valign="top" align="left" style="font-family:sans-serif; font-size:21px; line-height:1.4; padding:10px 0 0;">
				<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="text-transform:uppercase;">FOURTH:</span>&nbsp; The Applicant 
				agrees to diligently pursue any claim for Workers' Compensation or N.Y.S. Disability benefits.</p>
			</td>
		</tr>
		<tr>
			<td valign="top" align="left" style="font-family:sans-serif; font-size:21px; line-height:1.4; padding:10px 0 20px;">
				<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="text-transform:uppercase;">FIFTH:</span>&nbsp; In the event 
				the Applicant fails to diligently pursue such claim for Workers' Compensation or N.Y.S. Disability benefits as set forth in Paragraph 
				Fourth or in the event the Applicant fails to reimburse the Insurer as provided herein, the Insurer may bring an action to recover the 
				amount paid under this agreement.</p>
			</td>
		</tr>
		<tr>
			<td valign="top" align="justify" style="font-family:sans-serif; font-size:21px; line-height:1.4; text-transform:uppercase; padding:0 0 30px; 
			border-top:5px solid #000; border-bottom:5px solid #000;"><strong>ANY PERSON WHO KNOWINGLY AND WITH INTENT TO DEFRAUD ANY INSURANCE COMPANY OR 
			OTHER PERSON FILES AN APPLICATION FOR COMMERCIAL INSURANCE OR A STATEMENT OF CLAIM FOR ANY COMMERCIAL OR PERSONAL INSURANCE BENEFITS CONTAINING ANY 
			MATERIALLY FALSE INFORMATION, OR CONCEALS FOR THE PURPOSE OF MISLEADING, INFORMATION CONCERNING ANY FACT MATERIAL THERETO, AND ANY PERSON WHO, 
			IN CONNECTION WITH SUCH APPLICATION OR CLAIM, KNOWINGLY MAKES OR KNOWINGLY ASSISTS, ABETS, SOLICITS OR CONSPIRES WITH ANOTHER TO MAKE A 
			FALSE REPORT OF THE THEFT, DESTRUCTION, DAMAGE OR CONVERSION OF ANY MOTOR VEHICLE TO A LAW ENFORCEMENT AGENCY, THE DEPARTMENT OF MOTOR VEHICLES 
			OR AN INSURANCE COMPANY, COMMITS A FRAUDULENT INSURANCE ACT, WHICH IS A CRIME, AND SHALL ALSO BE SUBJECT TO A CIVIL PENALTY NOT TO EXCEED FIVE 
			THOUSAND DOLLARS AND THE VALUE OF THE SUBJECT MOTOR VEHICLE OR STATED CLAIM FOR EACH VIOLATION.</strong></td>
		</tr>
		<tr>
			<td valign="top">
				<table width="100%" border="0" style="margin:30px 0 50px;">
					<tbody>
						<tr>
							<td width="80">&nbsp;</td>
							<td width="170" valign="bottom" align="left" style="font-family:sans-serif; font-size:21px; border-bottom:3px solid #000;
							padding:10px 0 0;">&nbsp;</td>
							<td width="250">&nbsp;</td>
							<td width="400" valign="bottom" align="left" style="font-family:sans-serif; font-size:21px; border-bottom:3px solid #000;
							padding:10px 0 0;">&nbsp;</td>
							<td width="200">&nbsp;</td>
						</tr>
						<tr>
							<td width="80">&nbsp;</td>
							<td width="170" valign="bottom" align="center" style="font-family:sans-serif; font-size:21px; text-transform:uppercase;">DATE</td>
							<td width="250">&nbsp;</td>
							<td width="400" valign="bottom" align="center" style="font-family:sans-serif; font-size:21px; text-transform:uppercase;">
							SIGNATURE OF APPLICANT</td>
							<td width="200">&nbsp;</td>
						</tr>
						<tr>
							<td width="80">&nbsp;</td>
							<td width="170" valign="bottom" align="left" style="font-family:sans-serif; font-size:21px; border-bottom:3px solid #000;
							padding:15px 0 0;">&nbsp;</td>
							<td width="250">&nbsp;</td>
							<td width="400" valign="bottom" align="left" style="font-family:sans-serif; font-size:21px; border-bottom:3px solid #000;
							padding:15px 0 0;">&nbsp;</td>
							<td width="200">&nbsp;</td>
						</tr>
						<tr>
							<td width="80">&nbsp;</td>
							<td width="170" valign="bottom" align="center" style="font-family:sans-serif; font-size:21px; text-transform:uppercase;">DATE</td>
							<td width="250">&nbsp;</td>
							<td width="400" valign="bottom" align="center" style="font-family:sans-serif; font-size:21px; text-transform:uppercase;">
							SIGNATURE OF INSURER</td>
							<td width="200">&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top" align="left" style="font-family:sans-serif; font-size:19px; line-height:1.3;">
				<p style="text-transform:uppercase;">*LANGUAGE TO BE FILLED IN BY INSURER OR SELF-INSURER. </p>
				<p>NYS FORM NF-9 (Rev 1/2004)</p>
			</td>
		</tr>
	</tbody>
</table>