<style>

@page { margin: 0.75cm; }
</style>
<table width="100%" border="0" align="center" style="font-family: sans-serif; padding:20px 0 100px 0; ">
    <tbody>
        <tr>
            <td style="border-bottom:10px solid #006fc0;"><table width="1100px" border="0" style="margin:0 auto;">
                    <tbody>
                        <tr>
                            <td width="33%" height="200" align="left" valign="top"><table width="100%" border="0">
                                    <tbody>
                                        <tr>
                                            <td style="padding:0 0 10px 0; font-size:16px;"><p>1963 Grand Concourse, 2 nd Fl. Bronx, NY10453 <br>
                                                    P: (718) 466 -4600 / F: (718) 466- 1100 </p></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:0 0 10px 0; font-size:16px;"><p> 6555 Woodhaven Blvd Rego Park , NY 11374 <br>
                                                    P: (718) 255 -6615 / F: (718) 255- 1394 </p></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:0 0 10px 0; font-size:16px;"><p> 910 E. Gun Hill Road, Bronx, NY 10469 <br>
                                                    P: (718) 882 -8500 / F: (718) 882- 4400 </p></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:0 0 10px 0; font-size:16px;"><p> 55 Greene Ave, Ste LLB, Brooklyn, NY 11238 <br>
                                                    P: (718) 398 -7777 / F:718- 399- 7777 </p></td>
                                        </tr>
                                    </tbody>
                                </table></td>
                            <td valign="top" width="30%" align="center"><div class="logo"><img src="{{url('local/resources/images/citimed-logo.png')}}" alt="pic" style="max-width:100%; width:40%; height:auto; display:block;"></div></td>
                            <td width="37%" align="right" valign="top"><table width="100%" border="0">
                                    <tbody>
                                        <tr>
                                            <td style="padding:0 0 10px 0; text-align: right; font-size:16px;"><p>JFK Airport Bldg. 75, Ste. 247 - 249 Jamaica, NY 11430 <br>
                                                    P: (718) 656 -9500 / F: (718) 656- 9503 </p></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:0 0 10px 0; text-align: right; font-size:16px;"><p>JFK Airport Bldg. 14, Ste. 14A, Jamaica, NY 11430 <br>
P: (718) 656 -1245 / F: (718) 656- 3060</p></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:0 0 10px 0; text-align: right; font-size:16px;"><p>14 Mamaroneck Ave., 2 nd Fl. White Plains, NY 10601 <br>
P: (914) 949 -5555 / F: (914) 993- 3333</p></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:0 0 10px 0; text-align: right; font-size:16px;"><p>92- 20 165 th Street, Jamaica, NY 11433 <br>
                                                    P: (718) 725 -0044 / F: (718) 725- 0880 </p></td>
                                        </tr>
                                    </tbody>
                                </table></td>
                        </tr>
                    </tbody>
                </table></td>
        </tr>
        <tr>
            <td><table width="1100px" border="0" align="center" style="font-size: 25px; font-family: serif; margin:0 auto;">
                    <tbody>
                        <tr>
                            <td height="90" valign="middle" align="center" style=" font-size:28px;"><strong>NOTICE TO PATIENTS </strong></td>
                        </tr>
                        <tr>
                            <td  style="text-align:justify; line-height:45px; padding:0 0 50px 0; font-family: serif;"><p>New  York  State
                                    law  prohibits  medical  providers
                                    ,  with  certain  exceptions,  from  referring  patients
                                    for 
                                    clinical laboratory services, pharmacy services, radiation therapy services, or x
                                    -ray or imaging services 
                                    to a facility in which the medical provider or any immediate family members have a financial interest. If 
                                    certain  of  the  exceptions  in  the  law  apply,  or  if  the  referral  is  for
                                    other  than  clinical  laboratory,  
                                    pharmacy, radiation therapy, or x
                                    -ray or
                                    imaging services, 
                                    the medical provider
                                    can make the referral so 
                                    long  as  they
                                    disclose  this  financial  interest  and  offer 
                                    the  patient
                                    about  alternative  providers  where  the 
                                    patient
                                    may go to obtain these services. </p></td>
                        </tr>
                        <tr>
                            <td  style="text-align:justify; line-height:45px; padding:0 0 50px 0; font-family: serif;"><p>This disclosure is intended to help you make a fully informed decision about your health care.</p></td>
                        </tr>
                        <tr>
                            <td  style="text-align:justify; line-height:45px; padding:0 0 50px 0; font-family: serif;"><p>I or my immediate family members have a financial relationship with the following providers: <br>
                                    Dynamic Surgery Center <br>
                                    Health Plus Surgery Center</p></td>
                        </tr>
                        <tr>
                            <td  style="text-align:justify; line-height:45px; padding:0 0 50px 0; font-family: serif;"><p>For more information about alternative providers, please
                                    ask me or my staff. We will provide you with 
                                    names and addresses of providers best suited to your individual needs that are nearest to your home or
                                    place of work
                                    . </p></td>
                        </tr>
                        <tr>
                            <td  style="text-align:justify; line-height:45px; padding:0 0 50px 0; font-family: serif;"><p>Regina Moshe, M.D. <br>
                                    Medical Director</p></td>
                        </tr>
                    </tbody>
                </table></td>
        </tr>
    </tbody>
</table>
