
<!--1st-page-strat-->

<table width="100%" border="0">
	<tbody>
		<tr>
			<td width="1100" valign="top" align="center" style="border-bottom:10px solid #006fc0;">
				<table width="100%" border="0">
					<tbody>
						<tr>
							<td width="340" valign="top">
								<table width="100%" border="0">
									<tbody>
										<tr>
											<td valign="middle" align="left" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize; padding:0 0 10px;">1963 Grand Concourse, 2nd Fl. 
											Bronx, NY 10453<br> P: (718) 466-4600 / F: (718) 466-1100</td>
										</tr>
										<tr>
											<td valign="middle" align="left" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize; padding:0 0 10px;">6555 Woodhaven Blvd Rego Park, 
											NY 11374<br> P: (718) 255-6615 / F: (718) 255-1394</td>
										</tr>
										<tr>
											<td valign="middle" align="left" style="font-family:sans-serif; font-size:16px;
											text-transform:capitalize; padding:0 0 10px;">910 E. Gun Hill Road, Bronx, NY 10469
											<br>P: (718) 882-8500 / F: (718) 882-4400</td>
										</tr>
										<tr>
											<td valign="middle" align="left" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize;">55 Greene Ave, Ste LLB, Brooklyn, NY 11238<br>
											P: (718) 398-7777 / F:718-399-7777</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td width="390" valign="top" style="padding:-10px 0 0;">
								<div class="logo" valign="top"><img src="{{url('local/resources/images/citimed-logo.png')}}" 
								alt="pic" style="max-width:100%; width:40%; height:auto; display:block;"></div>
							</td>
							<td width="370" valign="top">
								<table width="100%" border="0">
									<tbody>
										<tr>
											<td valign="middle" align="right" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize; padding:0 0 10px;"><span style="display:inline-block; 
											text-transform:uppercase;">JFK</span> Airport Bldg. 75, Ste. 247-249 Jamaica, 
											NY 11430<br> P: (718) 656-9500 / F: (718) 656-9503</td>
										</tr>
										<tr>
											<td valign="middle" align="right" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize; padding:0 0 10px;"><p><span style="display:inline-block; 
											text-transform:uppercase;">JFK</span> Airport Bldg. 14, Ste. 14A, Jamaica, NY 11430
											P: (718) 656-1245 / F: (718) 656-3060</td>
										</tr>
										<tr>
											<td valign="middle" align="right" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize; padding:0 0 10px;">14 Mamaroneck Ave., 2nd Fl. White Plains
											 NY 10601<br>(914) 949-5555 / F: (914) 993-3333</td>
										</tr>
										<tr>
											<td valign="middle" align="right" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize;">20 165th Street, Jamaica, NY 11433<br>
											(718) 725-0044 / F: (718) 725-0880</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td width="1100" valign="top" align="center">
				<table width="100%" border="0">
					<tbody>
						<tr>
							<td width="30"></td>
							<td width="1040" style="padding:20px 0 0;">
								<table width="100%" border="0">
									<tbody>
										<tr>
											<td valign="top" align="center" style="font-family:serif; font-size:25px;text-transform:
											uppercase;"><strong>NOTICE OF PRIVACY PRACTICES</strong></td>
										</tr>
										<tr>
											<td valign="top" align="center" style="font-family:serif; font-size:18px; text-transform:
											uppercase;"><strong>THIS NOTICE DESCRIBES HOW HEALTH INFORATION ABOUT YOU MAY BE USED 
											AND DISCLOSED AND HOW YOU CAN GET ACCESS TO THIS INFORMATION </strong></td>
										</tr>
										<tr>
											<td valign="top" align="center" style="font-family:serif; font-size:18px;text-transform:
											uppercase;"><strong>PLEASE REVIEW IT CAREFULLY. THE PRIVACY OF YOUR HEALTH INFORMATION 
											IS IMPORTANT TO US.</strong></td>
										</tr>
										<tr>
											<td valign="top" align="justify" style="font-family:serif; font-size:18px; 
											padding:20px 0 0;">
											<strong style="font-size:17px; text-transform:uppercase;">OUR LEGAL DUTY</strong>
											<br>
											<br>
											<p>Federal and state law requires us to maintain the privacy of your health information. 
											That law requires us to give you this notice about our privacy practices, our legal 
											duties, and your rights concerning your health information. We must follow the privacy 
											practices we describe in this notice while it is in effect. This notice takes effect 
											October 15, 2012, and will remain in effect until we replace it.</p>
											<br>
											<p>We reserve the right to change our privacy practices and the terms of his notice at 
											any time, provided such applicable law permits the changes. We reserve the right 
											to make changes to our privacy practices and the new terms of our notice effective for 
											all health information that we maintain, including health information we created or 
											received before we made the changes. Before we make significant change in our privacy 
											practices, we will change this notice and make the notice available upon request</p>
											<br>
											<p>You may request of a copy of our notice at any time. For more information about our 
											privacy practices, or for additional copies of this notice, please contact us using 
											the contact information listed above of this notice.</p>
											<br>
											<strong style="text-transform:uppercase;">USES AND DISCLOSURES OF 
											HEALTH INFORMATION</strong>
											<br>
											<br>
											<p>We use and disclose health information about you for treatment, payment and health 
											care operations. For example: <strong>Treatment:</strong> We may use and disclose your 
											health information for treatment or disclose it to a dentist, physician or other 
											health care provider providing treatment to you.</p>
											<br>
											<p><strong>Payment:</strong> We may use and disclose your health information to obtain 
											payment for services we provided to you. We may also disclose your health information 
											to another healthcare provider or entity that is subject to the federal Privacy Rules 
											for its payment activities.</p>
											<br>
											<p><strong>Health Care Operations:</strong> We may use and disclose your health 
											information for our health care operations. Health care operations include quality 
											assessment and improvement activities, reviewing the competence or qualification of 
											health professionals, evaluation practitioner and provider performance, conducting 
											training programs, accreditation, certification, licensing or credentialing activities.
											 We may disclose your health information to another health care provider or 
											 organization that is subject to federal privacy rules and that has a relationship 
											 with you to support some of their health</p>
											<p>Care operation. We may disclose your information to help these organizations 
											conduct quality assessment and improve activities, review the competence or 
											qualifications of health care professionals, or detect or prevent health care fraud 
											and abuse.</p>
											<br>
											<p><strong>On your Authorization:</strong> You may give us written authorization to 
											use your health information or to disclose it to anyone for any purpose. If you give 
											us an authorization, you may revoke it in writing at anytime. Your revocation will 
											not affect any uses or disclosures permitted by your authorization while it was in 
											effect. Unless you give us a written authorization, we cannot use or disclose your 
											information for any reason except those described in this notice.</p>
											<br>
											<p><strong>To Your Family and Friends:</strong> We may disclose your health information 
											to a family member, friend or other person to the extent necessary to help with your 
											care or with payment of your health care. Before we disclose your health information 
											to these people, we will provide you with an opportunity to object to our use or 
											disclosure. If you are not present, or in the event of your incapacity or an emergency, 
											we will disclose your medical information based on our professional judgment of whether 
											the disclosure would be in your best interest. We may use our professional judgment
											and our experience with common practice to make reasonable inferences of your best 
											interest in allowing a person to pick up filled prescriptions, medical supplies, x-rays,
											 or other similar forms of health information. We may use or disclose information 
											 about you to notify or assist in notifying a person involved in your care, of your 
											 location and general condition.</p>
											<br>
											<p><strong>Appointment Reminders:</strong> We may use or disclose your health 
											information to provide you with appointment reminders (such as voicemail messages, 
											postcards, or letters.)</p>
											<br>
											<p><strong>Disaster Relief:</strong> We may use or disclose your health information 
											to a public or private entity authorized by law or by its charter to assist in a 
											natural disaster relief efforts.</p>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td width="30"></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<pagebreak>

<!--2nd-page-strat-->

<table width="100%" border="0">
	<tbody>
		<tr>
			<td width="1100" valign="top" align="center" style="border-bottom:10px solid #006fc0;">
				<table width="100%" border="0">
					<tbody>
						<tr>
							<td width="340" valign="top">
								<table width="100%" border="0">
									<tbody>
										<tr>
											<td valign="middle" align="left" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize; padding:0 0 10px;">1963 Grand Concourse, 2nd Fl. 
											Bronx, NY 10453<br> P: (718) 466-4600 / F: (718) 466-1100</td>
										</tr>
										<tr>
											<td valign="middle" align="left" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize; padding:0 0 10px;">6555 Woodhaven Blvd Rego Park, 
											NY 11374<br> P: (718) 255-6615 / F: (718) 255-1394</td>
										</tr>
										<tr>
											<td valign="middle" align="left" style="font-family:sans-serif; font-size:16px;
											text-transform:capitalize; padding:0 0 10px;">910 E. Gun Hill Road, Bronx, NY 10469
											<br>P: (718) 882-8500 / F: (718) 882-4400</td>
										</tr>
										<tr>
											<td valign="middle" align="left" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize;">55 Greene Ave, Ste LLB, Brooklyn, NY 11238<br>
											P: (718) 398-7777 / F:718-399-7777</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td width="390" valign="top" style="padding:-10px 0 0;">
								<div class="logo" valign="top"><img src="{{url('local/resources/images/citimed-logo.png')}}" 
								alt="pic" style="max-width:100%; width:40%; height:auto; display:block;"></div>
							</td>
							<td width="370" valign="top">
								<table width="100%" border="0" style="table-layout:fixed;">
									<tbody style="border-spacing:0; border-collapse:collapse;">
										<tr>
											<td valign="middle" align="right" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize; padding:0 0 10px;"><span style="display:inline-block; 
											text-transform:uppercase;">JFK</span> Airport Bldg. 75, Ste. 247-249 Jamaica, 
											NY 11430<br> P: (718) 656-9500 / F: (718) 656-9503</td>
										</tr>
										<tr>
											<td valign="middle" align="right" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize; padding:0 0 10px;"><span style="display:inline-block; 
											text-transform:uppercase;">JFK</span> Airport Bldg. 14, Ste. 14A, Jamaica, NY 11430
											P: (718) 656-1245 / F: (718) 656-3060</td>
										</tr>
										<tr>
											<td valign="middle" align="right" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize; padding:0 0 10px;">14 Mamaroneck Ave., 2nd Fl. White Plains
											 NY 10601<br>(914) 949-5555 / F: (914) 993-3333</td>
										</tr>
										<tr>
											<td valign="middle" align="right" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize;">20 165th Street, Jamaica, NY 11433<br>
											(718) 725-0044 / F: (718) 725-0880</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td width="1100" valign="top" align="center">
				<table width="100%" border="0">
					<tbody>
						<tr>
							<td width="30" valign="top"></td>
							<td width="1040" valign="top" style="padding:20px 0 0;">
								<table width="100%" border="0">
									<tbody>
										<tr>
											<td valign="top" align="justify" style="font-family:serif; font-size:18px;">
												<p><strong>Public benefit:</strong> We may use or disclose your medical 
												information as authorized by law for the following purposes deemed to be in 
												the public interest or benefit:</p>
												<ul>
													<li style="display:block; font-size:18px;">&nbsp; &nbsp;To health oversight 
													agencies;</li>
													<li style="display:block; font-size:18px;">&nbsp; &nbsp;In response to court and 
													administrative orders and other lawful processes;</li>
												</ul>
												<p>To law enforcement officials pursuant to subpoenas and other lawful processes, 
												concerning crime victims, suspicious deaths, crimes on our premises, reporting 
												crimes in emergencies, and for purposes of identifying or locating a suspect or 
												other person;</p>
												<ul>
													<li style="display:block; font-size:18px;">&nbsp; &nbsp;To coroners, medical 
													examiners, and funeral directors;</li>
													<li style="display:block; font-size:18px;">&nbsp; &nbsp;To an organ procurement 
													organization;</li>
													<li style="display:block; font-size:18px;">&nbsp; &nbsp;To avert a serious 
													threat to health or safety,</li>
													<li style="display:block; font-size:18px;">&nbsp; &nbsp;In connection with 
													certain research activities;</li>
													<li style="display:block; font-size:18px;">&nbsp; &nbsp;To the military and to 
													federal officials for lawful intelligence, counterintelligence, and national 
													security activities;</li>
													<li style="display:block; font-size:18px;">&nbsp; &nbsp;As authorized by state
													 worker's compensation laws</li>
												</ul>
												<br>
												<strong style=" font-size:18px; text-transform:uppercase;">PATIENT RIGHTS</strong>
												<br>
												<br>
												<p><strong>Access:</strong> You have the right to look at or get copies of your 
												health information with limited exceptions. You may request that we provide copies 
												in a format other than photocopies. We will use the format you request unless we 
												cannot practicably do so. You must make a request in writing to obtain access to 
												your health information. You may request access by sending us a letter to the 
												address above of this notice. If you request copies, sve will charge you a 
												reasonable cost-based fee that may include labor copying costs, and postage. If 
												you request an alternative format, we will charge a cost-base fee for providing 
												your health information in that format. If you prefer, we may-but are not required 
												to-prepare a summary of an explanation of your health information for a fee. Contact 
												us using the contact information listed above of this notice for more information 
												about fees.</p>
												<br>
												<p><strong>Disclosure Accounting:</strong> You have the right to receive a list 
												of instances in which we or our business associates disclosed your health 
												information of the last 6 years (but not before October 15, 2012). That list will 
												not include disclosures for treatment, payment, health care operations, as 
												authorized by you, and for certain other activities. If you request this accounting 
												more than once in a 12 month period, we may charge you a reasonable, cost based 
												fee for responding to theses additional requests. Contact us using the information 
												listed at the end of this notice for more information about fees.</p>
												<br>
												<p><strong>Restrictions:</strong> You have the right to request that we place 
												additional restrictions on our use or disclosure of your health information We 
												are not required to agree to these additional restrictions, but if we do, we 
												will abide by our agreement (except in an emergency) Any agreement we may make to 
												a request for additional restrictions must be in writing signed by a person 
												authorized to make such an agreement on our behalf. Your request is not binding 
												unless our agreement is in writing.</p>
												<br>
												<p><strong>Alternative Communication:</strong> You have the right to request that 
												we communicate with you about your health information by alternative means or 
												to alternative locations. You must make your request in writing. You must specify
												in your request that the alternative means or location and provide satisfactory 
												explanation how you will handle payment under the alternative means or location you 
												request</p>
												<br>
												<p><strong>Amendment:</strong> You have the right to request that we amend your 
												health information. Your request must be in writing and it must explain why we 
												should amend the information. We may deny your request under certain 
												circumstances.</p>
												<br>
												<strong style=" font-size:18px; text-transform:uppercase;">QUESTIONS AND COMPLAINTS
												</strong>
												<br>
												<br>
												<p>If you want more information about our privacy practices or have questions or 
												concerns, please contact us using the contact information listed at above of 
												this notice. If you believe that:</p>
												<ul>
													<li style="display:block; font-size:18px;">&nbsp; &nbsp;We may have violated 
													your privacy rights</li>
													<li style="display:block; font-size:18px;">&nbsp; &nbsp;We made a decision 
													about access to your health information incorrectly,</li>
													<li style="display:block; font-size:18px;">&nbsp; &nbsp;Our response to a 
													request you made to amend or restrict the use of disclosure of your health 
													information was incorrect,</li>
												</ul>
												<span style="display:block; font-size:18px; line-height:1.5;">or</span>
												<ul>
													<li style="display:block; font-size:18px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
													We should communicate with you by alternative means or at alternative locations,
													 you may contact us using the contact information listed above. You also may 
													submit a written complaint to the U.S. Department of Health and Human Services. 
													We will provide you with the address to file your complaint with the U.S. 
													Department of Health and Human Services upon request. We support your right 
													to the privacy of your health information. We will not retaliate in any way if 
													you choose to file a complaint with us or with the U.S. Department of 
													Health and Human Services.</li>
												</ul>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td width="30" valign="top"></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<pagebreak>

<!--3rd-page-start-->

<table width="100%" border="0">
	<tbody>
		<tr>
			<td width="1100" valign="top" align="center" style="border-bottom:10px solid #006fc0;">
				<table width="100%" border="0">
					<tbody>
						<tr>
							<td width="340" valign="top">
								<table width="100%" border="0">
									<tbody>
										<tr>
											<td valign="middle" align="left" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize; padding:0 0 10px;">1963 Grand Concourse, 2nd Fl. 
											Bronx, NY 10453<br> P: (718) 466-4600 / F: (718) 466-1100</td>
										</tr>
										<tr>
											<td valign="middle" align="left" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize; padding:0 0 10px;">6555 Woodhaven Blvd Rego Park, 
											NY 11374<br> P: (718) 255-6615 / F: (718) 255-1394</td>
										</tr>
										<tr>
											<td valign="middle" align="left" style="font-family:sans-serif; font-size:16px;
											text-transform:capitalize; padding:0 0 10px;">910 E. Gun Hill Road, Bronx, NY 10469
											<br>P: (718) 882-8500 / F: (718) 882-4400</td>
										</tr>
										<tr>
											<td valign="middle" align="left" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize;">55 Greene Ave, Ste LLB, Brooklyn, NY 11238<br>
											P: (718) 398-7777 / F:718-399-7777</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td width="390" valign="top" style="padding:-10px 0 0;">
								<div class="logo" valign="top"><img src="{{url('local/resources/images/citimed-logo.png')}}" 
								alt="pic" style="max-width:100%; width:40%; height:auto; display:block;"></div>
							</td>
							<td width="370" valign="top">
								<table width="100%" border="0" style="table-layout:fixed;">
									<tbody style="border-spacing:0; border-collapse:collapse;">
										<tr>
											<td valign="middle" align="right" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize; padding:0 0 10px;"><span style="display:inline-block; 
											text-transform:uppercase;">JFK</span> Airport Bldg. 75, Ste. 247-249 Jamaica, 
											NY 11430<br> P: (718) 656-9500 / F: (718) 656-9503</td>
										</tr>
										<tr>
											<td valign="middle" align="right" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize; padding:0 0 10px;"><span style="display:inline-block; 
											text-transform:uppercase;">JFK</span> Airport Bldg. 14, Ste. 14A, Jamaica, NY 11430
											P: (718) 656-1245 / F: (718) 656-3060</td>
										</tr>
										<tr>
											<td valign="middle" align="right" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize; padding:0 0 10px;">14 Mamaroneck Ave., 2nd Fl. White Plains
											 NY 10601<br>(914) 949-5555 / F: (914) 993-3333</td>
										</tr>
										<tr>
											<td valign="middle" align="right" style="font-family:sans-serif; font-size:15px;
											text-transform:capitalize;">20 165th Street, Jamaica, NY 11433<br>
											(718) 725-0044 / F: (718) 725-0880</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td width="1100" align="center" valign="top">
				<table width="100%" border="0">
					<tbody>
						<tr>
							<td valign="top" align="center" style="font-family:serif; font-size:19px; text-transform:uppercase;">
							010 CRR-NY 34-1.6NY-CRR</td>
						</tr>
						<tr>
							<td width="1100" valign="top" align="center" style="border:1px solid #000; padding:0 20px;">
								<table width="100%" border="0">
									<tbody>
										<tr>
											<td valign="top" align="center" style="font-family:serif; font-size:26px; text-transform:
											uppercase;">OFFICIAL COMPILATION OF CODES, RULES AND REGULATIONS OF THE STATE OF NEW 
											YORK</td>
										</tr>
										<tr>
											<td valign="top" align="center" style="font-family:serif; font-size:25px; text-transform:
											uppercase;">TITLE 10. DEPARTMENT OF HEALTH</td>
										</tr>
										<tr>
											<td valign="top" align="center" style="font-family:serif; font-size:25px; text-transform:
											uppercase;">CHAPTER II. ADMINISTRATIVE RULES AND REGULATIONS</td>
										</tr>
										<tr>
											<td valign="top" align="center" style="font-family:serif; font-size:25px; text-transform:
											uppercase;">SUBCHAPTER A. VITAL RECORDS AND PERSONAL INFORMATION</td>
										</tr>
										<tr>
											<td valign="top" align="center" style="font-family:serif; font-size:26px; text-transform:
											uppercase;">PART 34. HEALTH CARE PRACTITIONER REFERRALS AND LABORATORY BUSINESS 
											PRACTICES</td>
										</tr>
										<tr>
											<td valign="top" align="center" style="font-family:serif; font-size:25px; text-transform:
											uppercase;">SUBPART 34-1. HEALTH CARE PRACTITIONER REFERRALS</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td valign="top">
								<table width="100%" border="0">
									<tbody>
										<tr>
											<td width="1100" valign="top" align="center">
												<table width="100%" border="0">
													<tbody>
														<tr>
															<td width="20" valign="top"></td>
															<td width="1060" valign="top">
																<table width="100%" border="0">
																	<tbody>
																		<tr>
																			<td valign="top" align="center" style="font-family:serif; 
																			font-size:19px;text-transform:uppercase;">10 CRR-NY 34-1.6
																			</td>
																		</tr>
																		<tr>
																			<td valign="top" align="center" style="font-family:serif; 
																			font-size:19px; text-transform:uppercase;">10 CRR-NY 
																			34-1.6</td>
																		</tr>
																		<tr>
																			<td valign="top" align="center" style="font-family:serif; 
																			font-size:19px; text-transform:uppercase; padding:
																			20px 0 0;">34-1.6 Disclosure form.</td>
																		</tr>
																		<tr>
																			<td valign="top" align="center" style="font-family:serif; 
																			font-size:24px; text-transform:uppercase;"><strong>
																			NOTICE TO PATIENTS</strong></td>
																		</tr>
																		<tr>
																			<td valign="top" align="justify" style="font-family:serif;
																			 font-size:23px; line-height:1.4;">
																			<p>Because of concerns that there may be a conflict of 
																			interest when a physician refers a patient to a health 
																			care facility in which the 
																			hysician has a financial interest, New York State passed 
																			a law. The law prohibits me, with certain exceptions, 
																			from referring you for clinical laboratory services, 
																			pharmacy services, radiation therapy, or X-ray or 
																			imaging services to a facility in which I or any of my 
																			immediate family members have a financial interest. If 
																			certain of the exceptions in the law apply, or if I am 
																			referring you for other than clinical laboratory, 
																			pharmacy, radiation therapy services, or x-ray or
																			imaging services, I can make the referral under one 
																			condition. The condition is that I disclose this 
																			financial interest and tell you about alternative 
																			providers where you may go to obtain these services. 
																			This disclosure is intended to help you make a fully 
																			informed decision about your health care.</p>
																			<br>
																			<p>I or my immediate family members have a financial 
																			relationship with the following providers:</p>
																			<br>
																			<p style="text-transform:uppercse;">CITIMEDICAL I, PLLC 
																			dba CITIMED DIAGNOSTIC</p>
																			<br>
																			<p>For more information about alternative providers, 
																			please ask me or my staff. We will provide you with 
																			names and addresses of providers best suited to your 
																			individual needs that are nearest to your home or
																			place of work.</p>
																			<br>
																			<br>
																			<p style="text-transform:uppercse; font-size:23px;">
																			Regina Moshe, MD</p>
																			<p style="text-transform:uppercse; font-size:23px;">
																			Medical Director</p>
																			<br>
																			<p style="text-transform:uppercse; font-size:23px;">
																			10 CRR-NY 34-1.6</p>
																			<p style="font-size:23px;">Current through November 30, 
																			2018</p>
																			<table width="100%" border="0">
																				<tbody>
																					<tr>
																						<td style="font-family:serif; font-size:22px;
																						border-bottom:1px solid #000;">&nbsp;</td>
																					</tr>
																					<tr>
																						<td style="font-family:serif; font-size:21px;
																						padding:17px 0 0; text-transform:uppercase;">
																						END OF DOCUMENT </td>
																					</tr>
																					<tr>
																						<td valign="top">
																							<table width="100%" border="0" style="margin:15px 0 0 -10px;">
																								<tbody>
																									<tr> 
																										<td width="550" valign="top">
																											<table width="100%" border="0">
																												<tbody>
																													<tr>
																														<td width="30" align="left" valign="bottom"
																														 style="font-family:serif; font-size:20px;">
																														<strong>Date:</strong></td>
																														<td width="120" align="left" valign="bottom"
																														 style="font-family:serif; font-size:21px;
																														 border-bottom:1px solid #000;">&nbsp;</td>
																														<td width="400">&nbsp;</td>
																													</tr>
																												</tbody>
																											</table>
																										</td>
																										<td width="550px" valign="top">
																											<table width="100%" border="0">
																												<tbody>
																													<tr>
																														<td width="240">&nbsp;</td>
																														<td width="190" align="right
																														" valign="bottom"
																														 style="font-family:serif; font-size:21px;">
																														<strong>Patient Initials: </strong></td>
																														<td width="120" align="left" valign="bottom"
																														 style="font-family:serif; font-size:20px;
																														 border-bottom:1px solid #000;">&nbsp;
																														</td>
																													</tr>
																												</tbody>
																											</table>
																										</td>
																									</tr>
																								</tbody>
																							</table>
																						</td>
																					</tr>
																				</tbody>
																			</table>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
															<td width="20" valign="top"></td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>