<style>
@page {
	margin-top: 2cm;
	margin-bottom: 2cm;
	margin-left: 2.5cm;
	margin-right: 2.5cm;
}
</style>

<table width="1100" border="0" align="center" style=" font-size:20px; padding:10px 0;">
	<tbody>
		<tr>
			<td><table width="100%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="217"></td>
							<td width="458" style="border-bottom:1px solid #000; font-size:26.6px; font-family: serif;"><strong>Notice of Intention to Make Claim</strong></td>
							<td width="403"></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="452" style=" font-family: -webkit-pictograph;">This form must be subscribed and sworn to.</td>
							<td width="630" style=" font-family: -webkit-pictograph;">Fax or e
								-mail notification is not acceptable.</td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr>
			<td height="40" valign="bottom">To: MOTOR VEHICLE ACCIDENT INDEMNIFICATION CORPORATION</td>
		</tr>
		<tr>
			<td><table width="38%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="30"></td>
							<td width="377" height="10" style=" font-family: -webkit-pictograph;">100 WILLIAM ST, 14
								th 
								Floor.</td>
							<td width="0"></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr>
			<td><table width="38%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="30"></td>
							<td width="384" style=" font-family: -webkit-pictograph;">NEW YORK, N.Y. 10038</td>
							<td width="0"></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr>
			<td><table width="38%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="30"></td>
							<td width="377" style=" font-family: -webkit-pictograph;">phone: 646-
								205-
								7800</td>
							<td width="0"></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr>
			<td height="50" valign="bottom">State of New York</td>
		</tr>
		<tr>
			<td><table width="40%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="94" style=" font-family: -webkit-pictograph;">County of</td>
							<td width="285" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
							<td width="43" align="right">-SS.</td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr>
			<td height="150" style="font-size:25px; text-align:justify;">Pursuant  to  Article  52  and/or  pertinent  sections  of  Article  18  of  the  
				Insurance  Law  of  the  State  of  New  
				York, this affidavit is presented to the Motor Vehicle Accident Indemnification Corporation for the purpose 
				of giving my Notice of Intention to Make Claim against said Motor Vehicle Accident Corp. for injuries 
				sustained by
				me. I have been duly sworn and state:</td>
		</tr>
		<tr>
			<td><table width="84%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="110" style=" font-family: -webkit-pictograph;"> My name is </td>
							<td width="245" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
							<td width="186" align="left">; my date of birth is</td>
							<td width="358" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
						</tr>
					</tbody>
			</table></td>
		</tr>
		<tr>
			<td><table width="84%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="99" style=" font-family: -webkit-pictograph;"> I reside at </td>
							<td width="812" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr>
			<td><table width="84%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="224" height="50" valign="bottom" style=" font-family: -webkit-pictograph;">My Social Security # is: </td>
							<td width="160" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
							<td width="129" align="right" valign="bottom">My email is:</td>
							<td width="386" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
						</tr>
					</tbody>
			</table></td>
		</tr>
		<tr>
			<td><table width="100%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="223" style=" font-family: -webkit-pictograph;"> My telephone number is: </td>
							<td width="151" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
							<td width="704"></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="177" style=" font-family: -webkit-pictograph;">I am employed by: </td>
							<td width="209" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
							<td width="69"></td>
							<td width="619">[ ] Unemployed </td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="169"></td>
							<td width="218" height="30" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
							<td width="691"></td>
						</tr>
					</tbody>
			</table></td>
		</tr>
		<tr>
			<td><table width="84%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="406" height="40" valign="bottom" style=" font-family: -webkit-pictograph;">I was involved in an automobile accident on: </td>
							<td width="501" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="437"></td>
							<td width="174" style=" font-family: -webkit-pictograph;">Month Day </td>
							<td width="134" style=" font-family: -webkit-pictograph;"> Year </td>
							<td width="329" style=" font-family: -webkit-pictograph;">time (am/pm) </td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr>
			<td><table width="84%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="168" style=" font-family: -webkit-pictograph;">Place of Accident: </td>
							<td width="739" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr>
			<td><table width="84%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="206"></td>
							<td width="311" style=" font-family: -webkit-pictograph;">Street or highway </td>
							<td width="278" style=" font-family: -webkit-pictograph;"> City </td>
							<td width="104" style=" font-family: -webkit-pictograph;"> State </td>
						</tr>
					</tbody>
			</table></td>
		</tr>
		<tr>
			<td><table width="100%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="186" style=" font-family: -webkit-pictograph;">I was driver [ ] </td>
							<td width="234" style=" font-family: -webkit-pictograph;">a passenger [ ] </td>
							<td width="248" style=" font-family: -webkit-pictograph;"> of vehicle #1 [ ] </td>
							<td width="406" style=" font-family: -webkit-pictograph;"> a pedestrian [ ] </td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="574" align="right" style=" font-family: -webkit-pictograph;"> Of vehicle # 2[ ] </td>
							<td width="98"></td>
							<td width="406" style=" font-family: -webkit-pictograph;">a bicyclist [ ] </td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr>
			<td><table width="84%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="111" style=" font-family: -webkit-pictograph;">Vehicle # 1 </td>
							<td width="275" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
							<td width="99" style=" font-family: -webkit-pictograph;">Vehicle #2 </td>
							<td width="414" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
						</tr>
					</tbody>
			</table></td>
		</tr>
		<tr>
			<td><table width="84%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="486" align="center" style=" font-family: -webkit-pictograph;">Year/ Make /Model/ Color </td>
							<td width="418" align="center" style=" font-family: -webkit-pictograph;">Year/Make/Model/Color </td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr>
			<td><table width="100%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="149" style=" font-family: -webkit-pictograph;"> License Plate #: </td>
							<td width="114" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
							<td width="58" align="left">State</td>
							<td width="88" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
							<td width="161" align="right" style=" font-family: -webkit-pictograph;"> License Plate #: </td>
							<td width="102" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
							<td width="66" align="left">; State</td>
							<td width="88" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
							<td width="228" align="left"></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr>
			<td><table width="81%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="65" style=" font-family: -webkit-pictograph;">Owner: </td>
							<td width="370" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
							<td width="23"></td>
							<td width="64" align="left">Owner:</td>
							<td width="339" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr>
			<td><table width="81%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="77" style=" font-family: -webkit-pictograph;">Address: </td>
							<td width="362" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
							<td width="22"></td>
							<td width="72" align="left">Address:</td>
							<td width="328" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr>
			<td><table width="81%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="439" height="30" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
							<td width="24"></td>
							<td width="404" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr>
			<td><table width="81%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="64" style=" font-family: -webkit-pictograph;">Driver: </td>
							<td width="371" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
							<td width="23"></td>
							<td width="64" align="left">Driver:</td>
							<td width="337" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr>
			<td><table width="81%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="77" style=" font-family: -webkit-pictograph;">Address: </td>
							<td width="362" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
							<td width="22"></td>
							<td width="72" align="left">Address:</td>
							<td width="327" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr>
			<td><table width="81%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="104" style=" font-family: -webkit-pictograph;">Insured by: </td>
							<td width="331" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
							<td width="23"></td>
							<td width="100" align="left">Insured by:</td>
							<td width="304" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr>
			<td><table width="81%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="83" style=" font-family: -webkit-pictograph;">Policy #: </td>
							<td width="352" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
							<td width="23"></td>
							<td width="84" align="left">Policy #: </td>
							<td width="320" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr>
			<td><table width="81%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="141" style=" font-family: -webkit-pictograph;"> Effective Date: </td>
							<td width="51" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
							<td width="153" align="left">Expiration date:</td>
							<td width="45" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
							<td width="158" style=" font-family: -webkit-pictograph;"> Effective Date: </td>
							<td width="66" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
							<td width="145" align="left"> Expiration date: </td>
							<td width="72" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
							<td width="15" align="left"></td>
						</tr>
					</tbody>
			</table></td>
		</tr>
		<tr>
			<td><table width="81%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="392" style=" font-family: -webkit-pictograph;">The accident was reported to the Police on </td>
							<td width="140" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
							<td width="37" align="left">, in</td>
							<td width="297" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr>
			<td><table width="74%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="489" align="right" style=" font-family: -webkit-pictograph;">Date </td>
							<td width="306" align="right">Precinct
								-City
								- State</td>
						</tr>
					</tbody>
			</table></td>
		</tr>
	</tbody>
</table>
<pagebreak>


<table width="1100" border="0" align="center" style=" font-size:20px; padding:10px 0;">
	<tbody>
		<tr>
		<td style="font-size:25px;">Descripti of Injury & Expense Incurred: </td>
</tr>

<tr><td height="30" style="border-bottom:1px solid #000;"></td></tr>
<tr><td height="30" style="border-bottom:1px solid #000;"></td></tr>



<tr>
			<td><table width="95%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="337" style=" font-family: -webkit-pictograph;">Is your injury covered by insurance? Yes [ ]
  </td>
							<td width="630" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
							<td width="56" align="right">No [ ]</td>
							
						</tr>
					</tbody>
			</table></td>
		</tr>


<tr>
			<td><table width="95%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="546" style=" font-family: -webkit-pictograph;">
  </td>
						
								<td width="481" style=" font-family: -webkit-pictograph;">Name of Insurance Company
  </td>			
						</tr>
					</tbody>
			</table></td>
		</tr>





<tr>
			<td><table width="95%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="406" style=" font-family: -webkit-pictograph;">Are you receiving
 Worker's Compensation? Yes [ ] _
  </td>
							<td width="560" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
							<td width="57" align="right">No [ ]</td>
							
						</tr>
					</tbody>
			</table></td>
		</tr>




<tr>
			<td><table width="95%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="503" style=" font-family: -webkit-pictograph;">
  </td>
						
								<td width="524" style=" font-family: -webkit-pictograph;">Name of Insurance Co.
  </td>			
						</tr>
					</tbody>
			</table></td>
		</tr>


	<tr>
		<td style="font-size:25px;">Description of Accident </td>
</tr>
<tr><td height="30" style="border-bottom:1px solid #000;"></td></tr>
<tr><td height="30" style="border-bottom:1px solid #000;"></td></tr>
<tr><td height="30" style="border-bottom:1px solid #000;"></td></tr>

<tr><td>Did anyone live with you on the date of accident? Yes [ ] No [ ]</td></tr>

<tr><td>If yes, list all the people that lived with you on the date of accident:</td></tr>

	<tr>
			<td><table width="100%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="216" style=" font-family: -webkit-pictograph;">Name </td>
							<td width="204" style=" font-family: -webkit-pictograph;">Relation </td>
							<td width="219" style=" font-family: -webkit-pictograph;"> Date of Birth </td>
							<td width="435" style=" font-family: -webkit-pictograph;">Social Security Number</td>
						</tr>
					</tbody>
				</table></td>
		</tr>


<tr><td height="30" style="border-bottom:1px solid #000;"></td></tr>
<tr><td height="30" style="border-bottom:1px solid #000;"></td></tr>
<tr><td height="30" style="border-bottom:1px solid #000;"></td></tr>
<tr><td height="30" style="border-bottom:1px solid #000;"></td></tr>



	<tr>
			<td><table width="100%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="570" height="35" align="left" valign="bottom" style=" font-family: -webkit-pictograph;">Do any of the people you live with own
 a vehicle: Yes [ ] </td>
							<td width="512" align="left" valign="bottom">No [ ]</td>
						</tr>
					</tbody>
				</table></td>
		</tr>





<tr>
			<td><table width="100%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="50" height="35" align="left" valign="bottom" style=" font-family: -webkit-pictograph;">Owner’s name: </td>
							<td width="1020" align="left" valign="bottom" style="border-bottom:1px solid #000;"></td>
						</tr>
					</tbody>
				</table></td>
		</tr>






<tr>
			<td><table width="100%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="115" height="35" align="left" valign="bottom" style=" font-family: -webkit-pictograph;">Insurance Company
:  </td>
							<td width="967" align="left" valign="bottom" style="border-bottom:1px solid #000;"></td>
						</tr>
					</tbody>
				</table></td>
		</tr>






<tr>
			<td><table width="100%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="80" height="35" align="left" valign="bottom" style=" font-family: -webkit-pictograph;">Policy
 #:   </td>
							<td width="261" align="left" valign="bottom" style="border-bottom:1px solid #000;"></td>
							<td width="50" height="35" align="left" valign="bottom" style=" font-family: -webkit-pictograph;"> Effective
:  </td>
							<td width="400" align="left" valign="bottom" style="border-bottom:1px solid #000;"></td>
							
							<td width="50" height="35" align="left" valign="bottom" style=" font-family: -webkit-pictograph;">Expires
:  </td>
							<td width="220" align="left" valign="bottom" style="border-bottom:1px solid #000;"></td>
							
							
							
							
						</tr>
					</tbody>
				</table></td>
		</tr>









<tr>
			<td><table width="100%" style=" font-size:20px;">
					<tbody>
						<tr>
						<td width="48%"></td>
		<td width="52%" align="left" style="font-size:25px;"> <strong>Witnesses to the Accident </strong></td>
							
						</tr>
					</tbody>
				</table></td>
		</tr>



	<tr>
			<td><table width="95%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="62" style=" font-family: -webkit-pictograph;"> Name:
 </td>
							<td width="417" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
							<td width="59" align="left"> 
Name:
</td>
							<td width="481" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
						</tr>
					</tbody>
			</table></td>
		</tr>





<tr>
			<td><table width="95%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="62" style=" font-family: -webkit-pictograph;">Address: 
 </td>
							<td width="417" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
							<td width="59" align="left"> 
 Address: 
</td>
							<td width="481" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
						</tr>
					</tbody>
			</table></td>
		</tr>




<tr>
			<td><table width="95%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="62" style=" font-family: -webkit-pictograph;">Telephone: 
 </td>
							<td width="417" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
							<td width="59" align="left"> 
 Telephone: 
</td>
							<td width="481" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
						</tr>
					</tbody>
			</table></td>
		</tr>



<tr><td>Reason for application to Motor Vehicle Accident Indemnification Corporation:</td></tr>




	<tr>
			<td><table width="100%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="477" style=" font-family: -webkit-pictograph;"> Uninsured Car
     [ ]  </td>
							<td width="605" style=" font-family: -webkit-pictograph;"> Stolen Car
 [ ]  </td>
							
						</tr>
					</tbody>
				</table></td>
		</tr>






<tr>
			<td><table width="100%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="452" style=" font-family: -webkit-pictograph;"> Denial of Coverage
 [ ] attach copy </td>
							<td width="630" style=" font-family: -webkit-pictograph;"> Unidentified Car [ ]lll  </td>
							
						</tr>
					</tbody>
				</table></td>
		</tr>



<tr><td height="40" valign="bottom">Disclaimer of Coverage [ ] attach copy</td></tr>



<tr>
			<td><table width="100%" style=" font-size:20px;">
					<tbody>
						<tr>
						<td width="28%"></td>
		<td width="48%" align="left" style="font-size:25px; border-bottom:2px solid #000;"> <strong>Attach a copy of both sides of Police Report</strong></td>
					<td width="24%"></td>		
						</tr>
					</tbody>
				</table></td>
		</tr>


<tr><td style="text-decoration:underline; text-align:justify;">ANY PERSON WHO KNOWINGLY AND WITH INTENT TO DEFRAUD ANYINSURANCE COMPANY 
OR OTHER PERSON WHO FILES A STATEMENT OF CLAIM
CONTAINING ANY MATERIALLY FALSE 
INFORMATION. OR CONCEALS FOR THE PURPOSE OF MISLEADING. INFORMATION CONCERNING ANY 
FACT  MATERIAL
THERE  TO  COMMITS  A  FRAUDULENT  
INSURANC
E  ACT,  WHICH
  IS  A  CRIME  
AND 
SHALL
 BE SUBJECT TO A CIVIL PENALTY NOT TO EXCEED FIVE THOUSAND DOLLARS 
AND THE STATED VALUE OF THE CLAIM FOR EACH VIOLATION</td></tr>


	<tr>
			<td><table width="100%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="201" style=" font-family: -webkit-pictograph;">Sworn to before me this </td>
					
							<td width="102" align="left">day</td>
							<td width="456" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
							<td width="315"></td>
						</tr>
					</tbody>
				</table></td>
		</tr>






<tr>
			<td><table width="100%" style=" font-size:20px;">
					<tbody>
						<tr>
							<td width="456" style=" font-family: -webkit-pictograph;">Of </td>
					
							<td width="626" align="left">(Signature of person making claim)</td>
						
						</tr>
					</tbody>
				</table></td>
		</tr>





	<tr>
			<td><table width="100%" style=" font-size:20px;">
					<tbody>
						<tr>
					
							<td width="273" style=" font-family: -webkit-pictograph; border-bottom:1px solid #000;"></td>
							<td width="809"></td>
						</tr>
					</tbody>
				</table></td>
		</tr>

<tr><td>Notary Public (signature)</td></tr>





</tbody></table>















