<style>
@page { margin: 0.75cm; }
</style>

<table width="100%" border="0" align="center" style="font-family: sans-serif; padding:20px 0 200px 0; ">
        <tbody>
                <tr>
                        <td><table width="1100px" border="0" style="margin:0 auto;">
                                        <tbody>
                                                <tr>
                                                        <td width="35%" height="200" align="left" valign="top"><table width="100%" border="0">
                                                                        <tbody>
                                                                                <tr>
                                                                                        <td style="padding:0 0 15px 0; font-size:16px;"><p>1963 Grand Concourse, 2nd Fl. Bronx,NY 10453 <br>
                                                                                                        P:(718) 466 -4600 / F: (718) 466- 1100 </p></td>
                                                                                </tr>
                                                                                <tr>
                                                                                        <td style="padding:0 0 15px 0; font-size:16px;"><p> 6555 Woodhaven Blvd Rego Park , NY 11374 <br>
                                                                                                        P: (718) 255 -6615 / F: (718) 255- 1394 </p></td>
                                                                                </tr>
                                                                                <tr>
                                                                                        <td style="padding:0 0 15px 0; font-size:16px;"><p> 910 E. Gun Hill Road, Bronx, NY 10469 <br>
                                                                                                        P: (718) 882 -8500 / F: (718) 882- 4400 </p></td>
                                                                                </tr>
                                                                                <tr>
                                                                                        <td style="padding:0 0 15px 0; font-size:16px;"><p> 55 Greene Ave, Ste LLB, Brooklyn, NY 11238 <br>
                                                                                                        P: (718) 398 -7777 / F:718- 399- 7777 </p></td>
                                                                                </tr>
                                                                        </tbody>
                                                                </table></td>
                                                        <td width="28%" align="center"  style="padding:100px 20px 0 0;"><strong style="border-bottom:2px solid #000; line-height:95px; font-size:27px; padding:0 0 60px 0; display:block;">Optimum Health </strong>
                                                                <strong style="border-bottom:2px solid #000; line-height:95px; font-size:27px; display:block;">
                                                                Acupuncture, P.C.</strong>
                                                                </td>
                                                        <td width="37%" align="left" valign="top"><table width="100%" border="0">
                                                                        <tbody>
                                                                                <tr>
                                                                                        <td style="padding:0 0 15px 0; text-align: left; font-size:16px;"><p>JFK Airport Bldg. 75, Ste. 247 - 249 Jamaica, NY 11430 <br>
                                                                                                        P: (718) 656 -9500 / F: (718) 656- 9503 </p></td>
                                                                                </tr>
                                                                                <tr>
                                                                                        <td style="padding:0 0 15px 0; text-align: left; font-size:16px;"><p> 14 Mamaroneck Ave., 2nd Fl. White Plains, NY 10601 <br>
                                                                                                        P: (914) 949 -5555 / F: (914) 993- 3333 </p></td>
                                                                                </tr>
                                                                                <tr>
                                                                                        <td style="padding:0 0 15px 0; text-align: left; font-size:16px;"><p>JFK Airport Bldg. 14, Ste. 14A, Jamaica, NY 11430 <br>
                                                                                                        P: (718) 656 -1245 / F: (718) 656- 3060 </p></td>
                                                                                </tr>
                                                                                <tr>
                                                                                        <td style="padding:0 0 15px 0; text-align: left; font-size:16px;"><p>92- 20 165th Street, Jamaica, NY 11433 <br>
                                                                                                        P: (718) 725 -0044 / F: (718) 725- 0880 </p></td>
                                                                                </tr>
                                                                        </tbody>
                                                                </table></td>
                                                </tr>
                                        </tbody>
                                </table></td>
                </tr>
                <tr>
                        <td><table width="1100px" border="0" style="font-size: 20px; font-family: sans-serif; margin:0 auto;  padding:0 0 40px 0;">
                                        <tbody>
                                                <tr>
                                                        <td height="30" align="center" valign="middle" style="font-size: 20px;"><strong style="border-bottom:2px solid #000;  line-height:35px; display:block;  padding:0 30px 0 0;">INFORMED CONSENT <br>
                                                                FORM</strong></td>
                                                </tr>
                                        </tbody>
                                </table></td>
                </tr>
                <tr>
                        <td><table width="1100px" border="0" align="center" style="font-size: 22px; font-family: serif; margin:0 auto;">
                                        <tbody>
                                                <tr>
                                                        <td style=" text-align:justify;
              line-height:30px; padding:0 0 30px 0;"><p>“Acupuncture”  means  stimulation  of  certain  points  on  the  surface  of  the  body  by  inserting  disposable  
                                                                        needles  to  prevent  and/or  modify  the  perception  of  pain  or  to  normalize  physiological  functions,  
                                                                        including  pain  control,  for  the  treatment  certain  diseases
                                                                        or  dysfunction  of  the  body,  and  includes  the  
                                                                        techniques of electro acupuncture, mechanical stimulation and moxibustion. </p></td>
                                                </tr>
                                                <tr>
                                                        <td style=" text-align:justify;
              line-height:30px; padding:0 0 30px 0;"><p>The  potential  benefits  are:  acupuncture  may  allow  for  painless  and  drugless  relief  of  one’s  symptoms  
                                                                        and improved balance of body energ
                                                                        ies leading to prevention and/or elimination of the problem. </p></td>
                                                </tr>
                                                <tr>
                                                        <td style=" text-align:justify;
              line-height:30px; padding:0 0 30px 0;"><p>The  potential  risks  are:  slight  pain  and  discomfort  at  the  site  of  the  needle  insertion,  infection,  bruises,  
                                                                        weakness, fainting, and nausea</p></td>
                                                </tr>
                                                <tr>
                                                        <td style=" text-align:justify;
              line-height:30px; padding:0 0 30px 0;"><p>With this knowledge I voluntarily consent to the above procedures.</p></td>
                                                </tr>
                                        </tbody>
                                </table></td>
                </tr>
                <tr>
                        <td><table width="1100px" border="0" align="center" style="font-size: 22px; font-family: serif; margin:0 auto;">
                                        <tbody>
                                                <tr>
                                                        <td width="41%" height="40" valign="bottom" align="left">I, THE UNDERSIGNED, DO AFFIRM THAT</td>
                                                        <td width="40%" height="40" valign="bottom" style="border-bottom:1px solid #000;"></td>
                                                        <td width="19%" height="40" valign="bottom"> (THE PATIENT) </td>
                                                </tr>
                                        </tbody>
                                </table></td>
                        d </tr>
                <tr>
                        <td><table width="100%" border="0" style="font-size: 20px; font-family: serif; margin:0 auto;">
                                        <tbody>
                                                <tr>
                                                        <td style="word-spacing:10px; line-height:35px; text-align:justify;"><p>HAS  BEEN  ADVISED  BY  Vadim  Dolsky,  L.A.C.  (A  NYS  LICENSED  ACUPUNCTURIST),  TO  
                                                                        CONSULT  A  PHYSICIAN  REGAURDING  THE  CONDITION  OR  CONDITIONS  FOR  WHICH  
                                                                        SUCH PATIENT SEEKS
                                                                        ACUPUNCTURE TREATMENT.</p></td>
                                                </tr>
                                        </tbody>
                                </table></td>
                </tr>
                <tr>
                        <td><table width="1100" border="0" style="font-size: 20px; font-family: serif; margin:0 auto;">
                                        <tbody>
                                                <tr>
                                                        <td height="40" width="40%" align="left" valign="bottom" style="border-bottom:1px solid #000;"></td>
                                                        <td height="40" width="32%" align="left" valign="bottom"></td>
                                                        <td height="40" width="30%" align="left" valign="bottom" style="border-bottom:1px solid #000;"></td>
                                                </tr>
                                        </tbody>
                                </table></td>
                </tr>
                <tr>
                        <td><table width="1100" border="0" style="font-size: 20px;font-family: serif; margin:0 auto;">
                                        <tbody>
                                                <tr>
                                                        <td  width="40%" align="center" valign="bottom" >(Signature of Patient) </td>
                                                        <td  width="32%" align="left" valign="bottom"></td>
                                                        <td  width="30%" align="center" valign="bottom" >(Date)</td>
                                                </tr>
                                        </tbody>
                                </table></td>
                </tr>
                <tr>
                        <td><table width="1100" border="0" style="font-size: 20px; font-family: serif; margin:0 auto;">
                                        <tbody>
                                                <tr>
                                                        <td height="40" width="40%" align="left" valign="bottom" style="border-bottom:1px solid #000;"></td>
                                                        <td height="40" width="32%" align="left" valign="bottom"></td>
                                                        <td height="40" width="30%" align="left" valign="bottom" style="border-bottom:1px solid #000;"></td>
                                                </tr>
                                        </tbody>
                                </table></td>
                </tr>
                <tr>
                        <td><table width="1100" border="0" style="font-size: 20px; font-family: serif; margin:0 auto 50px;">
                                        <tbody>
                                                <tr>
                                                        <td  width="40%" align="center" valign="bottom" >(Signature of Acupuncturist) </td>
                                                        <td  width="32%" align="left" valign="bottom"></td>
                                                        <td  width="30%" align="center" valign="bottom" >(Date)</td>
                                                </tr>
                                        </tbody>
                                </table></td>
                </tr>
                <tr>
                        <td><table width="1100" border="0" style="font-size: 22px; font-family: serif; margin:0 auto;">
                                        <tbody>
                                                <tr>
                                                        <td  width="100%"  valign="bottom" style=" line-height:35px; text-align:left;"><p>A NYS licensed acupuncturist shall advise each patient as to the importance of consulting with a 
                                                                        licensed physician regarding the patient’s condition and shall keep on file with the patients records, a 
                                                                        form attesting to the patient, signed and dated by both the acupuncturist and the patient. </p></td>
                                                </tr>
                                        </tbody>
                                </table></td>
                </tr>
        </tbody>
</table>
